.Heading {
  color: var(--text);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.Heading--h1 {
  font-size: 64px;
  line-height: 1.13;
}

.Heading--h2 {
  font-size: 48px;
  line-height: 1.17;
}

.Heading--h3 {
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 767px) {
  .Heading--h1 {
    font-size: 64px;
  }
  .Heading--h2 {
    font-size: 40px;
  }
  .Heading--h3 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 375px) {
  .Heading--h1 {
    font-size: 48px;
  }
  .Heading--h2 {
    font-size: 34px;
  }
  .Heading--h3 {
    font-size: 21px;
  }
}
