.List > .ListItem {
  color: var(--text);
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  font-size: 15px;
  line-height: 24px;
  font-weight: var(--weight-normal);
}

@media only screen and (max-width: 767px) {
  .List > .ListItem {
    font-size: 11px;
  }
}
