.HelperText__Label {
  text-transform: uppercase;
  color: var(--black-600);
  border-bottom: 1px dashed var(--black-300);
}

.HelperText__Content > p.dg.Paragraph {
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: var(--black-200);
}

.HelperText__Content > p.dg.Paragraph > a.dg.Link.Link--pointer {
  color: var(--blue-600);
}

.ui.bottom.center.popup.transition.visible.Helper__Container--Popup {
  z-index: 3000;
}
