.HelperText__Label {
  text-transform: uppercase;
  color: var(--black-600);
  border-bottom: 1px dashed var(--black-300);
}

.HelperText__Content {
  letter-spacing: 0.4px !important;
  color: var(--black-200) !important;
  margin-bottom: 0 !important;
}

.HelperText__Pointer {
  color: var(--blue-600) !important;
}

.ui.bottom.center.popup.transition.visible.Helper__Container--Popup {
  z-index: 3000;
}
