.VotingPower {
  display: inline-flex;
  align-items: center;
  color: var(--text);
  font-size: 15px;
  line-height: 24px;
}

.VotingPower.secondary {
  color: var(--secondary-text)
}

.VotingPower.huge {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
}

.VotingPower.large {
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.VotingPower.medium{
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.315px;
}

.VotingPower.small,
.VotingPower.tiny {
  font-size: 15px;
  line-height: 24px;
}

.VotingPower svg {
  margin: .1em 0 0 4px;
  height: .8em;
  width: auto;
}

.VotingPower.huge svg,
.VotingPower.large svg {
  margin-left: 8px;
}

.VotingPower.medium svg {
  margin-left: 6px;
}

.VotingPower.small svg,
.VotingPower.tiny svg {
  margin-left: 4px;
}