.UpdateDetail__Content .ui.header {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--black-600) !important;
}

.UpdateDetail__ContentText,
.UpdateDetail__ListItem {
  font-size: 15px !important;
  line-height: 26px !important;
  overflow-wrap: break-word;
}

.UpdateDetail__ContentText img {
  max-width: 100%;
}

.UpdateDetail__Dates {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.UpdateDetail__Dates a {
  font-size: 15px !important;
  margin-left: 5px;
}

.UpdateDetail__CompletionDate {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.UpdateDetail__CompletionDateText {
  color: var(--black-400) !important;
  font-size: 15px !important;
  line-height: 24px !important;
  margin-bottom: 0;
}

.UpdateDetail__FinancialContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
