.dcl.page.ProposalPage {
  padding-top: 24px;
}

.dcl.page.ProposalPage .ui.card {
  width: 100%;
  min-height: 100px;
}

.dcl.page.ProposalPage > .ui.container {
  display: flex;
}

.dcl.page.ProposalPage > .ui.container > .ProposalPageBack {
  flex: 0 0 64px;
}

.dcl.page.ProposalPage > .ui.container > .ui.stackable.grid {
  flex: 1 0 100%;
  overflow: hidden;
}

.dcl.page.ProposalPage .ProposalTitle {
  min-height: 42px;
  padding-bottom: 24px;
}

.dcl.page.ProposalPage .ProposalTitle .ui.loader {
  margin: 0 auto
}

.dcl.page.ProposalPage .ProposalTitle .ui.header {
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.dcl.page.ProposalPage .ProposalDetail .ui.header {
  overflow: hidden;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.dcl.page.ProposalPage .ProposalDetail .ui.header.sub {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.dcl.page.ProposalPage .ProposalDetail span {
  font-size: 13px;
  line-height: 18px;
  color: var(--secondary-text);
}

/* .dcl.page.ProposalPage .ui.grid > .row.ProposalDetail > .column {
  padding-left: 1rem;
  padding-right: 0;
} */

.dcl.page.ProposalPage .ProposalActions {
  align-items: flex-start;
}

.dcl.page.ProposalPage .ProposalActions .ui.header {
  margin-top: 6px;
  text-align: center;
  cursor: help;
}

.dcl.page.ProposalPage .ProposalDetail .ui.button,
.dcl.page.ProposalPage .ProposalActions .ui.button {
  width: 100%;
}

.dcl.page.ProposalPage .ProposalActions .voted .current {
  display: block
}

.dcl.page.ProposalPage .ProposalActions .voted .ui.button.switch {
  display: none;
  color: white;
}

.dcl.page.ProposalPage .ProposalActions .voted .ui.button.switch.nay {
  background-color: var(--rejected);
}

.dcl.page.ProposalPage .ProposalActions .voted .ui.button.switch.yea {
  background-color: var(--success);
}

/* .dcl.page.ProposalPage .ProposalActions .voted:hover .current {
  display: none
}

.dcl.page.ProposalPage .ProposalActions .voted:hover .ui.button.switch {
  display: block
} */

.dcl.page.ProposalPage .DetailDebugContainer {
  width: 100%;
  overflow: auto;
}

.dcl.page.ProposalPage .VotePending {
  display: flex;
  justify-content: space-around;
}

.dcl.page.ProposalPage .VotePending .ui.button {
  flex: 0 0 48%
}

.dcl.page.ProposalPage .ui.button.pending {
  border-color: var(--neutral-background);
}

.dcl.page.ProposalPage .ui.button.yea {
  border-color: var(--success);
  color: var(--success);
}

.dcl.page.ProposalPage .ui.button.nay {
  border-color: var(--rejected);
  color: var(--rejected);
}

.dcl.page.ProposalPage .DetailDescription .description {
  color: var(--text);
  font-size: 15px;
  line-height: 24px;
}