@media (min-width: 768px) {
  .CategorySelector {
    margin-left: 61px;
  }
}

.CategorySelector__ItemsContainer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .CategorySelector__ItemsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.CategorySelector__Description {
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 24px;
  color: var(--black-600);
}

.CategorySelector__SuspendedDescription {
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
  color: var(--black-800);
  margin-bottom: 15px;
}

.CategorySelector__DocumentationText {
  font-weight: var(--weight-normal) !important;
  letter-spacing: -0.2px;
  color: var(--black-600) !important;
}
