.ContestedBudget__DistributionBar {
  display: flex;
  position: relative;
}

.ContestedBudgetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  height: 6px;
  min-width: 6px;
  margin: 0;
}

.DistributionBarItem--selected {
  height: 8px;
  scale: 1.05 1;
  background: linear-gradient(90deg, #db00ff 0%, #841191 100%);
  box-shadow: 0 1px 4px #c640cd;
  border-radius: 10px !important;
}

.TransparentBar {
  background: transparent !important;
  height: 2px !important;
}

.HiddenDistributionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  position: absolute;
}

.DistributionBar__Loading {
  height: 8px;
  border: 0;
}

.DistributionBar--empty {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

.DistributionBar__Labels {
  display: flex;
}

.DistributionBar__Labels:last-child {
  margin-right: 0;
}
