.DistributionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 2px;
}

.DistributionBar__Loading {
  height: 8px;
  border: 0;
}

.DistributionBar--empty {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

.DistributionBar__Labels {
  display: flex;
}

.DistributionBar__Labels:last-child {
  margin-right: 0;
}
