.NotificationsFeed__DiscordConnectView {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 10px;
}

.NotificationsFeed__DiscordConnectViewHeading,
.NotificationsFeed__DiscordConnectViewText {
  margin: 0;
}

.NotificationsFeed__DiscordConnectViewPrimaryButton {
  color: var(--white-900) !important;
}
