.NotificationSettings__Container {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.NotificationSettings__Item {
  display: flex;
  justify-content: space-between;
}

.NotificationSettings__TextTitle {
  margin: 0;
}
