.NotificationsFeed__UnsubscribedView {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  align-items: center;
  text-align: center;
}

.NotificationsFeed__UnsubscribedView {
  justify-content: flex-start;
  gap: 10px;
}

.NotificationsFeed__UnsubscribedViewHeading,
.NotificationsFeed__UnsubscribedViewText {
  margin: 0;
}
