.ui.card.ProposalHistory {
  min-width: auto;
  width: 100%;
}

.ui.card.ProposalHistory .content {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.ui.card.ProposalHistory .content img {
  margin-right: 12px;
}

.ui.card.ProposalHistory .content .ui.header {
  text-transform: capitalize;
  margin: 0;
  line-height: 1em;
  font-size: 16px;
}

.ui.card.ProposalHistory .content .ui.header.sub {
  text-transform: uppercase;
  font-size: 13px;
}