.AddBox {
  max-width: 386px;
  height: 64px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-900);
  border: 2px dashed var(--black-300);
  border-radius: 8px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--black-600);
  cursor: pointer;
}

.AddBox--disabled {
  cursor: default;
}

.AddBox__Icon {
  margin-right: 10px;
}
