.AddModal {
  max-width: 520px !important;
}

.AddModal .content {
  margin-bottom: 0 !important;
}

.AddModal__Title {
  font-style: normal !important;
  font-weight: var(--weight-semi-bold) !important;
  font-size: 17px !important;
  line-height: 26px !important;
  letter-spacing: -0.2px !important;
  color: var(--black-800) !important;
  margin: 0 !important;
}

.AddModal__PrimaryButton {
  margin-top: 10px !important;
}

.AddModal__SecondaryButton {
  background-color: transparent !important;
  box-shadow: none !important;
}

.AddModal__SecondaryButton:hover {
  transform: none !important;
}

.AddModal .ProjectRequestSection__Field .LabelContainer label {
  margin: 0;
}

.AddModal .ProjectRequestSection__Field .LabelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.AddModal .ProjectRequestSection__Field .LabelContainer .Optional {
  font-style: italic;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: var(--black-400);
}
