.BreakdownAccordion .BreakdownAccordion__Title {
  font-family: var(--font-family) !important;
}

.BreakdownAccordion__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BreakdownAccordion__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  letter-spacing: 0.4px;
  color: var(--black-700);
  text-transform: capitalize;
}

.BreakdownAccordion__Subtitle {
  font-weight: var(--weight-normal);
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.BreakdownAccordion__SizeContainer {
  display: flex;
  align-items: center;
}

.BreakdownAccordion__SizeContainer > *:not(:last-child) {
  margin-right: 18px;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.4px;
}

.BreakdownAccordion__Arrow {
  transform: rotate(90deg);
  transition: all 0.5s ease 0s;
}

.BreakdownAccordion__Arrow.BreakdownAccordion__Arrow--selected {
  transform: rotate(-90deg);
}

.BreakdownAccordion__Arrow.BreakdownAccordion__Arrow--selected .svg-fill-white {
  fill: #d2d0d5;
  stroke: #d2d0d5;
}

.BreakdownAccordion__Arrow.BreakdownAccordion__Arrow--selected .svg-stroke-black {
  stroke: var(--white-900);
}
