.BreakdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-900);
  margin-bottom: 23px;
  padding: 0 16px;
  height: 64px;
  border: 1px solid var(--black-300);
  box-shadow: 0px 1px 4px var(--alpha-black-300);
  border-radius: 8px;
  cursor: pointer;
}

.BreakdownItem__Title {
  margin: 0;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  letter-spacing: 0.4px;
  color: var(--black-700);
}

.BreakdownItem__Subtitle {
  margin: 0;
  font-weight: var(--weight-normal);
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--black-600);
}

.BreakdownItem__Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.BreakdownItem__Extra {
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.4px;
  color: var(--black-600);
}
