.BudgetInput__Container {
  display: flex;
}

.BudgetInput__InputContainer {
  display: inline-flex;
  border: 1px solid var(--alpha-black-400);
  border-radius: 6px;
  position: relative;
  margin-bottom: 7px;
}

.BudgetInput__InputContainer--error {
  border: 1px solid var(--red-800);
}

.BudgetInput__Description {
  padding: 9px;
  background: var(--alpha-black-200);
  font-weight: var(--weight-normal);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-600);
  border-right: 1px solid var(--alpha-black-400);
}

.BudgetInput__Description--error {
  background: var(--red-100);
  border-right: 1px solid var(--red-800);
}

.BudgetInput__Input {
  padding: 9px 11px;
  min-width: 160px;
  border: none;
  border-radius: 6px;
  font-weight: var(--weight-normal);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-600);
  outline-color: var(--black-800);
}

.BudgetInput__Input--error {
  outline-color: var(--red-800);
}

.BudgetInput__Input:hover + .BudgetInput__ErrorHelper {
  right: 35px;
}

.BudgetInput__Input:focus + .BudgetInput__ErrorHelper {
  right: 35px;
}

.BudgetInput__ErrorHelper {
  display: flex;
  position: absolute;
  right: 9px;
  top: 14px;
}

.BudgetInput__ErrorHelper > .Helper__Container {
  height: 16px;
}

.BudgetInput__Subtitle {
  font-style: italic !important;
  font-weight: var(--weight-normal) !important;
  color: var(--black-600) !important;
}
