.CheckboxField {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: -11px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 11px;
  cursor: pointer;
}

.CheckboxField:hover {
  background-color: var(--black-200);
  border-radius: 6px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.CheckboxField > .ui.radio.checkbox input.hidden ~ label:before {
  border: 1px solid var(--secondary-text);
}

.CheckboxField > .ui.radio.checkbox > label:before {
  background: var(--white-900) !important;
}

.CheckboxField > .ui.radio.checkbox.checked > label:before {
  background: var(--dcl-primary) !important;
  border: 0 !important;
}

.CheckboxField__Text {
  letter-spacing: -0.2px !important;
  font-weight: var(--weight-normal) !important;
}
