.GrantRequestFundingSection__Radio {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: -11px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 11px;
  cursor: pointer;
}

.GrantRequestFundingSection__Radio:hover {
  background-color: var(--black-200);
  border-radius: 6px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.GrantRequestFundingSection__Radio > .ui.radio.checkbox input.hidden ~ label:before {
  border: 1px solid var(--secondary-text);
}

.GrantRequestFundingSection__Radio > .ui.radio.checkbox > label:before {
  background: var(--white-900) !important;
}

.GrantRequestFundingSection__Radio > .ui.radio.checkbox.checked > label:before {
  background: var(--dcl-primary) !important;
  border: 0 !important;
}

.GrantRequestFundingSection__Radio > p.dg.Paragraph {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  font-weight: var(--weight-semi-bold);
  text-align: left;
}

.GrantRequestFundingSection__Radio > a.dg.Link.Link--pointer {
  font-weight: var(--weight-boldemort);
}
