.GrantRequestSectionCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--black-300);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  padding: 12px 16px 20px;
  min-height: 104px;
  justify-content: space-between;
}

.Link.Link--pointer.GrantRequestSectionCard {
  cursor: default;
  color: var(--black-800);
}

.GrantRequestSectionCard__Error {
  border: 1px solid var(--red-150);
  box-shadow: 0 1px 8px var(--red-100);
}

.Link.Link--pointer.GrantRequestSectionCard__Hoverable {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.GrantRequestSectionCard__Hoverable:hover {
  box-shadow: 0 10px 10px var(--black-200);
}

.GrantRequestSectionCard__Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.GrantRequestSectionCard__Header > button.ui.basic.button {
  padding-top: 0;
}

.GrantRequestSectionCard__HeaderTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  width: 100%;
}

.GrantRequestSectionCard__Header > button.ui.basic.button {
  padding-bottom: 0;
}

.GrantRequestSectionCard__ContentTitle {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
  line-height: 24px;
}

.GrantRequestSectionCard__AlignBaseline {
  align-items: baseline;
}

.GrantRequestSectionCard__SubTitle {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: var(--black-600);
}

.GrantRequestSectionCard__TitleExtra {
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 22px;
  color: var(--black-600);
  opacity: 0.5;
}

.GrantRequestSectionCard__CapsSubTitle {
  font-weight: var(--weight-semi-bold);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}

.GrantRequestSectionCard__Empty {
  min-width: 290px;
  height: 22px;
}

@media (min-width: 768px) {
  .GrantRequestSectionCard__Empty {
    min-width: 220px;
  }
}

@media (min-width: 992px) {
  .GrantRequestSectionCard__Empty {
    min-width: 348px;
  }
}
