.GrantRequestSection__Container {
  margin-bottom: 50px;
}

.GrantRequestSection__Head {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.GrantRequestSection__Header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.GrantRequestSection__HeaderTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.4px;
  text-align: left;
}

.GrantRequestSection__HorizontalLine {
  flex-grow: 100;
  border: 1px solid rgba(115, 110, 125, 0.24);
}

.GrantRequestSection__FixedSizeIcon {
  min-width: 34px;
  max-width: 34px;
}

.GrantRequestSection__Content {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
}

.GrantRequestSection__Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.GrantRequestSection__InputTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: var(--black-600);
}

.GrantRequestSection__InputSubtitle > p.dg.Paragraph {
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--black-600);
}

.GrantRequestSection__InputLabel {
  padding-right: 20px;
}

.GrantRequestSection__MarkdownField {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.GrantRequestSection__Label {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: var(--black-600);
}

.GrantRequestSection__Sublabel {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--black-600);
}
