.CurrentGrantsList {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.CurrentGrants__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.CurrentGrants__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 13px;
}

.CurrentGrants__Filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .CurrentGrants__Filters {
    flex-direction: row;
    align-items: center;
  }

  .CurrentGrants__Empty {
    margin-top: 185px;
  }
}

.CurrentGrants__Container {
  display: grid;
  grid-gap: 14px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .CurrentGrants__Container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: subgrid;
    grid-gap: 22px;
  }
}

.ui.container.CurrentGrants__Container {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.CurrentGrantsList__Wrapper {
  display: flex;
  width: 100%;
}
