.ProposalEmbed {
  margin: 1em 0;
  word-break: break-word;
}

.ProposalEmbed .ProposalEmbedActions {
  display: flex;
  justify-content: flex-end;
}

.ProposalEmbed .ProposalEmbedActions .ui.button.basic {
  text-transform: none;
}