.ProfileBox__Container {
  background: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.ProfileBox__Padded {
  padding-right: 16px;
  padding-left: 16px;
}

.ProfileBox__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileBox__Header .ProfileBox__Header--title > span {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-right: 4px;
}

.ProfileBox__Header > div {
  display: inline-flex;
  text-transform: uppercase;
}

.ProfileBox__Container .Divider__Container {
  margin: 13px 0;
}

.ProfileBox__Container .ProfileBox__Header--action .ui.button {
  padding: 0;
}
