.ProfileBox__Container {
  background: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 24px;
}

.ProfileBox__Padded {
  padding-right: 16px;
  padding-left: 16px;
}

.ProfileBox__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}

.ProfileBox__HeaderTitle > span {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-right: 4px;
}

.ProfileBox__HeaderTitle {
  display: inline-flex;
  text-transform: uppercase;
}

.ProfileBox__Divider {
  margin-bottom: 12px;
  margin-top: 0 !important;
}

.ProfileBox__Container .ProfileBox__HeaderAction .ui.button {
  padding: 0;
}
