.ProfileSettings {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  margin: 0;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--black-400);
  cursor: pointer;
  color: var(--black-700);
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px 0px rgba(115, 110, 125, 0.2);
  width: 25.5px;
  transition: width 0.2s ease-in;
  white-space: nowrap;
  overflow: hidden;
}

.ProfileSettings:hover,
.ProfileSettings--active {
  width: 153px;
}

.ProfileSettings__IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileSettings__ButtonContainer {
  position: relative;
}

.ProfileSettings__Dot {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: var(--dcl-primary);
}
