.ui.dropdown.ProfileSettings {
  display: flex !important;
}

.ui.dropdown.ProfileSettings > .menu,
.ui.dropdown.ProfileSettings > .menu .item {
  background: var(--black-700);
  color: var(--white-900);
}

.ui.dropdown.ProfileSettings > .menu .item:hover {
  background: var(--black-600);
}
