.VotingPower {
  display: inline-flex;
  align-items: center;
  color: var(--text);
  font-size: 15px;
  line-height: 24px;
}

.VotingPower.secondary {
  color: var(--secondary-text)
}

.VotingPower.big {
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.VotingPower img {
  margin-left: .2em;
  height: 1em;
}