.ui.container.UserVpStats__Container {
  display: flex;
  gap: 41px;
  margin-bottom: 44px;
}

.UserVpStats__UserInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

span.Username.UserVpStats__Username {
  margin-bottom: 24px;
}

span.Username.UserVpStats__Username > span {
  font-weight: 600;
  font-size: 40px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

span.Username.UserVpStats__Username > img.dg.dcl-avatar.dcl-avatar--medium.dcl-avatar--5 {
  margin-right: 12px;
}
.UserVpStats__StatBoxes {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  margin-bottom: 44px;
}

.UserVpStats__VpDistribution {
  margin-top: 24px;
}
