.ui.container.UserStats__Container {
  display: flex;
  gap: 41px;
}

.UserStats__UserInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UserStats__UsernameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.UserStats__UsernameContainer,
.UserStats__Username {
  gap: 8px;
}

.Username.UserStats__Username {
  display: flex;
}

.UserStats__UsernameContainer > svg {
  height: 20px;
  width: 15px;
}

.UserStats__Username > span {
  font-weight: var(--weight-semi-bold);
  font-size: 24px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.Username.UserStats__Username > img {
  margin-right: 0;
}

.UserStats__Slider {
  margin-bottom: 24px;
}

.UserStats__VpDistributionBox {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .UserStats__UsernameContainer {
    margin-bottom: 24px;
  }

  .UserStats__UsernameContainer,
  .UserStats__Username {
    gap: 12px;
  }

  .UserStats__UsernameContainer > svg {
    height: 32px;
    width: 24px;
  }

  .UserStats__Username > span {
    font-size: 40px !important;
  }

  .UserStats__StatBoxes {
    display: flex;
    justify-content: space-between;
  }

  .UserStats__StatBoxes:not(:last-child) {
    margin-bottom: 44px;
  }

  .UserStats__StatBoxes :last-child {
    margin-right: 0;
  }

  .UserStats__VpDistributionBox {
    margin-bottom: 44px;
  }
}
