.Username {
  display: flex;
  align-items: center;
}

.Username span.dcl.blockie-wrapper {
  display: flex;
  align-items: center;
}

a.Username span.address {
  color: inherit;
}

.Username img.dcl-avatar {
  margin-right: .5rem;
}
