.ui.container.UserStats__Container {
  display: flex;
  gap: 41px;
  margin-bottom: 44px;
}

.UserStats__UserInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UserStats__Username {
  gap: 12px;
  margin-bottom: 24px;
}

.UserStats__Username > span {
  font-weight: 600;
  font-size: 40px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.UserStats__VpDistribution {
  margin-top: 24px;
}
