.ui.container.UserStats__Container {
  display: flex;
  gap: 41px;
}

.UserStats__UserInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UserStats__Username {
  gap: 8px;
  margin-bottom: 16px;
}

.UserStats__Username > span {
  font-weight: 600;
  font-size: 24px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.UserStats__VpDistribution {
  margin-top: 24px;
}

.UserStats__Slider {
  margin-bottom: 24px;
}

.UserStats__VpDistributionBox {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .UserStats__Username {
    gap: 12px;
    margin-bottom: 24px;
  }

  .UserStats__Username > span {
    font-size: 40px !important;
  }

  .UserStats__StatBoxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  .UserStats__StatBoxes :last-child {
    margin-right: 0;
  }

  .UserStats__VpDistributionBox {
    margin-bottom: 44px;
  }
}
