.dcl.stats.UserStats {
  position: relative;
}

.dcl.stats.UserStats.disabled {
  opacity: .8;
}

.dcl.stats.UserStats .ui.loader {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.dcl.stats.UserStats.without-sub .ui.loader {
  transform: translate(0,0);
}

.dcl.stats.UserStats .ui.header.UserStatsHeader {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  word-break: break-all;
  overflow: hidden;
}

.dcl.stats.UserStats .ui.header.UserStatsHeader,
.dcl.stats.UserStats .ui.header .dcl.address {
  margin-bottom: 0;
}

.dcl.stats.UserStats .ui.header.medium.UserStatsHeader,
.dcl.stats.UserStats .ui.header.medium .dcl.address {
  font-size: 21px;
  font-weight: normal;
}

.dcl.stats.UserStats .ui.header.huge.UserStatsHeader,
.dcl.stats.UserStats .ui.header.huge .dcl.address {
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;

}

.dcl.stats.UserStats .dg.dcl-avatar {
  margin: 0 .25em 0 0;
  vertical-align: text-bottom;
  width: 1em;
}