.UserStatBox__Container {
  width: 100%;
  max-width: 273px;
  background: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  min-height: 85px;
  padding: 16px 16px;
  margin-right: 16px;
}

.UserStatBox__Header {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.UserStatBox__Title {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  min-width: 100px;
}

.UserStatBox__Info {
  height: 14px;
  width: 14px;
}

@media (min-width: 768px) {
  .UserStatBox__Container {
    min-width: 273px;
    margin-right: 23px;
    max-width: unset;
  }
}
