.ui.container.UserVpStats__Container {
  display: flex;
  gap: 41px;
  margin-bottom: 44px;
}

.UserVpStats__UserInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UserVpStats__Username {
  gap: 12px;
  margin-bottom: 24px;
}

.UserVpStats__Username > span {
  font-weight: 600;
  font-size: 40px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.UserVpStats__Slider {
  margin-bottom: 44px;
}

.UserVpStats__VpDistribution {
  margin-top: 24px;
}

.UserVpStats__Carousel .flickity-slider {
  margin: 0 16px !important;
}

@media (min-width: 768px) {
  .UserVpStats__StatBoxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  .UserVpStats__StatBoxes :last-child {
    margin-right: 0;
  }
}
