.UserVpStats__Slider {
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .UserVpStats__StatBoxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  .UserVpStats__StatBoxes :last-child {
    margin-right: 0;
  }
}
