.ErrorMessage__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--red-100);
  opacity: 0.9;
  border-radius: 6px;
}

.ErrorMessage__Header--vertical {
  align-items: center !important;
  flex-direction: column;
  gap: 8px;
}

.ErrorMessage__Header {
  display: inline-flex;
  align-items: flex-start;
  margin: 12px 16px;
}

.ErrorMessage__ErrorNotice {
  display: flex;
  align-items: center;
}

.ErrorMessage__ErrorNoticeLabel {
  font-weight: var(--weight-normal);
  line-height: 20px;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.ui.button.ErrorMessage__Show {
  height: 20px;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 21px;
  color: var(--red-800) !important;
  padding: 0;
}

.ErrorMessage__Message {
  background: var(--white-900);
  border-radius: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 9px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 16px;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  align-items: flex-end;
}

.ErrorMessage__Message pre {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-right: 41px;
  width: 100%;
}

button.ui.small.primary.button.Button.ErrorMessage__Copy {
  width: 135px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  padding: 0 6px;
  font-weight: var(--weight-normal);
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--black-600);
  background: var(--white-900);
  border: 1px solid var(--black-400);
  box-shadow: 0 2px 4px var(--black-400);
  border-radius: 4px;
  margin-bottom: 9px;
  margin-right: 10px;
}

.ErrorMessage__CallForAction {
  margin-left: 16px;
}

.ErrorMessage__CallForActionText {
  font-weight: var(--weight-normal) !important;
  color: var(--background-popup) !important;
}

.ErrorMessage__CallForActionLink {
  font-weight: var(--weight-bold);
}

.ErrorMessage__Content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease-out;
}

.ErrorMessage__Content--open {
  height: auto;
  opacity: 1;
  margin-bottom: 16px;
}
