.ui.modal.AccountsConnectModal .header.AccountsConnectModal__Header {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
