.ui.modal.AccountsConnectModal .header.AccountsConnectModal__Header {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__HelperContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__HelperText {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--black-600);
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__Timer {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--red-800);
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostIcons > *:not(:last-child) {
  margin-right: 16px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText,
.ui.modal.AccountsConnectModal .AccountsConnectModal__PostAction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText--subtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText--subtext > svg {
  margin-left: 2px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText .dg.Paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
  max-width: 70%;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText .dg.Paragraph .Bold {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText--subtext .dg.Paragraph,
.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText--subtext .dg.Paragraph .Bold {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--black-600);
  max-width: 100%;
  margin: 0;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostText--subtext .dg.Paragraph .Bold {
  font-weight: 600;
}

.ui.modal.AccountsConnectModal .AccountsConnectModal__PostAction .ui.primary.button {
  width: 40%;
  margin-top: 16px;
}
