.ui.modal.IdentityConnectModal {
  border: 0;
}

.ui.modal.IdentityConnectModal .header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px;
  background: linear-gradient(260.87deg, rgba(49, 74, 222, 0.3) 0.46%, rgba(198, 64, 205, 0.3) 100%);
}

.IdentityConnectModal__Text {
  margin-bottom: 4px;
  text-align: center;
}

.IdentityConnectModal__StrongText {
  font-size: 17px !important;
  line-height: 26px !important;
  letter-spacing: -0.2px !important;
}

.IdentityConnectModal__ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.button.IdentityConnectModal__Button {
  margin-top: 20px;
  max-width: 55%;
}

.ui.basic.button.IdentityConnectModal__Button {
  text-transform: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: var(--weight-normal);
}

svg.ForumConnectStepIcon circle {
  fill: #fce9ec;
}

svg.ForumConnectStepIcon path {
  fill: #ff2d55;
}

svg.DiscordConnectStepIcon circle {
  fill: #e0dcf3;
}

svg.DiscordConnectStepIcon path {
  fill: #5d5fef;
}
