#ProposalVPChartTooltip {
  --padding-size: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(22, 20, 26, 0.9);
  border-radius: 5px;
  color: var(--white-900);
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0);
  transition: all 0.1s ease;
  width: max-content;
  padding: var(--padding-size);
  z-index: 100;
}

#ProposalVPChartTooltip .avatar {
  --size: 40px;
  min-width: var(--size) !important;
  max-width: var(--size) !important;
  min-height: var(--size) !important;
  max-height: var(--size) !important;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0;
}

.avatar.color--0,
.avatar.color--1 {
  background-color: var(--avatar-color-01);
}

.avatar.color--2,
.avatar.color--3 {
  background-color: var(--avatar-color-23);
}

.avatar.color--4,
.avatar.color--5 {
  background-color: var(--avatar-color-45);
}

.avatar.color--6,
.avatar.color--7 {
  background-color: var(--avatar-color-67);
}

.avatar.color--8,
.avatar.color--9 {
  background-color: var(--avatar-color-89);
}

.avatar.color--a,
.avatar.color--b {
  background-color: var(--avatar-color-ab);
}

.avatar.color--c,
.avatar.color--d {
  background-color: var(--avatar-color-cd);
}

.avatar.color--e,
.avatar.color--f {
  background-color: var(--avatar-color-ef);
}

#ProposalVPChartTooltip .container {
  margin: 0 0 0 var(--padding-size);
}

#ProposalVPChartTooltip .title {
  font-size: 13px;
  font-style: normal;
  line-height: 18px;
  max-width: 160px;
}

#ProposalVPChartTooltip .details {
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: 18px;
  opacity: 0.6;
}
