.DelegationsLabel {
  display: flex;
  justify-content: space-between;
}

.DelegationsLabel__TextContainer {
  align-items: center;
  font-size: 13px;
  width: 100%;
}

.DelegationsLabel__InfoMessage {
  display: inline-flex;
  font-weight: var(--weight-semi-bold);
  color: var(--white-900) !important;
}

.DelegationsLabel__Text {
  padding-left: 4px;
}

.DelegationsLabel__TextSpacing {
  letter-spacing: 0 !important;
}

.DelegationsLabel .DelegationsLabel__HelperContainer {
  display: block;
  height: 24px;
}

.DelegationsLabel .DelegationsLabel__HelperIcon {
  margin-top: 5px;
}

@media (min-width: 1440px) {
  .DelegationsLabel__TextContainer {
    min-width: 232px;
  }
}
