.ProposalVotingSection {
  padding-top: 5px !important;
}

.ProposalVotingSection__Loader {
  margin: 64px 0;
}

.ProposalVotingSection__HeaderLabel {
  margin: 10px 0 8px 0;
}

.ProposalVotingSection__VotingBegins {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-radius: 6px;
  background-color: var(--black-200);
}

.ProposalVotingSection__VotingBeginsText {
  font-weight: var(--weight-normal) !important;
}
.ProposalVotingSection__VotingBeginsText,
.ProposalVotingSection__VotingBeginsStrong {
  color: var(--black-600) !important;
}
