.VotingSectionFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 13px;
  font-style: normal;
  font-weight: var(--weight-light);
  letter-spacing: 0;
}

.VotingSectionFooter .VotingSectionFooter__Button {
  text-transform: capitalize !important;
  margin-top: 0 !important;
  width: 100%;
  font-size: 13px;
}

.VotingSectionFooter__VotingFailedMessage {
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--red-800);
}
