.WrappingInput {
  display: flex;
  border: 1px solid var(--neutral);
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 14px;
  color: var(--secondary-text);
  overflow: hidden;
}

.WrappingInput div.WrappingInputSwap {
  flex: 0 1 auto;
}

.WrappingInput div.WrappingInputMana,
.WrappingInput div.WrappingInputVp {
  display: flex;;
  align-items: center;
}

.WrappingInput div.WrappingInputMana {
  flex: 0 0 45%;
  justify-content: flex-start;
}

.WrappingInput div.WrappingInputVp {
  padding-right: 5%;
  flex: 0 0 40%;
  justify-content: flex-end;
}

.WrappingInput .WrappingInputMana .ui.header.dcl.mana {
  margin: 0 4px;
}

.WrappingInput .WrappingInputMana .ui.header.dcl.mana .symbol,
.WrappingInput .WrappingInputVp .VotingPower,
.WrappingInput .WrappingInputVp .VotingPower svg {
  color: var(--secondary-text);
}

.WrappingInput input {
  border: 0;
  font-size: 15px;
  line-height: 24px;
  margin: 6px 0;
  width: 100%;
  color: var(--secondary-text);
}

.WrappingInput input::-webkit-outer-spin-button,
.WrappingInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}