.BidVotingModal .BidVotingModal__Description > p {
  margin-bottom: 0;
}

.BidVotingModal .BidVotingModal__ActionContainer {
  justify-content: center;
}

.BidVotingModal .BidVotingModal__Action {
  max-width: 40%;
}
