.DelegatorCardProfile {
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 4px var(--black-100);
  border-radius: 8px;
}

.DelegatorCardProfile,
.DelegatorCardProfile__Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.DelegatorCardProfile__Title {
  margin: 0;
  max-width: 315px;
  padding-right: 20px;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  letter-spacing: 0.4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--black-700);
}

.DelegatorCardProfile__Details {
  display: flex;
  flex-direction: column;
}

.DelegatorCardProfile__DelegatedVp {
  color: var(--black-600);
  text-transform: uppercase;
  align-items: center;
  font-weight: var(--weight-normal);
  font-size: 11px;
  line-height: 16px;
}

.DelegatorCardProfile__Avatar {
  display: block;
  margin-right: 9px;
}

.DelegatorCardProfile .dcl.back {
  transform: rotate(180deg);
}
