.DelegationCards {
  padding-top: 12px;
}

.DelegationCards > .ui.stackable.three.column.grid > .column {
  padding: 0 0 12px 0 !important;
}

.DelegationCards > .ui.stackable.three.column.grid > .column:last-child {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .DelegationCards {
    padding: 0 !important;
  }

  .DelegationCards > .ui.stackable.three.column.grid > .column {
    padding: 12px 12px 0 !important;
  }

  .DelegationCards > .ui.stackable.three.column.grid > .column:last-child {
    padding: 12px 12px 0 !important;
  }
}

.DelegationCards .FullWidthButton {
  margin: 16px 0 0 0 !important;
}

.DelegationsCards__EmptyContainer {
  padding: 30px 0;
}

.DelegationsCards__EmptyContainerButton {
  margin-top: 16px;
}
