.DelegatesTableRow {
  cursor: pointer;
}

.DelegatesTableRow__Username {
  margin-left: 2px;
}

.DelegatesTableRow__Username span {
  width: 105px;
  text-align: left;
}

.DelegatesTableRow__CandidateName {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-right: 10px;
  margin-left: 11px;
  color: var(--black-800);
  font-weight: var(--weight-semi-bold);
}

.DelegatesTableRow__LastVoted {
  width: 138px;
  padding-left: 0 !important;
}

@media (min-width: 768px) {
  .DelegatesTableRow__Username span {
    width: unset;
  }
}

@media (min-width: 768px) {
  .DelegatesTableRow__TimesVoted {
    width: 115px;
  }

  .DelegatesTableRow__PickedBy {
    width: 115px;
  }

  .DelegatesTableRow__TotalVP {
    width: 120px;
  }

  .DelegatesTableRow__UsernameArrow {
    display: none;
  }

  .DelegatesTableRow__CandidateName {
    text-align: left !important;
    padding-left: 18px !important;
    margin-left: 0;
    min-width: 200px;
  }

  .DelegatesTable__LastVoted {
    width: 143px;
  }
}
