.VotingPowerListItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.VotingPowerListModalItem__Profile {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
}
