.VotingPowerListModalItem__Address {
	padding-left: 8px;
	color: var(--primary) !important;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
}

.VotingPowerListItem {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	justify-content: space-between;
}

.VotingPowerListModalItem__Profile {
	display: inline-flex;
	align-items: center;
}


.VotingPowerListModalItem__Blockie {
	margin-left: 3px !important;
	margin-right: 3px;
}
