.VotingPowerListModal__Header {
  min-height: 36px !important;
  margin: 0 0 10px 0 !important;
  font-size: 20px !important;
  font-weight: var(--weight-semi-bold) !important;
  line-height: 36px !important;
}

.VotingPowerListModal__Description {
  margin: 0 0 32px 0 !important;
}

.VotingPowerListModal_Items {
  display: flex;
  flex-direction: column;
  height: 71vh;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .VotingPowerListModal_Items {
    height: 50vh;
    margin: 0 auto 40px;
  }
}

.VotingPowerListModal_ItemWithDivider {
  border-bottom: 1px solid #eaeaea;
}
