.CategoryAssessment__Question {
  margin-top: 26px !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: var(--weight-normal);
  color: var(--black-600);
}

.CategoryAssessment__Text {
  font-size: 15px !important;
  line-height: 1.81 !important;
}
