.CategoryAssessment__Question {
  margin-top: 26px !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  color: var(--black-600);
}

.CategoryAssessment__Text {
  color: var(--text);
  font-size: 15px;
  font-weight: var(--weight-normal);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: 0.3px;
}
