.Empty {
  padding: 100px 0;
  text-align: center;
  border: 1px solid rgba(115, 110, 125, .24);
  border-radius: 8px;
}

.Empty.full {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Empty.without-border {
  border: 0;
}

.Empty svg {
  margin-bottom: 24px;
}