.ProfileProposalItem {
  width: 100% !important;
  position: relative;
}

.ProfileProposalItem .ProfileProposalItem__Title {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  padding-right: 40px;
}

.ProfileProposalItem .ProfileProposalItem__Title .ui.header {
  flex: 1;
  padding-right: 15px;
}

.ProfileProposalItem:visited .ProfileProposalItem__Title .ui.header {
  color: var(--black-600);
}

.ProfileProposalItem .ProfileProposalItem__Status {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .ProfileProposalItem .ProfileProposalItem__Status {
    flex-direction: row;
  }
  .ProfileProposalItem .ProfileProposalItem__Title {
    padding-right: 0;
  }
  .ProfileProposalItem .ProfileProposalItem__Title .ui.header {
    font-size: 17px;
  }
}

.ProfileProposalItem .ProfileProposalItem__Title .ui.header:first-child {
  margin-bottom: 0;
}

.ProfileProposalItem__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProfileProposalItem__Details .ui.header {
  margin: 0;
}

.ProfileProposalItem__Stats {
  display: flex;
  align-items: center;
}

.ProfileProposalItem__Stats span:after {
  content: '·';
  padding: 0 5px;
}

.ProfileProposalItem__Stats span:last-child:after {
  content: '';
  padding: 0;
}
