.ProfileProposalItem {
  width: 100% !important;
  position: relative;
  border: 1px solid var(--black-100) !important;
}

.ProfileProposalItem .content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.ProfileProposalItem > .content::after {
  content: none !important;
}

.ProfileProposalItem .ProfileProposalItem__Title {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

.ProfileProposalItem .ProfileProposalItem__Title .ui.header {
  flex: 1;
  font-size: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .ProfileProposalItem .ProfileProposalItem__Title {
    width: 420px;
  }

  .ProfileProposalItem .ProfileProposalItem__Title .ui.header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 992px) {
  .ProfileProposalItem .ProfileProposalItem__Title {
    width: 580px;
  }
}

.ProfileProposalItem:visited .ProfileProposalItem__Title .ui.header {
  color: var(--black-600);
}

.ProfileProposalItem__Status {
  padding-top: 6px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 425px) {
  .ProfileProposalItem .ProfileProposalItem__Status {
    flex-direction: row;
  }

  .ProfileProposalItem .ProfileProposalItem__Title {
    padding-right: 0;
  }
}

.ProfileProposalItem__Title .ui.header:first-child {
  margin-bottom: 0;
}

.ProfileProposalItem__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  color: var(--black-600);
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.ProfileProposalItem__Choice {
  max-width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  .ProfileProposalItem__Choice {
    max-width: 300px;
  }
}

.ProfileProposalItem__Stats {
  display: flex;
  align-items: center;
}

.ProfileProposalItem__Stats span:after {
  content: '·';
  padding: 0 5px;
}

.ProfileProposalItem__Stats span:last-child:after {
  content: '';
  padding: 0;
}

.ProfileProposalItem__Pill {
  margin-right: 8px;
}

.ProfileProposalItem__ResultSectionContainer {
  display: flex;
  align-items: center;
}

.ProfileProposalItem__ResultSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

@media (min-width: 992px) {
  .ProfileProposalItem__ResultSection {
    width: 267px;
  }
}
