.ui.card.ProposalCard {
  position: relative;
  color: var(--text);
}

.ui.card.ProposalCard .content.ProposalCard__Content {
  justify-content: space-between;
  height: 100%;
}

.ui.card.ProposalCard .content.ProposalCard__Content::after {
  content: none;
}

.ProposalCard .ProposalCard__Title {
  padding-right: 20px;
  overflow-wrap: break-word;
}

.ProposalCard .ProposalCard__Title .ui.button {
  position: absolute;
  padding: 16px 20px;
  top: 0;
  right: 0;
  display: none;
}

.ProposalCard .ProposalCard__Title .ui.loading.loading.loading.loading.button {
  position: absolute;
}

.ProposalCard:hover .ProposalCard__Title .ui.button,
.ProposalCard.ProposalCard--subscribed .ProposalCard__Title .ui.button {
  display: block;
}

.ProposalCard .ProposalCard__Progress {
  width: 100%;
  left: 0;
  bottom: 48px;
}

.ProposalCard__Info {
  display: flex;
  flex-direction: row;
}

.ProposalCard .ProposalCard__StatusLabel {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ProposalCard .ProposalCard__Labels {
  flex-direction: row !important;
}

.ProposalCard .ProposalCard__Spacer {
  flex: 1 0 30px;
}

.ui.card.ProposalCard.ProposalCard--coauthor,
.ui.card.ProposalCard.ProposalCard--coauthor:hover {
  border: 1px solid var(--yellow) !important;
  box-shadow: 0 2px 4px var(--yellow-100);
}
