.ProposalItem.ui.card {
  margin: 0 !important;
}

.ProposalItem--slim.ui.card {
  margin-bottom: 14px !important;
}

.ProposalItem--slim.ui.card:last-child {
  margin-bottom: 0 !important;
}

.ProposalItem,
.ui.card.Link.ProposalItem {
  width: 100% !important;
  border: 1px solid var(--black-100);
}

.ProposalItem__TitleContainer {
  margin-bottom: 4px;
}

.ProposalItem__Title {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

.ProposalItem:visited .ProposalItem__Title {
  color: var(--black-600);
}

.ProposalItem__Status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .ActionableLayout .ActionableLayout__Content .ui.card > .content {
    padding: 12px;
  }
}

.ProposalItem__Title .ui.header:first-child {
  margin-bottom: 0;
}

.ProposalItem__Title .ui.loading.loading.loading.loading.button {
  position: absolute;
}

.ProposalItem:hover .ProposalItem__Title .ui.button {
  display: block;
}

.ui.card.ProposalItem.ProposalItem.ProposalItem--coauthor,
.ui.card.ProposalItem.ProposalItem.ProposalItem--coauthor:hover {
  border: 1px solid var(--yellow-800) !important;
  box-shadow: 0 2px 4px var(--yellow-100);
}

.ProposalItem__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.ProposalItem__Stats {
  display: flex;
  align-items: center;
}

.ProposalItem__Stats span:after {
  content: '·';
  padding: 0 5px;
}

.ProposalItem__Stats span:last-child:after {
  content: '';
  padding: 0;
}

.ProposalItem__Votes {
  font-weight: var(--weight-semi-bold);
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-600);
}

.ProposalItem__Details > span.Username > img.Avatar {
  margin: 0 !important;
}

.ProposalItem__FinishLabel {
  padding: 0;
  display: inline-flex;
  color: var(--black-800);
  font-weight: var(--weight-semi-bold);
  font-size: 10px;
  line-height: 16px;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ProposalItem__CustomText {
  font-weight: var(--weight-semi-bold);
  color: var(--black-800);
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 170px;
}

@media (min-width: 340px) and (max-width: 374px) {
  .ProposalItem__CustomText {
    max-width: 190px;
  }
}
@media (min-width: 375px) {
  .ProposalItem__CustomText {
    max-width: unset;
  }
}
