.ProposalHero__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 24px 71px 23px;
  isolation: isolate;
  height: 148px;
}

.ProposalHero__Text {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProposalHero__Title {
  color: var(--white-900);
  font-size: 24px;
  font-weight: var(--weight-semi-bold);
  line-height: 28px;
  letter-spacing: 0.4px;
}

.ProposalHero__Title::first-letter {
  text-transform: capitalize;
}

.ProposalHero__Title--finished {
  color: var(--black-700);
}
