.ProposalItem {
  position: relative;
}

.ProposalItem .ProposalItem__Title {
  padding-bottom: 0;
  padding-right: 40px;
}

.ProposalItem .ProposalItem__Status {
	padding-top: 8px;
	display: flex;
	flex-flow: row wrap;
}

@media only screen and (max-width: 425px) {
	.ProposalItem .ProposalItem__Status {
		gap: 8px;
		flex-direction: column;
	}
}


.ProposalItem .ProposalItem__Title .ui.header:first-child{
  margin-bottom: 0;
}

.ProposalItem .ProposalItem__Title .ui.button {
  position: absolute;
  padding: 16px 20px;
  top: 0;
  right: 0;
  display: none;
}

.ProposalItem .ProposalItem__Title .ui.loading.loading.loading.loading.button {
  position: absolute;
}

.ProposalItem:hover .ProposalItem__Title .ui.button,
.ProposalItem.ProposalItem--subscribed .ProposalItem__Title .ui.button {
  display: block;
}
