.ProposalItem {
  width: 100% !important;
  position: relative;
}

.ProposalItem .ProposalItem__Title {
  padding-bottom: 0;
  padding-right: 40px;
}

.ProposalItem .ProposalItem__Status {
  padding-top: 8px;
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-width: 425px) {
  .ProposalItem .ProposalItem__Status {
    flex-direction: row;
  }
  .ProposalItem .ProposalItem__Title {
    padding-right: 0;
  }
  .ProposalItem .ProposalItem__Title .ui.header {
    font-size: 17px;
  }
  .ProposalItem .ProposalItem__Status .FinishLabel {
    font-size: 12px;
  }
  .ProposalItem .ProposalItem__Status .FinishLabel img {
    width: 16px;
  }
  .ActionableLayout .ActionableLayout__Content .ui.card > .content {
    padding: 12px;
  }
  .dg.Paragraph.Paragraph--small {
    font-size: 14px;
  }
}

.ProposalItem .ProposalItem__Title .ui.header:first-child {
  margin-bottom: 0;
}

.ProposalItem .ProposalItem__Title .ui.button {
  position: absolute;
  padding: 16px 20px;
  top: 0;
  right: 0;
  display: none;
}

.ProposalItem .ProposalItem__Title .ui.loading.loading.loading.loading.button {
  position: absolute;
}

.ProposalItem:hover .ProposalItem__Title .ui.button,
.ProposalItem.ProposalItem--subscribed .ProposalItem__Title .ui.button {
  display: block;
}

.ui.card.ProposalItem.ProposalItem.ProposalItem--coauthor,
.ui.card.ProposalItem.ProposalItem.ProposalItem--coauthor:hover {
  border: 1px solid var(--yellow) !important;
  box-shadow: 0 2px 4px var(--yellow-100);
}
