.ProposalHeaderPoi {
  padding-bottom: 38px;
}

.ProposalHeaderPoi .Link {
  display: flex;
  justify-content: space-between;
}

.ProposalHeaderPoi .Link > div.ProposalHeaderPoi__ImageContainer {
  position: relative;
  flex: 0 0 100%;
}

.ProposalHeaderPoi .Link.Link--with-scene > div.ProposalHeaderPoi__ImageContainer {
  flex: 0 0 49%;
  flex: 0 0 calc(50% - 6px);
}

.ProposalHeaderPoi__ImageContainer .ui.header {
  position: absolute;
  color: var(--white-900);
  left: 16px;
  bottom: 52px;
  margin: 0;
  text-shadow: 0 0 1rem #000, 0 0 0.5rem #000;
}

.ProposalHeaderPoi__PoiPosition {
  position: absolute;
  color: var(--black-400);
  background-color: var(--white-900);
  height: 24px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  padding: 2px 5px;
  left: 16px;
  bottom: 16px;
}

.ProposalHeaderPoi__PoiPosition svg {
  vertical-align: text-bottom;
}
