.ProposalHero__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 24px 71px 23px;
  isolation: isolate;
  height: 148px;
}

.ProposalHero__Banner {
  position: absolute;
  border-radius: 6px;
  height: 148px;
  width: 100%;
}

.ProposalHero__Text {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProposalHero__Title {
  color: var(--white-900);
  font-size: 24px;
  font-weight: var(--weight-semi-bold);
  line-height: 28px;
  letter-spacing: 0.4px;
}

.ProposalHero__Title::first-letter {
  text-transform: capitalize;
}

.ProposalHero__Gradient {
  background: linear-gradient(90deg, rgba(22, 20, 26, 0) 0%, #16141a 100%);
}

.ProposalHero__Banner--grant {
  background: #a524b3;
  box-shadow: 0 4px 24px 0 rgba(198, 64, 205, 0.5);
}
.ProposalHero__Gradient--grant {
  opacity: 0.7;
  mix-blend-mode: hue;
}

.ProposalHero__Banner--catalyst {
  background: var(--blue-800);
  box-shadow: 0 4px 24px 0 rgba(23, 104, 233, 0.5);
}
.ProposalHero__Gradient--catalyst {
  opacity: 0.43;
  mix-blend-mode: overlay;
}

.ProposalHero__Banner--ban_name {
  background: var(--fuchsia-800);
  box-shadow: 0px 4px 24px 0px rgba(199, 0, 198, 0.5);
}
.ProposalHero__Gradient--ban_name {
  opacity: 0.3;
  mix-blend-mode: multiply;
}
