.ResultStance {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 159px;
}

.ResultStance__Icon {
  align-self: center;
}

.ResultStance__Text {
  margin-left: 8px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  line-height: 28px;
  color: var(--black-600);
  text-transform: uppercase;
}
