.SentimentSurveyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(115, 110, 125, 0.1);
  min-height: 51px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  position: relative;
}

.SentimentSurveyRow__Expanded {
  background: #ffffff;
  border: 1px solid rgba(115, 110, 125, 0.2);
  box-shadow: 0px 0px 15px rgba(115, 110, 125, 0.3);
  border-radius: 6px;
}

.SentimentSurveyRow__AddReaction {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.SentimentSurveyRow__AddReaction > span {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #736e7d;
  position: relative;
  opacity: 0;
}

.SentimentSurveyRow__AddReactionLabel {
  opacity: 1 !important;
}

#slide {
  position: absolute;
  right: -63px;
  opacity: 100;
  transition: 1s;
}

.SentimentSurveyRow:hover #slide {
  transition: 0.5s;
  right: 10px;
}

.SentimentSurveyRow__Reactions {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 16px;
}

.SentimentSurveyRow__Reactions > div {
  cursor: pointer;
  height: 24px;
}

.SentimentSurveyRow__PickedReaction {
  padding-right: 20px;
}
