.ui.container.PastGrantsList__Container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 27px;
}

.PastGrantsList__Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.PastGrantsList__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 16px;
  margin-right: 8px;
}

.PastGrantsList_Sort {
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  display: flex;
  color: var(--primary);
}

.PastGrantsList_Sort span {
  display: flex;
  align-items: center;
  gap: 2px;
}
