.dcl.navbar {
  margin-bottom: 0;
  border-bottom: none;
  background-color: var(--background);
  width: unset !important;
  max-width: 1440px !important;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1124px;
  }
}

.ui.container.WiderFooter {
  width: unset !important;
  max-width: 1440px !important;
}

@media (min-width: 768px) {
  .dcl.new-user-menu .toggle {
    width: 42px !important;
    height: 42px !important;
  }

  .ui.container.WiderFooter {
    padding: 0 24px !important;
  }
}

.dcl.navbar .ui.container,
.Navigation .dcl.tabs .ui.container {
  width: calc(100% - 48px);
}
