.dcl.navbar {
  margin-bottom: 0;
  border-bottom: none;
  background-color: var(--background);
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1124px;
  }
}

.WiderNavbar.dcl.navbar .ui.container {
  width: unset !important;
}

.ui.container.WiderFooter {
  width: unset !important;
}

@media (min-width: 768px) {
  .WiderNavbar.dcl.navbar .ui.container,
  .ui.container.WiderFooter {
    padding: 0 24px !important;
  }
}

.dcl.navbar .ui.container,
.Navigation .dcl.tabs .ui.container {
  width: calc(100% - 48px);
}
