.LoadingView {
  width: 100%;
  max-width: 800px;
  min-height: calc(100vh - var(--dao-header-height) - var(--dao-footer-height));
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.LoadingView--withNavigation {
  min-height: calc(100vh - var(--dao-header-height) - var(--dao-footer-height) - var(--dao-navigation-height));
}
