.Browse {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.Browse__Button {
  display: block !important;
}
.Browse__Button.inverted.primary:active,
.Browse__Button.inverted.primary:focus {
  background-color: var(--primary) !important;
}
.Browse__Button.inverted.primary:hover {
  background-color: transparent !important;
}