.Navigation {
  position: relative;
  z-index: 9;
}

.Navigation ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Navigation .dcl.tab svg {
  margin-left: 4px;
  vertical-align: middle;
}

.dcl.navbar-account .ui.button.inverted {
  color: black;
  border: 1px solid black;
  border-radius: 6px;
}

.Navigation .dcl.tabs .ui.container {
  display: flex;
}

.Navigation .dcl.tabs a {
  color: var(--text);
}

.Navigation .dcl.tabs-left {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .Navigation .dcl.tabs {
    background-color: var(--white-900);
    padding-left: 4px;
    padding-right: 36px;
    margin-top: 0;
    align-items: flex-end;
    height: 65px;
  }

  .Navigation .dcl.tabs-left {
    width: 100%;
    overflow: scroll;
  }

  .Navigation .dcl.tab {
    margin: 0 12px;
    padding: 0;
    padding-bottom: 14px;
    white-space: nowrap;
  }

  .Navigation .dcl.tabs .ui.container {
    display: flex;
  }

  .Navigation .dcl.tab {
    padding-bottom: 5px;
  }
  .Navigation .dcl.tab.active {
    border-bottom: 3px solid var(--primary);
    border-left: 0;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .Navigation .dcl.tabs-left::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .Navigation .dcl.tabs-left {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 768px) {
  .Navigation .dcl.tabs .ui.container {
    max-width: 1440px !important;
    width: 100%;
    padding: 0 24px;
  }
}

.Navigation .dcl.tabs .dcl.tabs-right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.Navigation__ProfilePopUp {
  width: 152px;
  overflow-wrap: break-word;
}

.Navigation__ProfilePopUp p,
.Navigation__ProfilePopUp .ui.button.basic {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  color: var(--white-900) !important;
  margin-bottom: 0;
  padding-left: 0;
}

.Navigation__SearchInput {
  position: absolute;
  top: 0;
  right: 0;
}
