.Navigation .dcl.tabs {
  background: var(--background);
  display: none;
}

.Navigation .dcl.tab svg {
  margin-left: 4px;
  vertical-align: middle;
}

.dcl.navbar-account .ui.button.inverted {
  color: black;
  border: 1px solid black;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .Navigation .dcl.tabs {
    display: flex;
  }

  .Navigation .dcl.tabs a {
    color: var(--text);
  }

  .Navigation .dcl.tabs .ui.container {
    width: 100%;
    max-width: 1410px !important;
    padding: 0px 1rem !important;
  }

  .dcl.tabs .ui.container {
    display: flex;
  }
}

.dcl.tabs-right {
  display: flex;
  align-items: center;
}

.NavigationProfilePopUp {
  width: 152px;
  overflow-wrap: break-word;
}

.NavigationProfilePopUp p,
.NavigationProfilePopUp .ui.button.basic {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  color: var(--white-900) !important;
  margin-bottom: 0;
  padding-left: 0;
}
