.CategoryOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.CategoryOption span {
  display: flex;
  align-items: center;
}

.CategoryOption img,
.CategoryOption svg {
  margin-right: 8px;
}

.CategoryOption {
  border-radius: 6px;
  padding: 10px 16px;
  width: 100%;
  height: 100%;
  transition: background-color ease 0.3s;
}

.CategoryOption:hover,
.CategoryOption.CategoryOption--active {
  background-color: var(--background-disabled);
}

.CategoryOption.CategoryOption--active .dg.Paragraph.Paragraph--semi-bold {
  font-weight: 500;
}

.CategoryOption.CategoryOption--catalyst:hover,
.CategoryOption.CategoryOption--catalyst.CategoryOption--active {
  background-color: var(--background-catalyst);
}

.CategoryOption.CategoryOption--poi:hover,
.CategoryOption.CategoryOption--poi.CategoryOption--active {
  background-color: var(--background-poi);
}

.CategoryOption.CategoryOption--ban_name:hover,
.CategoryOption.CategoryOption--ban_name.CategoryOption--active {
  background-color: var(--background-ban-name);
}

.CategoryOption.CategoryOption--grant:hover,
.CategoryOption.CategoryOption--grant.CategoryOption--active {
  background-color: var(--background-grant);
}

.CategoryOption.CategoryOption--linked_wearables:hover,
.CategoryOption.CategoryOption--linked_wearables.CategoryOption--active {
  background-color: var(--background-linked-wearables);
}

.CategoryOption.CategoryOption--poll:hover,
.CategoryOption.CategoryOption--poll.CategoryOption--active,
.CategoryOption.CategoryOption--draft:hover,
.CategoryOption.CategoryOption--draft.CategoryOption--active,
.CategoryOption.CategoryOption--governance:hover,
.CategoryOption.CategoryOption--governance.CategoryOption--active {
  background-color: var(--background-poll);
}

.CategoryOption .dg.Paragraph {
  margin-bottom: 0;
}

.CategoryOption .dg.Paragraph.Paragraph--tiny {
  font-size: 15px;
}

.CategoryOption__Counter {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: var(--black-600);
  opacity: 0.45;
  border: 1px solid var(--black-600);
  border-radius: 10px;
  padding: 0px 4px;
}

.CategoryOption__Counter--active {
  opacity: 1;
  background: var(--black-600);
  color: var(--white-900);
}

.CategoryOption__TitleContainer {
  width: 100%;
  justify-content: space-between;
}

.CategoryOption__Arrow svg {
  transition: all 0.5s ease 0s;
  transform: rotate(90deg);
}

.CategoryOption__Arrow--active svg {
  transform: rotate(-90deg);
}

.CategoryOption__Subcategories {
  display: none;
}

.CategoryOption__Subcategories--active {
  display: block;
}

.CategoryOption__SubcategoryItem {
  margin-left: 15px;
  font-size: 13px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-600);
  text-transform: capitalize;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.CategoryOption__SubcategoryItem:hover,
.CategoryOption__SubcategoryItem--active {
  color: var(--black-800);
  font-weight: 500;
}

.CategoryOption__SubcategoryItem--active {
  position: relative;
}

.CategoryOption__SubcategoryItem--active::after {
  --size: 8px;
  content: '';
  position: absolute;
  right: -13px;
  top: 53%;
  transform: translateY(-50%);
  width: var(--size);
  height: var(--size);
  background-color: var(--purple-800);
  border-radius: 50%;
}

.CategoryOption__SubcategoryItem svg {
  margin-right: 8px;
}
