.CategoryBanner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: stretch;
  position: relative;
  padding: 16px 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: var(--background-disabled);
}

.CategoryBanner__Icon {
  flex: 0 0 68px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.CategoryBanner__Icon--inactive img {
  filter: grayscale(1);
  opacity: 0.7;
}

.CategoryBanner__TitleContainer {
  display: flex;
  align-items: center;
}

.CategoryBanner__Title {
  margin-bottom: 0;
}

.CategoryBanner__Badge {
  margin-left: 8px;
  border-radius: 4px;
  z-index: 1;
  padding: 4px 5px;
  font-weight: var(--weight-semi-bold);
  font-size: 10px;
  line-height: 5px;
  letter-spacing: -0.2px;
  font-style: normal;
  color: var(--white-900);
  text-transform: uppercase;
}

.CategoryBanner__PausedBadge {
  background-color: var(--black-400);
}

.CategoryBanner__PausedText {
  margin-top: 4px;
  font-size: 13px !important;
  font-style: italic !important;
}

.CategoryBanner--clickable {
  cursor: pointer;
}

.CategoryBanner--catalyst .NewBadge {
  background-color: var(--blue-800);
}

.CategoryBanner--catalyst.CategoryBanner--active {
  background-color: var(--background-catalyst);
}

.CategoryBanner--poi .NewBadge {
  background-color: var(--green-800);
}

.CategoryBanner--poi.CategoryBanner--active {
  background-color: var(--background-poi);
}

.CategoryBanner--add_poi .NewBadge {
  background-color: var(--green-800);
}

.CategoryBanner--add_poi.CategoryBanner--active {
  background-color: var(--background-poi);
}

.CategoryBanner--remove_poi .NewBadge,
.CategoryBanner--remove_poi.CategoryBanner--active {
  background-color: var(--background-remove-poi);
}

.CategoryBanner--ban_name .NewBadge {
  background-color: var(--fuchsia-800);
}

.CategoryBanner--ban_name.CategoryBanner--active {
  background-color: var(--background-ban-name);
}

.CategoryBanner--grant .NewBadge {
  background-color: var(--purple-800);
}

.CategoryBanner--grant.CategoryBanner--active {
  background-color: var(--background-grant);
}

.CategoryBanner--linked_wearables .NewBadge {
  background-color: var(--yellow-800);
}

.CategoryBanner--linked_wearables.CategoryBanner--active {
  background-color: var(--background-linked-wearables);
}

.CategoryBanner--pitch .NewBadge {
  background-color: var(--red-800);
}

.CategoryBanner--pitch.CategoryBanner--active,
.CategoryBanner--tender.CategoryBanner--active,
.CategoryBanner--bid.CategoryBanner--active {
  background-color: var(--background-pitch);
}

.CategoryBanner--hiring .NewBadge {
  background-color: var(--aqua-800);
}

.CategoryBanner--hiring.CategoryBanner--active {
  background-color: var(--background-hiring);
}

.CategoryBanner--hiring_add.CategoryBanner--active {
  background-color: var(--background-add-hiring);
}

.CategoryBanner--hiring_remove.CategoryBanner--active {
  background-color: var(--background-remove-hiring);
}

.CategoryBanner--poll .NewBadge,
.CategoryBanner--draft .NewBadge,
.CategoryBanner--governance .NewBadge {
  background-color: var(--orange-800);
}

.CategoryBanner--poll.CategoryBanner--active,
.CategoryBanner--draft .NewBadge,
.CategoryBanner--draft.CategoryBanner--active,
.CategoryBanner--governance .NewBadge,
.CategoryBanner--governance.CategoryBanner--active {
  background-color: var(--background-poll);
}

.CategoryBanner__Icon img {
  position: relative;
  height: 100%;
  width: auto;
}
