.CategoryBanner {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: stretch;
  position: relative;
  padding: 16px 20px;
  background-color: transparent;
  margin-bottom: 8px;
  cursor: default;
  background-color: var(--background-disabled);
  border-radius: 8px;
}

.CategoryBanner__Icon {
  flex: 0 0 68px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.CategoryBanner__Icon--inactive img {
  filter: grayscale(1);
  opacity: 0.7;
}

.CategoryBanner__TitleContainer {
  display: flex;
  align-items: center;
}

.CategoryBanner__Badge {
  margin-left: 8px;
  border-radius: 4px;
  z-index: 1;
  padding: 4px 5px;
  font-weight: 600;
  font-size: 10px;
  line-height: 5px;
  letter-spacing: -0.2px;
  font-style: normal;
  color: var(--white-900);
  text-transform: uppercase;
}

.CategoryBanner__PausedBadge {
  background-color: var(--black-400);
}

.CategoryBanner__PausedText .dg.Paragraph {
  margin-top: 4px;
  font-size: 13px !important;
}

.CategoryBanner--poi {
  cursor: pointer;
}

.CategoryBanner--catalyst .NewBadge,
.CategoryBanner--catalyst.CategoryBanner--active {
  background-color: var(--background-catalyst);
}

.CategoryBanner--poi .NewBadge,
.CategoryBanner--poi.CategoryBanner--active {
  background-color: var(--background-poi);
}

.CategoryBanner--add_poi .NewBadge,
.CategoryBanner--add_poi.CategoryBanner--active {
  background-color: var(--background-poi);
}

.CategoryBanner--remove_poi .NewBadge,
.CategoryBanner--remove_poi.CategoryBanner--active {
  background-color: var(--background-remove-poi);
}

.CategoryBanner--ban_name .NewBadge,
.CategoryBanner--ban_name.CategoryBanner--active {
  background-color: var(--background-ban-name);
}

.CategoryBanner--grant .NewBadge,
.CategoryBanner--grant.CategoryBanner--active {
  background-color: var(--background-grant);
}

.CategoryBanner--linked_wearables .NewBadge,
.CategoryBanner--linked_wearables.CategoryBanner--active {
  background-color: var(--background-linked-wearables);
}

.CategoryBanner--pitch .NewBadge {
  background-color: var(--red-800);
}

.CategoryBanner--pitch.CategoryBanner--active {
  background-color: var(--background-pitch);
}

.CategoryBanner--poll .NewBadge,
.CategoryBanner--poll.CategoryBanner--active,
.CategoryBanner--draft .NewBadge,
.CategoryBanner--draft.CategoryBanner--active,
.CategoryBanner--governance .NewBadge,
.CategoryBanner--governance.CategoryBanner--active {
  background-color: var(--background-poll);
}

.CategoryBanner__Icon img {
  position: relative;
  height: 100%;
  width: auto;
}

.CategoryBanner .dg.Paragraph {
  margin-bottom: 0;
}

.CategoryBanner .dg.Paragraph.Paragraph--tiny {
  font-size: 15px;
}
