.ProposalUpdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--black-300);
  border-radius: 8px;
  padding: 0 16px;
  min-height: 44px;
  margin-bottom: 8px;
  cursor: pointer;
}

.ProposalUpdate--expanded {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  border: 1px solid var(--black-400);
}

.ProposalUpdate--pending {
  cursor: default;
}

.ProposalUpdate--missed {
  cursor: default !important;
  border: 1px solid #f3b3be;
}

.ProposalUpdate:last-child {
  margin-bottom: 36px;
}

.ProposalUpdate__Heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ProposalUpdate__Left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.ProposalUpdate__IconContainer {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.ProposalUpdate__Description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black-600);
  max-width: 570px;
  padding-right: 10px;
}

.ProposalUpdate__Description--expanded {
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--black-800);
  font-size: 15px;
  line-height: 24px;
  padding-right: 0;
  margin-bottom: 8px;
}

.ProposalUpdate__Index {
  font-size: 13px;
  line-height: 13px;
  font-weight: var(--weight-semi-bold);
  color: var(--black-600);
  text-transform: uppercase;
  margin-right: 5px;
}

.ProposalUpdate__Index--expanded {
  font-size: 13px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  line-height: 28px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: var(--black-800);
  margin-right: 0;
}

.ProposalUpdate__Date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  color: var(--black-400);
  text-transform: uppercase;
  gap: 8px;
}

.ProposalUpdate__DateText {
  color: var(--black-400);
  text-transform: uppercase;
  opacity: 0.5;
}

.ProposalUpdate__KeepReading {
  display: flex;
  align-items: center;
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  gap: 4px;
}

.ProposalUpdate__KeepReading--onTrack {
  color: var(--green-800);
}

.ProposalUpdate__KeepReading--atRisk {
  color: var(--yellow-800);
}

.ProposalUpdate__KeepReading--offTrack {
  color: var(--red-800);
}

.ProposalUpdate .ui.basic.button {
  padding-right: 0;
}

.ProposalUpdate__Late {
  padding: 3px 8px;
  border-radius: 12px;
  background: var(--black-200);
  color: var(--black-800);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: var(--weight-semi-bold);
  line-height: 18px;
}

.EmptyProposalUpdate__Icon path {
  fill: var(--black-600);
  opacity: 0.8;
}

.ProposalUpdate__Menu {
  padding: 0 5px 0 10px;
}
