.Heading {
  color: var(--text);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.Heading--xl {
  font-size: 64px;
  line-height: 1.13;
}

.Heading--lg {
  font-size: 48px;
  line-height: 1.17;
}

.Heading--md {
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: 0.3px;
}

.Heading--sm {
  font-size: 20px;
  line-height: 28px;
}

.Heading--xs {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.Heading--2xs {
  font-size: 15px;
  line-height: 24px;
}

.Heading--3xs {
  font-size: 13px;
  line-height: 18px;
}

.Heading--weight-normal {
  font-weight: var(--weight-normal);
}

.Heading--weight-semi-bold {
  font-weight: var(--weight-semi-bold);
}

.Heading--weight-bold {
  font-weight: var(--weight-bold);
}

.Heading--weight-medium {
  font-weight: var(--weight-medium);
}

@media only screen and (max-width: 767px) {
  .Heading--xl {
    font-size: 64px;
  }

  .Heading--lg {
    font-size: 40px;
  }

  .Heading--md {
    font-size: 28px;
  }

  .Heading--sm,
  .Heading--xs {
    font-size: 15px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .Heading--xl {
    font-size: 48px;
  }

  .Heading--lg {
    font-size: 34px;
  }

  .Heading--md {
    font-size: 21px;
  }

  .Heading--sm,
  .Heading--xs {
    font-size: 13px;
    line-height: 18px;
  }
}
