.Text {
  font-stretch: normal;
}

.Text.Text--size-xs {
  font-size: 11px;
  line-height: 16px;
}

.Text.Text--size-sm {
  font-size: 13px;
  line-height: 18px;
}

.Text.Text--size-md {
  font-size: 15px;
  line-height: 24px;
}

.Text.Text--size-lg {
  font-size: 17px;
  line-height: 26px;
}

.Text.Text--size-xl {
  font-size: 21px;
  line-height: 30px;
}

.Text.Text--weight-light {
  font-weight: var(--weight-light);
}

.Text.Text--weight-normal {
  font-weight: var(--weight-normal);
}

.Text.Text--weight-medium {
  font-weight: var(--weight-medium);
}

.Text.Text--weight-semi-bold {
  font-weight: var(--weight-semi-bold);
}

.Text.Text--weight-bold {
  font-weight: var(--weight-bold);
}

.Text.Text--color-default {
  color: var(--text);
}

.Text.Text--color-primary {
  color: var(--primary);
}

.Text.Text--color-secondary {
  color: var(--secondary-text);
}

.Text.Text--color-error {
  color: var(--red-800);
}

.Text.Text--color-white-900 {
  color: var(--white-900);
}

.Text.Text--style-normal {
  font-style: normal;
}

.Text.Text--style-italic {
  font-style: italic;
}
