.content .ProposalModal__GrantTransaction {
  margin: 24px auto !important;
}

.ProposalModal__GrantTransaction input {
  font-size: 18px !important;
}

.ProposalModal__ErrorMessage {
  margin-bottom: 8px;
}
