.CliffNotice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--black-300);
  border-radius: 8px;
  padding: 0 16px;
  min-height: 44px;
  overflow: hidden;
}

.CliffNotice__IconContainer {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.CliffNotice__Description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black-600);
  max-width: 570px;
}

.CliffNotice__Description span {
  padding-right: 3px;
}
