.ProjectCard {
  padding: 12px 10px;
  color: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0px 1px 8px var(--black-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: var(--white-900);
  transition: var(--card-transition);
  min-width: 0;
  height: 100%;
}

.CurrentProjectsList__Container .ProjectCard i.icon.chevron.right:before {
  top: -5px;
  position: relative;
}

.CurrentProjectsList__Container .ProjectCard:hover {
  box-shadow: var(--shadow-2);
  transform: translateY(-4px);
  cursor: pointer;
}

.ProjectCard__Expanded {
  overflow: hidden;
  transition: all 0.2s ease 0s;
  z-index: 100;
}

.ProjectCard__Expanded:hover {
  transform: scale(1.1);
  height: 237px;
  box-shadow: 0 5px 30px 0 #0000003d;
}

.ProjectCard__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.ProjectCard .ProposalUpdate {
  border: none;
  border-top: 1px solid var(--black-100);
  border-radius: 0px;
}
.ProjectCard .ProposalUpdate:last-child {
  margin-bottom: 0;
}

@media (min-width: 425px) {
  .ProjectCard {
    padding: 0 !important;
  }

  .ProjectCard > div:first-child {
    padding: 16px 16px 0 16px;
  }

  .ProjectCard__Expanded {
    height: 188px;
  }
}

.ProjectCard__UpdateContainer {
  display: none;
}

@media (min-width: 425px) {
  .ProjectCard__UpdateContainer {
    display: block !important;
  }
}
