.ActivityPage .SignIn {
  position: relative;
}

.ActivityPage__ListContainer {
  margin-top: 16px;
  position: relative;
  min-height: 200px;
}

.ActivityPage .ChoiceProgress .ChoiceProgress__Description {
  flex-wrap: nowrap;
}

.ActivityPage .ChoiceProgress .ChoiceProgress__Choice {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ActivityPage .ChoiceProgress  .ChoiceProgress__Stats {
  font-weight: normal;
}

.ActivityPage__EmptyContainer {
  padding: 100px 0;
  text-align: center;
  border: 1px solid rgba(115, 110, 125, .24);
  border-radius: 8px;
}