.DebugPage__Submit {
  padding-bottom: 32px;
}

.DebugPage__Section {
  padding-bottom: 32px;
}

.SpaceName__Section {
  display: flex;
}

.Debug__SectionButton {
  max-height: 46px;
  margin-top: 4px !important;
  margin-bottom: 8px !important;
}

.Debug__SideButton {
  max-height: 46px;
  margin-top: 4px !important;
  margin-left: 16px !important;
}

.Debug__Result {
  line-break: anywhere;
  margin-bottom: 16px !important;
}

.EnvName__Section {
  display: flex;
  height: 50px;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.DebugTabs {
  margin-bottom: 15px;
}
