.GrantsPage__CurrentGrantsContainer {
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 15px;
  display: grid !important;
  grid-template-columns: 100%;
  grid-row-gap: 16px;
}

@media (min-width: 991px) {
  .GrantsPage__CurrentGrantsContainer {
    grid-template-columns: 48.49% 48.49% !important;
    grid-column-gap: 31px;
  }
}

.ui.container.GrantsPage__CurrentGrantsContainer {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.GrantsPage__CurrentGrantsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}

.GrantsPage__CurrentGrantsFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.GrantsPage__CurrentGrantsCategoryFilters {
  display: flex;
  gap: 10px;
}

.GrantsPage_PastGrantsTable {
  margin-bottom: 24px !important;
}

.GrantsPage__PastGrantsTableHeader {
  border: none !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-transform: uppercase !important;
}

.GrantsPage__PastGrantsTableHeaderClickable {
  cursor: pointer !important;
}

.GrantsPage__PastGrantsTableHeaderCategory {
  opacity: 0.5;
}

.GrantsPage__PastGrantsTableHeaderCategory span {
  display: flex;
  align-items: center;
}

.GrantsPage__PastGrantsTableHeaderCategory span svg {
  margin-left: 5px;
  border-radius: 1px;
}

.GrantsPage__PastGrantsSeparator {
  height: 8px;
}

.GrantsPage_LoadMoreButton {
  height: 40px !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: 2px solid #f3f2f5 !important;
  color: #ff2d55 !important;
  border-radius: 8px !important;
  margin-bottom: 32px !important;
}
