.GrantsPage__CurrentGrantsContainer {
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 15px;
  display: grid !important;
  grid-template-columns: 48.33% 48.33%;
  grid-row-gap: 16px;
  grid-column-gap: 31px;
}

@media only screen and (min-width: 320px) and (max-width: 990px) {
  .GrantsPage__CurrentGrantsContainer {
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: grid !important;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
  }
}

.GrantsPage__CurrentGrantsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #736e7d;
}

.GrantsPage__PastGrantsTableHeader {
  border: none !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-transform: uppercase !important;
}

.GrantsPage__PastGrantsTableHeaderCategory {
  opacity: 0.5;
}

.GrantsPage__PastGrantsSeparator {
  height: 8px;
}
