.ProfilePage__Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1410px !important;
  padding: 0px 1rem !important;
  gap: 24px;
  margin: auto;
}

@media (min-width: 768px) {
  .ProfilePage__Container {
    gap: 44px;
  }
}
