.ui.container.Profile__VPStats {
  display: flex;
  gap: 41px;
  margin-bottom: 44px;
}

span.Username.Profile__Username {
  margin-bottom: 24px;
}

span.Username.Profile__Username > span {
  font-weight: 600;
  font-size: 40px !important;
  line-height: 48px;
  letter-spacing: 0.4px;
}

span.Username.Profile__Username > img.dg.dcl-avatar.dcl-avatar--medium.dcl-avatar--5 {
  margin-right: 12px;
}
