.ProfilePage__Container {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin: auto;
}

@media (min-width: 768px) {
  .ProfilePage__Container {
    gap: 44px;
  }
}
