.ProposalsPage__Container .ui.pagination.menu {
  width: 100%;
  justify-content: center !important;
}

.ProposalsPage__SubmitButton {
  display: none !important;
}

.ProposalsPage__Empty {
  margin-top: 60px;
}

.ProposalsPage__Sidebar {
  max-width: var(--dao-sidebar-width);
  width: 100%;
}

.ProposalsPage__Content {
  width: 100%;
}

.ProposalsPage__List {
  margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .ProposalsPage__Container .ui.pagination.menu .item + .item {
    margin-left: 5px;
  }

  .ProposalsPage__Container .ui.pagination.menu .item[type='nextItem'],
  .ProposalsPage__Container .ui.pagination.menu .item[type='prevItem'] {
    display: none !important;
  }

  .ProposalsPage__Container .ActionableLayout {
    min-height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .ProposalsPage__SubmitButton {
    display: inline !important;
  }
}

.ProposalsPage__Container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  position: relative;
}

.ProposalsPage__ProposalCount {
  font-size: 12px !important;
  text-transform: uppercase;
  color: var(--black-600);
}

@media (min-width: 768px) {
  .ProposalsPage__ProposalCount {
    font-size: 14px !important;
  }
}
