@media (max-width: 767px) {
  .SignIn.center .ui.primary.button {
    display: none;
  }
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailPage__Description {
  width: 72% !important;
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
  width: 28% !important;
}

.ProposalDetailPage .ui.header {
  margin-bottom: 1rem;
}

.ProposalDetailPage__Labels {
  display: flex;
  gap: 7px;
  min-height: 24px;
  justify-content: center;
}

.ProposalDetailPage__Description img {
  max-width: 100%;
}

.ProposalImagesPreview {
  margin-bottom: 20px;
}

.ProposalDetailPage__Body {
  margin-bottom: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailPage__Description {
    width: 100% !important;
    padding: 1rem 0 !important;
  }

  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
    width: 100% !important;
    padding: 1rem 0 !important;
  }
}
