@media (max-width: 767px) {
  .SignIn.center .ui.primary.button {
    display: none;
  }
}

.ProposalDetailPage {
  margin-top: 24px;
}

.ProposalDetailPage__Breadcrumb {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-600);
}

.ProposalDetailPage__Section {
  padding-bottom: 24px;
}

.ProposalDetailPage__Breadcrumb .dg.Link {
  color: var(--black-600);
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailDescription {
  width: 72% !important;
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
  width: 28% !important;
}

.ProposalDetailPage .ui.header {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ProposalDetailPage__Labels {
  display: flex;
  gap: 7px;
  min-height: 24px;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--black-600);
}

.ProposalDetailPage .ProposalDetailDescription .dg.SubTitle {
  font-size: 21px;
  font-weight: 500;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Paragraph {
  white-space: pre-line;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Paragraph,
.ProposalDetailPage .ProposalDetailDescription .dg.ListItem {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
}

.ProposalDetailPage .ProposalDetailDescription img {
  max-width: 100%;
}

.ProposalImagesPreview {
  margin-bottom: 20px;
}

.ProposalDetailPage__Body {
  margin-bottom: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailDescription {
    width: 100% !important;
    padding: 1rem 0 !important;
  }

  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
    width: 100% !important;
    padding: 1rem 0 !important;
  }
}
