.ProposalDetailPage {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
}

.ProposalDetailPage__Description {
  max-width: 100%;
  padding-right: 0;
}

@media (min-width: 769px) {
  .ProposalDetailPage {
    flex-direction: row !important;
  }

  .ProposalDetailPage__Description {
    flex: 1;
    max-width: calc(100% - 284px);
    padding-right: 2rem;
  }

  .ProposalDetailActions {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .SignIn.center .ui.primary.button {
    display: none;
  }
}

.ProposalDetailPage .ui.header {
  margin-bottom: 1rem;
}

.ProposalDetailPage__Labels {
  display: flex;
  gap: 7px;
  min-height: 24px;
  justify-content: center;
  padding: 0 0 1em 0;
}

.ProposalDetailPage__Description img {
  max-width: 100%;
}

.ProposalImagesPreview {
  margin-bottom: 20px;
  padding: 0 1em 0;
}

.ProposalDetailPage__Body {
  margin-bottom: 40px;
  padding: 24px 1em 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .ProposalDetailPage__Body {
    padding: 24px 2px 20px;
  }
}
