.ui.pagination.menu {
  justify-content: flex-end;
  width: 100%;
}

.SubmitButton {
  display: none !important;
}

.Animated {
  width: 100%;
  transition: all 0.5s ease 0s;
}

.ui.pagination.menu {
  justify-content: center !important;
}

.ui.fluid.Proposals__Container {
  max-width: 1410px !important;
  padding: 0px 1rem !important;
}

.ProposalsTable__Empty {
  margin-top: 60px;
}

.column.Proposals__FiltersColumn {
  width: 21.87% !important;
  max-width: 300px !important;
}

.column.ProposalsTable {
  width: 100% !important;
}

/* Only Mobile */
@media only screen and (max-width: 767px) {
  .ui.pagination.menu .item + .item {
    margin-left: 5px;
  }

  .ui.pagination.menu .item[type='nextItem'],
  .ui.pagination.menu .item[type='prevItem'] {
    display: none !important;
  }

  .ui.container > .ui.stackable.grid > .row > .column {
    padding-bottom: 0 !important;
  }

  .ActionableLayout {
    min-height: 300px;
  }

  .ui.fluid.Proposals__Container {
    margin: 0 !important;
  }
}

/* Desktop Only */
@media only screen and (min-width: 768px) {
  .SubmitButton {
    display: inline !important;
  }

  .column.ProposalsTable {
    width: 78.13% !important;
  }
}
