.ProposalDetailPage {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
}

.ProposalDetailPage__Description {
  max-width: 100%;
  padding-right: 0;
}

.ProposalDetail__Left {
  display: flex;
  width: var(--dao-sidebar-width);
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 1em;
}

@media (min-width: 768px) {
  .ProposalDetailPage {
    flex-direction: row !important;
  }

  .ProposalDetailPage__Description {
    flex: 1;
    max-width: calc(100% - var(--dao-sidebar-width));
    padding-right: 2rem;
  }

  .ProposalDetailActions {
    width: var(--dao-sidebar-width);
  }
}

@media (min-width: 1200px) {
  .ProposalDetailPage__Description {
    max-width: calc(100% - 2 * var(--dao-sidebar-width));
  }
}

@media (max-width: 767px) {
  .SignIn.center .ui.primary.button {
    display: none;
  }
}

.ProposalDetailPage .ui.header {
  margin-bottom: 1rem;
}

.ProposalDetailPage__Labels {
  display: flex;
  gap: 7px;
  min-height: 24px;
  justify-content: center;
}

.ProposalDetailPage__Description img {
  max-width: 100%;
}

.ProposalImagesPreview {
  margin-bottom: 20px;
  padding: 0 1em 0;
}

.ProposalDetailPage__Body {
  margin-bottom: 40px;
  padding: 10px 1em 20px;
}

@media only screen and (max-width: 768px) {
  .ProposalDetailPage__Body {
    padding: 10px 2px 20px;
  }
}
