@media (max-width: 767px) {
  .SignIn.center .ui.primary.button {
    display: none;
  }
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailDescription {
  width: 72% !important;
}

.ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
  width: 28% !important;
}

.ProposalDetailPage .ui.header {
  margin-bottom: 1rem;
}

.ProposalDetailPage__Labels {
  display: flex;
  gap: 7px;
  min-height: 24px;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--black-400);
}

.ProposalDetailPage .ProposalDetailDescription .dg.SubTitle {
  font-size: 21px;
  font-weight: 500;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Paragraph,
.ProposalDetailPage .ProposalDetailDescription .dg.ListItem {
  font-size: 15px;
}

.ProposalDetailPage .ProposalDetailDescription .dg.Paragraph img {
  max-width: 100%;
}

.ProposalImagesPreview {
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailDescription {
    width: 100% !important;
    padding: 1rem 0 !important;
  }

  .ProposalDetailPage .ui.grid > .row > .column.ProposalDetailActions {
    width: 100% !important;
    padding: 1rem 0 !important;
  }
}
