.TransparencyGrid {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .TransparencyGrid {
    flex-direction: row;
  }
}

.Transparency__BalanceCard {
  margin-bottom: 12px;
}

.Transparency__Section {
  width: 100%;
}

.Transparecy__TokenContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Transparency__Section .Token:last-of-type {
  margin-bottom: 0;
}

.Transparency__MonthlyTotals {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 1200px) {
  .Transparency__MonthlyTotals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.Transparency__Card {
  width: 100% !important;
}

.Transparency__FundingProgressDescription {
  display: flex;
  justify-content: space-between;
  color: var(--text);
  flex-wrap: wrap;
}

.ui.huge.header.Transparency__FundingProgressTotal {
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  font-weight: var(--weight-normal);
}

.Transparency__Section .ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: inherit;
}
