.UpdateDetail__ProjectTitle {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 24px;
  color: var(--black-400);
}

.UpdateDetail__ProjectTitle a {
  color: var(--black-600) !important;
}

.UpdateDetail__Header .header {
  font-size: 36px !important;
  margin: 0;
}
