.ExternalLinkWarningModal__Title {
  margin-bottom: 24px;
}

.ExternalLinkWarningModal__Title * {
  text-align: center;
}

.ExternalLinkWarningModal__Title .dg.Paragraph {
  font-size: 15px;
  line-height: 24px;
  white-space: pre-line;
}

.ExternalLinkWarningModal__Title .dg.Paragraph a {
  color: var(--black-800);
  pointer-events: none;
  cursor: default;
}

.ExternalLinkWarningModal__Title .ui.header {
  font-size: 17px;
  line-height: 26px;
}

.ExternalLinkWarningModal__Title .dg.Paragraph,
.ExternalLinkWarningModal__Actions {
  padding: 0 50px;
}

.ExternalLinkWarningModal__Actions button:not(:last-child) {
  margin-bottom: 15px;
}
