/* .ui.modal.NewProposalModal {
  max-width: 520px;
} */

.ui.modal.NewProposalModal .content {
  margin: 24px;
}

.ui.modal.NewProposalModal .NewProposalModal__Title {
  text-align: center;
}

.ui.modal.NewProposalModal .NewProposalModal__Title .ui.header {
  margin-bottom: .5rem;
}
