.ProposalModal__Title {
  margin-bottom: 32px;
  text-align: center;
}

.ProposalModal .content.ProposalModal__Form {
  width: 100%;
}

.ProposalModal .ProposalModal__Title .ui.header {
  margin-bottom: 0.5rem;
}

.ProposalModal .ui.button.cancel {
  margin-top: 8px;
  background-color: var(--background);
  border: 1px solid var(--alpha-black-400);
}

.ProposalModal__Actions {
  margin-top: 8px;
  width: 100%;
}
