.ProposalModal__Title {
  margin-bottom: 32px;
}

.ProposalModal .content.ProposalModal__GrantVestingAddress {
  margin: 24px auto;
  width: 80%;
}

.ProposalModal .content.ProposalModal__Form {
  width: 100%;
}

.ProposalModal .ProposalModal__Title {
  text-align: center;
}

.ProposalModal .ProposalModal__Title .ui.header {
  margin-bottom: .5rem;
}

.ProposalModal .ui.button {
  width: 100%;
}

.ProposalModal .ui.button.cancel {
  margin-top: 8px;
  background-color: var(--background);
  border: 1px solid rgba(115,110,125,.32);
}

.ProposalModal__Actions {
  width: 100%;
}

.PoiProposalModal__Actions {
  width: 90% !important;
}