.SuccessModal .SuccessModal__Description {
  margin-bottom: 0;
}

.SuccessModal__Banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 16px 20px;
  margin-bottom: 22px;
  border-radius: 12px;
  outline: 1px solid #0000000a;
}

.SuccessModal__Banner .Description {
  max-width: 270px;
}

div.SuccessModal__Banner.JoinTheDiscussion {
  background-color: rgba(255, 45, 85, 0.2);
}

div.SuccessModal__Banner.Discord {
  background-color: rgba(88, 101, 242, 0.3);
}

div.SuccessModal__Banner.CopyLink {
  background-color: #cdf1b8;
}

.SuccessModal__BannerTitle {
  margin-bottom: 0;
}

.SuccessModal__Banner .Button {
  position: relative;
  width: auto !important;
  min-width: auto !important;
  padding: 7px 8px !important;
  margin-left: 10px;
}

.SuccessModal .SuccessModal__Banner .Button.JoinTheDiscussion {
  background-color: #ff2d55 !important;
}

.SuccessModal .SuccessModal__Banner .Button.Discord {
  background-color: #5865f2 !important;
}

.SuccessModal .SuccessModal__Banner .Button.CopyLink {
  background-color: var(--green-800) !important;
}

.SuccessModal__DismissButton {
  background-color: var(--white-900) !important;
  border: 1px solid var(--black-400) !important;
}
