.VotingPowerDelegationModal__Header {
  min-height: 36px !important;
  margin: 0 0 10px 0 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
}

.VotingPowerDelegationModal__Description {
  margin: 0 0 32px 0 !important;
}

.VotingPowerDelegationModal > .dcl.close, .ui.modal > .dcl.close {
  top: 22px; /* TODO: Can this be a property to override in all modals? */
}

.VotingPowerDelegationModal .description .dg.Paragraph {
  font-size: 15px;
}

.VotingPowerDelegationModal .description .dg.Paragraph .dg.Link {
  color: var(--blue);
}

.VotingPowerDelegationModal .VotingPowerDelegationModal__PickButton.ui.button.primary {
  color: var(--blue);
  background-color: rgba(72, 136, 238, 0.1);
}

.VotingPowerDelegationModal .ui.table {
  margin-bottom: 15px;
}

.VotingPowerDelegationModal .ui.table th {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.VotingPowerDelegationModal .ui.table td {
  padding: 10px 0;
}

.VotingPowerDelegationModal .ui.table td .Username {
  font-weight: 500;
}

.VotingPowerDelegationModal .ui.table tbody tr:hover {
  box-shadow: 0px 3px 15px rgba(115, 110, 125, 0.3);
  border-radius: 6px;
  cursor: pointer;
}

.VotingPowerDelegationModal .ui.table th:not(:first-child),
.VotingPowerDelegationModal .ui.table td:not(:first-child) {
  text-align: center;
}


.VotingPowerDelegationModal .TotalVP {
  cursor: pointer !important;
}

.VotingPowerDelegationModal .TotalVP>span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.VotingPowerDelegationModal .TotalVP>span svg {
  margin-left: 5px;
}

.VotingPowerDelegationModal .dg.dcl-avatar {
  margin-right: 11px;
}

.VotingPowerDelegationModal .dcl.blockie {
  margin-right: 6px;
}

/* Animation */
.VotingPowerDelegationModal .TotalVP>span svg,
.VotingPowerDelegationModal .ui.table tbody tr:hover {
  transition: all 0.3s linear;
}
