.CategoryTotalCard__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--black-800);
}

.CategoryTotalCard__Description {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: var(--black-600);
  margin-bottom: 6px;
}

.CategoryTotalCard__Sub {
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--black-600);
}
