.CompetingProposalsSidebar__Content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CompetingProposalsSidebar__Content > .GrantRequestSectionCard {
  flex: none;
}

.CompetingProposalsSidebar__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin-bottom: 11px;
}

.CompetingProposalsSidebar__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 24px;
  color: var(--black-800);
}

.CompetingProposalsSidebar__CardRow {
  display: flex;
  justify-content: space-between;
}
