.CompetingProposals {
  height: 47px;
  background: #ffffff;
  border: 1px solid #dddce0;
  box-shadow: 0px 0px 10px rgba(115, 110, 125, 0.15);
  border-radius: 6px;
  display: flex;
  width: 100%;
  padding: 11px 16px 12px 18px;
  justify-content: space-between;
  align-items: center;
}

.CompetingProposals__Title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}
