.ContestedBudgetLabel {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--font-family);
}

.ContestedBudgetLabel__Title {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 4px;
}

.ContestedBudgetLabel__Content {
  display: flex;
  align-items: center;
}

.ContestedBudgetLabel__Amount {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: var(--black-700);
}

.ContestedBudgetLabel__Percentage {
  font-weight: var(--weight-normal);
  font-size: 13px;
  color: var(--black-600);
  line-height: 24px;
  opacity: 0.45;
  margin-left: 5px;
}

.ContestedBudgetLabel__Legend {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  margin-right: 6px;
}

.ContestedBudgetCard__Legend--contested {
  background: rgb(165, 36, 179);
}

.ContestedBudgetCard__Legend--contested_overbudget {
  background: var(--red-800);
}

.ContestedBudgetCard__Legend--granted {
  background: var(--black-600);
}

.ContestedBudgetCard__Legend--uncontested {
  background: var(--alpha-black-300);
}

.ContestedBudgetCard__Legend--available_overbudget {
  background: var(--white-900);
  border: 2px solid var(--red-800);
  width: 19px !important;
  height: 6px !important;
  border-radius: 5px;
}
