.ContestedBudgetSubLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-family);
}

.ContestedBudgetSubLabel__Text {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}

.ContestedBudgetSubLabel__Text + .ContestedBudgetSubLabel__Text {
  margin-left: 4px;
}

.ContestedBudgetSubLabel__Percentage {
  font-weight: var(--weight-normal);
  font-size: 13px;
  color: var(--black-600);
  line-height: 18px;
  opacity: 0.45;
  margin-left: 4px;
}
