.ContestedBudgetDistributionBar {
  display: flex;
  position: relative;
}

.ContestedBudgetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  height: 6px;
  min-width: 6px;
  margin: 0;
}

.TransparentBar {
  background: transparent !important;
  height: 2px !important;
}

.AvailableOverBudgetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  position: absolute;
}
