.ContestedBudgetCard__Title {
  display: flex;
  justify-content: space-between;
  width: 66%;
}

.ContestedBudgetCard__Row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .ContestedBudgetCard__Row {
    flex-direction: row;
  }
}

.ContestedBudgetCard__Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 2px;
}

.GrantedFundsBar {
  background: var(--black-600);
  border-radius: 4px;
  margin-right: 2px !important;
}

.GrantedFundsBarOverbudget {
  height: 8px !important;
}

.CompetingProposalBudgetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6px;
  min-width: 6px;
  margin: 0;
  background: rgb(165, 36, 179); /* TODO: use color from theme */
  border-radius: 4px 3px 3px 4px;
}

.CompetingProposalBudgetBar + .CompetingProposalBudgetBar {
  border-radius: 3px;
}

.CompetingProposalBudgetBar--selected {
  background: var(--gradient-purple-2);
  box-shadow: 0 1px 4px rgb(165, 36, 179); /* TODO: use color from theme */
  z-index: 3;
}

.CompetingProposalOverbudgetBar {
  background: var(--red-800);
  height: 8px !important;
  border-radius: 4px;
}

.DistributionBarItem--selected.CompetingProposalOverbudgetBar--selected {
  box-shadow: 0 1px 4px rgb(198, 64, 205) !important;
  border-radius: 10px !important;
  height: 10px !important;
}

.ThisInitiativeBar {
  background: var(--gradient-purple-1);
  box-shadow: 0 1px 4px var(--alpha-fuchsia-500) !important;
  height: 8px !important;
  scale: 1.05 1;
  border-radius: 10px !important;
}

.ThisInitiativeOverbudgetBar {
  background: var(--red-800) !important;
  border-radius: 10px;
  scale: 1 !important;
  box-shadow: 0 1px 4px var(--alpha-fuchsia-500) !important;
}

.DistributionBarItem.ThisInitiativeOverbudgetBar {
  height: 14px !important;
}

.UncontestedBudgetBar {
  background: var(--alpha-black-300);
  border-radius: 4px;
  margin-left: 2px;
}
