.ProposalBudget__Row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .ProposalBudget__Row {
    flex-direction: row;
  }
}
