.RequestedBudgetCard__Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.RequestedBudgetCard__Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 2px;
}

.AllocatedBudgetBar {
  background: #44b600;
  opacity: 0.4;
  border-radius: 4px 0 0 4px;
}

.AllocatedBudgetBar--overbudget {
  background: #d80027;
  opacity: 0.5;
}

.RequestedBudgetBar {
  background: linear-gradient(90deg, #017f0a 0%, #00bfd9 100.66%);
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 182, 73, 0.4);
}

.RequestedBudgetBar--overbudget {
  background: #d80027;
  box-shadow: 0 1px 4px rgba(216, 0, 39, 0.4);
}

.RemainingBudgetBar {
  background: rgba(115, 110, 125, 0.24);
  border-radius: 0 4px 4px 0;
}
