.RequestedBudgetCard__Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.RequestedBudgetCard__Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 2px;
  color: var(--black-800);
}

.AllocatedBudgetBar {
  background: var(--green-800);
  opacity: 0.4;
  border-radius: 4px 0 0 4px;
}

.AllocatedBudgetBar--overbudget {
  background: var(--red-800);
  opacity: 0.5;
}

.RequestedBudgetBar {
  background: var(--gradient-green);
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--alpha-green-400);
}

.RequestedBudgetBar--overbudget {
  background: var(--red-800);
  box-shadow: 0 1px 4px var(--alpha-red-400);
}

.RemainingBudgetBar {
  background: var(--alpha-black-300);
  border-radius: 0 4px 4px 0;
}
