.ActiveCommunityGrants__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.4px;
}

.ActiveCommunityGrants__Description {
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 32px;
}

.ActiveCommunityGrants__LoaderContainer {
  position: relative;
  width: 100%;
  height: 398px;
}

.ActiveCommunityGrants__Container {
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 15px;
  display: grid !important;
  grid-template-columns: 100%;
  grid-row-gap: 16px;
}

@media (min-width: 991px) {
  .ActiveCommunityGrants__Container {
    grid-template-columns: 48.49% 48.49% !important;
    grid-column-gap: 31px;
  }
}

.ui.container.CurrentGrants__Container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.HoverableCardContainer {
  height: 191px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.HoverableCardContainer:hover {
  overflow: visible;
  z-index: 100;
}
