.ActivityTicker {
  width: 100%;
  max-width: 377px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.ActivityTicker__EmptyContainer {
  margin-top: 32px;
}

.ActivityTicker__TitleContainer {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}

.ActivityTicker__Title {
  margin: 0;
  margin-bottom: 17px;
  color: var(--black-600);
  text-transform: uppercase;
  position: relative;
}

.ActivityTicker__Gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 27px;
  background: linear-gradient(180deg, #fff 82.84%, rgba(255, 255, 255, 0) 100%);
}

.ActivityTicker__LoadingContainer {
  position: relative;
  top: 100px;
}

.ActivityTicker__List {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  padding-top: 8px;
}

.ActivityTicker__List::-webkit-scrollbar {
  display: none;
}

.ActivityTicker__ListItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
}

.ActivityTicker__ListItem:hover {
  background-color: var(--black-200);
}

.ActivityTicker__ListItemMarkdown {
  margin: 0;
}

.ActivityTicker__ListItemMarkdownTitle {
  font-weight: var(--weight-semi-bold) !important;
}

.ActivityTicker__ListItemDate {
  color: var(--black-400) !important;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
