.ui.card.HomeCharts {
  width: 100%;
}

.HomeCharts__Display.ui.sub.header {
  margin: 0 !important;
}

.ui.card.HomeCharts > canvas {
  padding: 12px;
}

.Charts__Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 316px;
}
