.CommunityEngagement .CommunityEngagement__Header .header {
  margin-bottom: 4px;
  font-size: 17px;
}

.CommunityEngagement .CommunityEngagement__Header p {
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
}

.CommunityEngagement .CommunityEngagement__Header {
  margin: 40px 0 16px 0;
}

.CommunityEngagement__Data {
  display: flex;
  flex-direction: column;
}

.CommunityEngagement__Data .ui.card.HomeCharts {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid var(--black-100) !important;
  box-shadow: 0px 1px 8px var(--black-100) !important;
}

.CommunityEngagement__Data .ui.card.TopVoters {
  width: 100%;
  margin-top: 0;
}

.CommunityEngagement > .ui.stackable.grid .row .column {
  padding: 1rem 0 !important;
}

@media (min-width: 992px) {
  .CommunityEngagement .CommunityEngagement__Header {
    margin: 40px 0;
  }

  .CommunityEngagement .CommunityEngagement__Header .header {
    font-size: 20px;
  }

  .CommunityEngagement .CommunityEngagement__Header p {
    font-size: 17px;
    line-height: 28px;
    width: 60%;
  }

  .CommunityEngagement__Data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 26px;
    max-height: 430px;
  }

  .CommunityEngagement__Data .ui.card.HomeCharts {
    width: 68% !important;
    margin-bottom: 0 !important;
  }

  .CommunityEngagement__Data .ui.card.TopVoters {
    width: 30% !important;
    margin-top: 0 !important;
  }
}
