.DAODelegates__Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 378px;
  border: 1px solid var(--black-100);
  box-shadow: 0px 1px 8px var(--black-100);
  border-radius: 8px;
}
