.HomeLoader__Container {
  position: relative;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.HomeLoader__Loader {
  position: relative !important;
  transform: unset !important;
  top: unset !important;
  left: unset !important;
}

.HomeLoader__Text {
  font-style: normal;
  text-align: center;
  color: var(--black-600);
}

.HomeLoader__Text--small {
  font-weight: var(--weight-semi-bold);
  font-size: 12px;
  line-height: 18px;
}

.HomeLoader__Text--large {
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
}
