.MainBanner {
  position: relative;
  padding: 24px 16px 30px 16px;
  background: linear-gradient(180deg, var(--fuchsia-500) 0%, var(--dcl-primary) 100%);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .MainBanner {
    margin-bottom: 34px;
    padding: 45px 54px;
  }
}

.MainBanner__Background {
  display: none;
}

@media (min-width: 768px) {
  .MainBanner__Background {
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/main-banner-background.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    mix-blend-mode: lighten;
  }
}

.MainBanner__Title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: var(--weight-semi-bold);
  font-size: 30px;
  line-height: 36px;
  color: var(--white-900);
}

@media (min-width: 768px) {
  .MainBanner__Title {
    max-width: 400px;
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 43px;
  }
}

.MainBanner__Description {
  margin-bottom: 24px;
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--white-900);
}

@media (min-width: 768px) {
  .MainBanner__Description {
    margin-bottom: 30px;
    max-width: 620px;
    font-size: 20px;
    line-height: 28px;
  }
}

.MainBanner__ButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .MainBanner__ButtonsContainer {
    flex-direction: row;
    gap: 24px;
  }
}

.MainBanner__Button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40px !important;
  padding: 0 !important;
  font-weight: var(--weight-semi-bold) !important;
  font-size: 15px !important;
  line-height: 18px !important;
  border: 2px solid var(--white-900) !important;
}

@media (min-width: 768px) {
  .MainBanner__Button {
    width: 188px !important;
  }
}

.MainBanner__DiscordButton {
  color: var(--dcl-primary) !important;
}

.MainBanner__DocsButton {
  color: var(--white-900) !important;
  background: transparent !important;
}

.MainBanner__CloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
