.MetricsCard.ui.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid var(--black-100);
  box-shadow: 0px 1px 8px var(--black-100);
  border-radius: 8px;
  min-height: 110px;
  justify-content: center;
  scroll-snap-align: start;
  margin: 0;
}

.MetricsCard--full-width.ui.card {
  width: 100%;
}

.MetricsCard--static.ui.card {
  box-shadow: none;
}

.MetricsCard--static.ui.card:hover {
  transform: none;
  box-shadow: none;
  cursor: unset;
}

.MetricsCard--dark.ui.card {
  background-color: var(--black-700) !important;
}

.MetricsCard__Container {
  width: 200px;
}

@media (min-width: 768px) {
  .MetricsCard.ui.card {
    flex: 1;
    margin-right: 0;
  }

  .MetricsCard__Container {
    width: auto;
  }
}

.MetricsCard__Category {
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin: 0 0 8px 0;
}

.MetricsCard__Category--dark {
  color: var(--black-400);
}

.MetricsCard__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
  line-height: 24px;
  color: var(--black-800);
  margin: 0 0 8px 0;
}

.MetricsCard__Title--dark {
  color: var(--white-900);
}

.MetricsCard__Description {
  font-weight: var(--weight-semi-bold);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin: 0;
}

.MetricsCard__Description--dark {
  color: var(--black-400);
}
