.MetricsCards {
  display: flex;
  flex-direction: row;
  gap: 26px;
  width: 100%;
  margin-bottom: 40px;
}

.MetricsCards__Carousel {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  padding: 16px 0;
  scroll-padding: 0 16px;
  margin-bottom: 24px;
}

.MetricsCards__Carousel::-webkit-scrollbar {
  display: none;
}
