.OpenProposals {
  margin-bottom: 25px;
}

.OpenProposals__ProposalsContainer {
  border: 1px solid var(--black-100);
  box-shadow: 0px 1px 8px var(--black-100);
  border-radius: 8px;
  margin-bottom: 16px;
}

.OpenProposals__ProposalsContainer .dcl.tabs .ui.container {
  width: 100%;
}

.OpenProposals__Loader,
.OpenProposals__Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 378px;
}

.OpenProposals__ViewAllButton {
  margin-bottom: 40px;
}
