.OpenProposal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #dddce0;
}

.OpenProposal__Section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.OpenProposal__VotingSection {
  display: none;
}

@media (min-width: 991px) {
  .OpenProposal__VotingSection {
    display: flex;
  }
}

.OpenProposal:visited .OpenProposal__Title {
  color: var(--black-600);
}

.OpenProposal__Avatar {
  display: none;
}

@media (min-width: 991px) {
  .OpenProposal__Avatar {
    display: block;
    margin-right: 13px;
  }
}

.OpenProposal:last-child {
  border-bottom: none;
}

.OpenProposal__Title {
  margin: 0;
  max-width: 315px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .OpenProposal__Title {
    max-width: 420px;
  }
}

.OpenProposal__Details {
  display: flex;
  flex-direction: row;
  color: var(--black-600);
  text-transform: uppercase;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
}

.OpenProposal__DetailsItem:after {
  content: '·';
  padding: 0 5px;
}

.OpenProposal__DetailsItem:last-child:after {
  content: '';
  padding: 0;
}

.OpenProposal__DetailsOnlyDesktop {
  display: none;
}

@media (min-width: 991px) {
  .OpenProposal__DetailsOnlyDesktop {
    display: flex;
  }
}

.OpenProposal__UsernameContainer {
  display: flex;
  flex-direction: row;
}

.OpenProposal__Username {
  font-weight: 600;
  color: var(--black-800);
  margin-left: 2px;
}

.OpenProposal__VotingConsensus {
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--black-600);
  margin: 0;
}

.OpenProposal__VotingContainer {
  width: 220px;
  margin-left: 40px;
}

.OpenProposal__VotingVpNeeded {
  font-weight: 600;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--black-800);
  margin: 0;
}

.OpenProposal__VoteContainer {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.OpenProposal__VoteText {
  margin-right: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
