.ProposalStatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProposalStatus {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 14px;
  padding: .2rem .5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--neutral);
  border: 1px solid var(--neutral);
  text-transform: uppercase;
}

.ProposalStatusContainer .ProposalStatus {
  margin-right: .7em;
}

.ProposalStatus.catalyst {
  color: #4e79a7;
  background-color: rgba(78, 121, 167, .2);
  border-color: rgba(78, 121, 167, .2);
}

.ProposalStatus.question {
  color: #f28e2c;
  background-color: rgba(242, 142, 44, .2);
  border-color: rgba(242, 142, 44, .2);
}

.ProposalStatus.deny-name {
  color: #e15759;
  background-color: rgba(225, 87, 89, .2);
  border-color: rgba(225, 87, 89, .2);
}

.ProposalStatus.agent {
  color: #76b7b2;
  background-color: rgba(118, 183, 178, .2);
  border-color: rgba(118, 183, 178, .2);
}

.ProposalStatus.poi {
  color: #59a14f;
  background-color: rgba(89, 161, 79, .2);
  border-color: rgba(89, 161, 79, .2);
}

.ProposalStatus.delay {
  color: #edc949;
  background-color: rgba(237, 201, 73, .2);
  border-color: rgba(237, 201, 73, .2);
}

.ProposalStatus.system {
  color: #af7aa1;
  background-color: rgba(175, 122, 161, .2);
  border-color: rgba(175, 122, 161, .2);
}

.ProposalStatus > img {
  display: block;
}

.ProposalStatus > div {
  text-align: center;
  padding: 0 5px;
}

.ProposalStatus.ProposalStatusTime > div,
.ProposalStatus.ProposalStatusPassed > div,
.ProposalStatus.ProposalStatusEnacted > div,
.ProposalStatus.ProposalStatusRejected > div {
  min-width: 70px;
}

.ProposalStatus.ProposalStatusTime {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--neutral);
}

.ProposalStatus.ProposalStatusEnacted {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--text-on-success);
}

.ProposalStatus.ProposalStatusPassed {
  background-color: white;
  border-color: var(--success);
  color: var(--success);
}

.ProposalStatus.ProposalStatusRejected {
  background-color: white;
  border-color: var(--rejected);
  color: var(--rejected);
}

.ProposalStatusBarContainer {
  display: flex;
}

.ProposalStatusDescription {
  color: var(--neutral);
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
}

.ProposalApproval .ProposalApprovalItem {
  font-size: 13px;
  line-height: 18px;
  color: var(--text);
  margin-right: 2em;
  text-transform: uppercase;
}

.ProposalApproval .ProposalApprovalItem::before {
  display: inline-block;
  content: " ";
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin-right: .5em;
  background: var(--neutral);
}

.ProposalApproval .ProposalApprovalItem.yea::before {
  background: var(--success);
}

.ProposalApproval .ProposalApprovalItem.nay::before {
  background: var(--rejected);
}

.ProposalApproval .ProposalApprovalItem span {
  color: var(--secondary-text);
}

.ProposalStatusBar {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 4px 12px;
  width: 100px;
  height: 14px;
  border-radius: 4px;
  position: relative;
}

.ProposalStatusBar.full {
  width: 100%;
  margin: 0;
}

.ProposalStatusBar .ProposalStatusBackground,
.ProposalStatusBar .ProposalStatusYea,
.ProposalStatusBar .ProposalStatusNay {
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ProposalStatusBar .ProposalStatusBackground {
  position: absolute;
  background-color: var(--neutral);
  border-radius: 4px;
  opacity: .2;
}

.ProposalStatusBar .ProposalStatusYea,
.ProposalStatusBar .ProposalStatusNay {
  position: relative
}


.ProposalStatusBar .ProposalStatusYea {
  background-color: var(--success);
  border-right: 1px solid white;
  border-radius: 4px 0 0 4px;
}

.ProposalStatusBar.EmptyYea .ProposalStatusYea {
  display: none;
}

.ProposalStatusBar.EmptyNay .ProposalStatusYea {
  border-right-color: var(--success);
  border-radius: 4px;
}

.ProposalStatusBar .ProposalStatusNay {
  background-color: var(--rejected);
  border-radius: 0 4px 4px 0;
}

.ProposalStatusBar.EmptyNay .ProposalStatusNay {
  display: none;
}

.ProposalStatusBar.EmptyYea .ProposalStatusNay {
  border-radius: 4px;
}