.ExternalLinkWarningModal__Title {
  margin-bottom: 24px;
}

.ExternalLinkWarningModal__Title * {
  text-align: center;
  white-space: pre-line;
}

.ExternalLinkWarningModal__TitleHeader {
  font-weight: 500;
}

.ExternalLinkWarningModal__Link {
  color: var(--black-800);
  pointer-events: none;
  cursor: default;
  overflow-wrap: break-word;
}

.ExternalLinkWarningModal__Description,
.ExternalLinkWarningModal__Actions {
  padding: 0 50px;
}

.ExternalLinkWarningModal__Actions button:not(:last-child) {
  margin-bottom: 15px;
}
