.ProposalPreviewCard {
  width: 100%;
  display: inline-flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  transition: var(--card-transition);
}

.ProposalPreviewCard--vote {
  gap: 8px;
  border-bottom: 1px solid var(--black-300);
}

.ProposalPreviewCard--category {
  border-radius: 8px;
  border: 1px solid var(--black-300);
  box-shadow: var(--shadow-1);
}

.ProposalPreviewCard--slim {
  padding: 12px 32px 14px 16px !important;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid var(--black-300);
  box-shadow: var(--shadow-1);
}

.ProposalPreviewCard--slim:last-child {
  margin-bottom: 0;
}

.ProposalPreviewCard--category:hover,
.ProposalPreviewCard--slim:hover {
  border: 1px solid var(--black-100);
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transform: translateY(-4px);
}

.ProposalPreviewCard:visited .ProposalPreviewCard__Title {
  color: var(--black-600);
}

.ProposalPreviewCard__Avatar {
  display: none;
}

@media (min-width: 992px) {
  .ProposalPreviewCard__Avatar {
    display: block;
  }
}

.ProposalPreviewCard:last-child {
  border-bottom: none;
}

.ProposalPreviewCard__Title {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
}

.ProposalPreviewCard__TextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.ProposalPreviewCard__Details {
  display: block;
  color: var(--black-600);
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
}

.ProposalPreviewCard__DetailsItem {
  display: inline-flex;
  white-space: nowrap;
}

.ProposalPreviewCard__DetailsItem:after {
  content: '·';
  padding: 0 5px;
  color: var(--black-600);
}

.ProposalPreviewCard__DetailsItem:last-child:after {
  content: '';
  padding: 0;
}

.ProposalPreviewCard__DetailsItem--highlight {
  color: var(--red-800);
}

.ProposalPreviewCard__Pill {
  margin-right: 5px;
}

.ProposalPreviewCard__UsernameContainer {
  display: inline;
}

.ProposalPreviewCard__Username {
  font-weight: var(--weight-semi-bold);
  color: var(--black-800) !important;
  margin-left: 2px !important;
}

.ProposalPreviewCard__DetailsItemVotedChoice {
  max-width: 175px;
}

.ProposalPreviewCard__Vote {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 2px;
  color: var(--black-800);
}
