.ProposalPreviewCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

.ProposalPreviewCard--vote {
  border-bottom: 1px solid var(--black-300);
}

.ProposalPreviewCard--category {
  border-radius: 8px;
  border: 1px solid var(--black-300);
  box-shadow: var(--shadow-1);
  margin: 1em 0;
}

.ProposalPreviewCard--category:hover {
  border: 1px solid var(--black-100);
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transform: translateY(-4px);
}

.ProposalPreviewCard:visited .ProposalPreviewCard__Title {
  color: var(--black-600);
}

.ProposalPreviewCard__Avatar {
  display: none;
}

@media (min-width: 992px) {
  .ProposalPreviewCard__Avatar {
    display: block;
    margin-right: 13px;
  }
}

.ProposalPreviewCard:last-child {
  border-bottom: none;
}

.ProposalPreviewCard__Title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ProposalPreviewCard__TextContainer,
.ProposalPreviewCard__Section,
.ProposalPreviewCard__Title {
  width: calc(100% - 10px);
}

@media (min-width: 992px) {
  .ProposalPreviewCard__Title {
    width: 420px !important;
  }

  .ProposalPreviewCard--category .ProposalPreviewCard__Title {
    width: 300px !important;
  }

  .ProposalPreviewCard__TextContainer,
  .ProposalPreviewCard__Section,
  .ProposalPreviewCard__Title {
    width: unset;
  }
}

@media (min-width: 1200px) {
  .ProposalPreviewCard__Title {
    width: 600px !important;
  }

  .ProposalPreviewCard--category .ProposalPreviewCard__Title {
    width: 490px !important;
  }
}

.ProposalPreviewCard__Details {
  display: flex;
  flex-direction: row;
  color: var(--black-600);
  text-transform: uppercase;
  align-items: center;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ProposalPreviewCard__DetailsItem:after {
  content: '·';
  padding: 0 5px;
}

.ProposalPreviewCard__DetailsItem:last-child:after {
  content: '';
  padding: 0;
}

.ProposalPreviewCard__Pill {
  margin-right: 5px;
}

.ProposalPreviewCard__UsernameContainer {
  display: flex;
  flex-direction: row;
}

.ProposalPreviewCard__Username {
  font-weight: var(--weight-semi-bold);
  color: var(--black-800);
  margin-left: 2px;
}
