.SentimentSurveyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--black-100);
  min-height: 51px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  position: relative;
  transition: transform ease 0.2s, box-shadow ease 0.3s;
  border-radius: 6px;
}

.SentimentSurveyRow:hover {
  background: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0 0 15px var(--black-400);
}

.SentimentSurveyRow__AddReaction {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 10px;
  opacity: 100;
  transition: 0.1s;
}

.SentimentSurveyRow__AddReaction > span {
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-600);
  position: relative;
  opacity: 0;
}

.SentimentSurveyRow:hover .SentimentSurveyRow__AddReactionLabel {
  opacity: 1 !important;
}

.SentimentSurveyRow:hover .SentimentSurveyRow__AddReaction {
  transition: 0.2s;
  right: 20px;
}

.SentimentSurveyRow__Reactions {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 16px;
  font-size: 23px;
  line-height: 24px;
}

.SentimentSurveyRow__Reactions > div {
  cursor: pointer;
  height: 24px;
}

.SentimentSurveyRow__Cross {
  display: flex;
  align-items: center;
}

.SentimentSurveyRow__PickedReaction {
  padding-right: 20px;
}
