.SentimentSurvey__Header {
  display: flex;
  justify-content: space-between;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--black-600);
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 12px;
}

.SentimentSurveyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--alpha-black-200);
  min-height: 51px;
}
