.SurveyTopicResult {
  height: 30px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.SurveyTopicResult__Header {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SurveyTopicResult__ReactionContainer {
  background: var(--black-200);
  border-radius: 7px;
  height: 30px;
  display: flex;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  min-width: 208px;
  justify-content: space-evenly;
}

.ReactionCounter {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 5px;
}

.ReactionCounter > .IconHelper__Container {
  font-weight: var(--weight-normal);
  font-size: 16px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 3px;
}

.ReactionCount {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}

@media (min-width: 768px) {
  .SurveyTopicResult {
    height: 48px;
    margin-bottom: 8px;
    background: var(--white-900);
    border: 1px solid var(--black-100);
    box-shadow: 0 1px 8px var(--black-100);
    border-radius: 8px;
    padding: 9px 9px 9px 16px;
  }

  .SurveyTopicResult__Header {
    font-weight: var(--weight-semi-bold);
  }

  .ReactionCount {
    font-size: 16px;
    line-height: 24px;
  }

  .SurveyTopicResult__ReactionContainer {
    min-width: 215px;
  }
}
