.FeedbackReview__Actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 24px;
}

button.ui.small.primary.button.FeedbackReview__CopyContent {
  width: 100%;
  background: var(--white-900);
  color: var(--black-600);
  border: 1px solid var(--black-600);
  box-shadow: 0 2px 4px var(--black-400);
  border-radius: 6px;
}

.FeedbackReview__OpenSnapshot,
.FeedbackReview__CopyContent {
  width: 146px;
}

.FeedbackReview__Explanation > p.dg.Paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px !important;
  letter-spacing: 0 !important;
  text-align: center;
  margin-bottom: 24px;
}

.FeedbackReview__Explanation > p.dg.Paragraph > .dg.Bold {
  font-weight: 500;
}
