.VotesList__Title {
  text-align: start;
  margin-bottom: 32px;
}

.VotesList__Title .ui.header.sub {
  margin: 0;
  text-transform: none;
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 18px;
  color: var(--black-700);
}

.VotesList__HeaderContainer {
  margin: 0 auto 20px;
}

.VotesList__ItemsContainer {
  height: 71vh;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .VotesList__ItemsContainer {
    margin: 0 auto 40px;
    height: 50vh;
  }
}

.VotesList__HeaderContainer .VotesList__Header {
  color: var(--black-600);
}

.VotesList__Divider {
  position: relative;
}

.VotesList__Divider .VotesList__DividerLine:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  width: 95%;
  border-bottom: 1px solid var(--black-300);
}

.VotesList__Divider .VotesList__DividerLine:before,
.VoteList__ItemReason.VoteList__ItemReason--active:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 95%;
  border-bottom: 1px solid var(--black-300);
}

.VoteList__Item:has(+ .VoteList__ShowButtonContainer)::before,
.VoteList__Item:has(+ .VoteList__LowQualityDividerContainer)::before,
.VotesList__DividerLine--none::before {
  border-bottom: none !important;
}

.VotesList .Avatar {
  margin: 0 0.25em 0 0;
}

.row.VoteList__Item.VotesList__DividerLine {
  display: flex;
  align-items: center;
}

.row.VoteList__Item.VoteList__Item--low-quality-active {
  pointer-events: none;
  display: flex !important;
}

.row.VoteList__Item.VoteList__Item--low-quality-active * {
  color: var(--black-400);
}

.row.VoteList__Item.VoteList__Item--low-quality-active img {
  opacity: 0.5;
}

.row.VoteList__Item.VoteList__Item--low-quality {
  display: none;
}

.ui.grid > .row.VoteList__ShowButtonContainer,
.ui.grid > .row.VoteList__LowQualityDividerContainer {
  justify-content: center !important;
  border-top: none;
  text-transform: uppercase;
}

.ui.grid > .row.VoteList__LowQualityDividerContainer {
  position: relative;
}

.ui.grid > .row.VoteList__LowQualityDividerContainer::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  right: 25px;
  width: 100%;
  height: 1px;
  background-color: var(--black-300);
}

.ui.button.VoteList__ShowButton {
  width: 90%;
}

.row.VoteList__LowQualityDividerContainer .VoteList__LowQuality {
  position: relative;
  border: 1px solid var(--black-300);
  color: var(--black-400);
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white-900);
  z-index: 1;
}

@media (max-width: 991px) {
  .VotesList__ItemsContainer {
    font-size: 13px;
  }

  .VotesList__HeaderContainer .VotesList__Header {
    font-size: 13px;
  }

  .VotesList .Avatar {
    margin: 0 0.25em 0 0;
    width: 20px;
  }
}

.VoteList__ItemUsername {
  color: var(--black-800);
}

.VoteList__ItemReason {
  display: none !important;
}

.VoteList__ItemReason.VoteList__ItemReason--active {
  display: flex !important;
  padding-top: 0px !important;
  padding-bottom: 30px !important;
}

.VoteList__ItemReasonText {
  padding: 0 42px;
  word-break: break-word;
}

.VoteList__ItemReasonButton {
  cursor: pointer;
  background: none;
  border: none;
}
