.VotingModal .content {
  margin-bottom: 32px !important;
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.VotingModal__Actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VotingModal__ErrorNotice {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #d80027;
  margin-left: 22px;
}

.VotingModal__ErrorNotice--hidden {
  opacity: 0;
}

.VotingModal__CastVote {
  max-width: 193px;
}

.VoteOnSnapshot__Icon {
  margin-bottom: 36px;
}

.VoteOnSnapshot__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
}

.VoteOnSnapshot__Header {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: var(--black-800);
  margin-bottom: 4px;
}

.VoteOnSnapshot__Description {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: var(--black-800);
  margin-bottom: 8px !important;
}

.VoteOnSnapshot__Suggestion > p.dg.Paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px !important;
  letter-spacing: 0 !important;
  text-align: center;
  margin-bottom: 24px;
}

.VoteOnSnapshot__Actions {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
}

.VoteOnSnapshot__Button:hover {
  transform: none !important;
}

.VoteOnSnapshot__Button {
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.VoteOnSnapshot__ButtonIcon {
  position: absolute !important;
  right: 140px !important;
}

.VoteOnSnapshot__FeedbackLink {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}
