.VotingModal .content {
  margin-bottom: 32px !important;
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.VotingModal__Actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VotingModal__ErrorNotice {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--red-800);
  margin-left: 22px;
}

.VotingModal__ErrorNotice--hidden {
  opacity: 0;
}

.VotingModal__CastVote {
  max-width: 193px;
}
