.NotificationFeed__Button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: filter 0.2s ease;
  cursor: pointer;
}

.NotificationFeed__Button--active {
  filter: drop-shadow(0 1px 8px var(--alpha-black-300));
}

.NotificationFeed__Content {
  min-width: 346px;
  min-height: 370px;
  max-height: 385px;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 60px;
  right: -15px;
  z-index: 100;
  border-radius: 8px;
  border: 1px solid var(--alpha-black-300);
  background: #fff;
  box-shadow: 0px 1px 24px 0px var(--alpha-black-300);
  transition: opacity 0.3s ease;
  overscroll-behavior-y: contain;
}

.NotificationFeed__Content--visible {
  pointer-events: visible;
  opacity: 1;
}

.NotificationFeed__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.NotificationFeed__Title {
  margin: 0;
  text-transform: uppercase;
}

.NotificationFeed__OptOut {
  margin: 0;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dcl-primary);
  cursor: pointer;
}

.NotificationFeed__UnsubscribedView {
  padding: 0 16px;
  text-align: center;
}

.NotificationFeed__Item {
  padding: 0 16px;
}

.NotificationFeed__LoadMoreButtonContainer {
  padding: 16px;
}
