.Co-author .Title__Container {
  display: flex;
  align-items: center;
}

.Co-author .Title__Container {
  line-height: 18px;
}

.Co-author .Title__Container > :not(:first-child) {
  margin-left: 5px;
}

.Co-author .dg.Paragraph.details {
  margin-bottom: 20px !important;
}
