.CoAuthors__TitleContainer {
  display: flex;
  align-items: center;
}

.CoAuthors__TitleContainer {
  line-height: 18px;
}

.CoAuthors__TitleContainer > :not(:first-child) {
  margin-left: 5px;
}

.CoAuthors .dg.Paragraph.details {
  margin-bottom: 20px !important;
}
