.ProposalComments {
  margin-top: 36px;
}

.ProposalComments.ProposalComments--loading > * {
  opacity: 0.5;
  pointer-events: none;
}

.ui.active.loader.ProposalComments__Loader {
  top: 25%;
}

.ProposalComments .ProposalComments__Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 36px;
  margin-bottom: 24px;
}

.ProposalComments .ProposalComments__NoComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.ProposalComments__EmptyIcon {
  margin-bottom: 16px;
}

.ProposalComments .ProposalComments__Content + .ProposalComments__Content {
  border-top: 1px solid var(--black-400);
}

.ProposalComments .ui.button {
  font-size: 15px;
}

.ProposalComments .ui.button.ProposalComments__ReadMore {
  background-color: var(--background);
  border: 1px solid var(--black-400);
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .ProposalComments .ui.button {
    font-size: 14px;
  }
  .ProposalComments .ui.header {
    font-size: 17px;
  }
}
