.ProposalComment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 24px;
  margin-bottom: 24px;
}

.ProposalComment .ProposalComment__ProfileImage {
  margin-right: 16px;
}

.ProposalComment .ProposalComment__Author {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.ProposalComment .ProposalComment__Author a {
  font-weight: 600;
}

.ProposalComment__Cooked {
  width: auto;
  height: auto;
  max-width: 100%;
}

.ProposalComment__Cooked img {
  max-width: 100%;
  height: auto;
}

.ProposalComment__Cooked__Img {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  margin-right: 1rem;
}

.ProposalComment span {
  flex: 1 1;
  line-height: 20px;
  margin: 0 7px;
}

.ProposalComment div.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProposalComments img.emoji {
  vertical-align: middle;
}

.ProposalComments img.avatar {
  margin-right: 10px;
}

.ProposalComments aside.quote {
  display: flex;
  flex-direction: column;
  border-left: 5px solid var(--primary-low);
  padding: 12px 12px 12px 12px;
  background-color: var(--black-200);
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProposalComment .ProposalComment__Content {
  width: 100%;
}
