.ui.card.ActionCard {
  width: 100%;
  padding: 15px 24px;
}

.ui.card.ActionCard .ui.grid .column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.ui.card.ActionCard .ui.basic.button {
  padding: 15px;
}

.ui.card.ActionCard h3 {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  margin: 0;
}

.ui.card.ActionCard p {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.ui.card.ActionCard .ActionCard__Helper {
  font-size: 13px;
  color: var(--black-600);
}

.ui.card.ActionCard--disabled h3,
.ui.card.ActionCard--disabled .ActionCard__Helper,
.ui.card.ActionCard--disabled p {
  color: var(--black-400);
}

.ui.card.ActionCard--disabled svg {
  filter: grayscale(100%) opacity(50%);
}

.ui.card.ActionCard .ActionCard__Label {
  border-radius: 4px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 10px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 1px 5px;
  margin-left: 4px;
}

.ActionCard__Label.ActionCard__SoonLabel {
  background: var(--black-400);
  color: var(--white-900);
}

.ActionCard__Label.ActionCard__VerifiedLabel {
  background: var(--green-200);
  color: var(--green-900);
}

.ActionCard__Label.ActionCard__IsNewLabel {
  background: var(--red-800);
  color: var(--white-900);
}

.ui.card.ActionCard .ActionCard__Action svg {
  margin: 0 24px;
}
