.VotingSectionFooter {
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.VotingSectionFooter .VotingSectionFooter__Button {
	text-transform: capitalize !important;
	margin-top: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
	width: 100%;
	font-size: 14px;
}
