.NotificationsFeed {
  min-width: 346px;
  min-height: 370px;
  max-height: 385px;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: -15px;
  z-index: 100;
  border-radius: 8px;
  border: 1px solid var(--alpha-black-300);
  background: var(--white-900);
  box-shadow: 0px 1px 24px 0px var(--alpha-black-300);
  transition: opacity 0.3s ease;
  overscroll-behavior-y: contain;
}

.NotificationsFeed--visible {
  pointer-events: visible;
  opacity: 1;
}

.NotificationsFeed__Button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: filter 0.2s ease;
  cursor: pointer;
}

.NotificationsFeed__Button--active {
  filter: drop-shadow(0 1px 8px var(--alpha-black-300));
}

.NotificationsFeed__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 16px;
}

.NotificationsFeed__Title {
  margin: 0;
  text-transform: uppercase;
}

.NotificationsFeed__OptOut {
  margin: 0;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dcl-primary);
  cursor: pointer;
}

.NotificationsFeed__ListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.NotificationsFeed__List {
  display: flex;
  flex-direction: column;
}

.NotificationsFeed__Content {
  height: 100%;
}

.NotificationsFeed__EmptyView,
.NotificationsFeed__UnsubscribedView {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
  text-align: center;
}

.NotificationsFeed__UnsubscribedView {
  margin-top: 8px;
  justify-content: flex-start;
}

.NotificationsFeed__UnsubscribedViewHeading {
  margin-top: 20px;
}

.NotificationsFeed__EmptyView {
  height: 100%;
  justify-content: center;
  gap: 16px;
}

.NotificationsFeed__LoadMoreButtonContainer {
  padding: 16px;
}
