.SnapshotStatus__TopBar {
  width: 100%;
  height: 0;
  background: var(--black-700);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  position: relative;
  transition: all 0.75s ease 0s;
  padding-left: 26px;
}

.SnapshotStatus__TopBar--visible {
  height: 50px;
  padding-top: 4px;
  gap: 24px;
}

.SnapshotStatus__Text {
  color: var(--white-900) !important;
}

@media (min-width: 768px) {
  .SnapshotStatus__TopBar {
    padding-left: 32px;
    align-items: flex-start;
  }

  .SnapshotStatus__TopBar--visible {
    height: 43px !important;
    padding-top: 12px;
    padding-left: 0;
    gap: 0;
  }

  .SnapshotStatus__Text {
    margin-left: 6px;
  }
}
