.SnapshotStatus__TopBar {
  width: 100%;
  height: 0;
  background: var(--black-700);
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.75s ease 0s;
}

.SnapshotStatus__TopBar--visible {
  padding-top: 12px;
  height: 43px;
}

.SnapshotStatus__Text {
  color: var(--white-900) !important;
  margin-left: 6px;
}
