.GrantsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  color: #fff;
  gap: 50px;
}

@media (min-width: 992px) {
  .GrantsBanner {
    flex-direction: row;
  }

  .GrantsBanner__Items {
    width: auto;
  }

  .GrantsBanner__ItemsDivider {
    width: 293px !important;
  }
}

.GrantsBanner--current {
  background: linear-gradient(180deg, #a524b3 0%, var(--dcl-primary) 100%);
  box-shadow: 0 6px 24px rgba(253, 45, 88, 0.3);
}

.GrantsBanner--past {
  background: linear-gradient(180deg, var(--dcl-primary) 0%, #ffc700 100%);
  box-shadow: 0 6px 24px rgba(255, 53, 82, 0.3);
}

.GrantsBanner__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -1px;
  color: #ffffff;
}

.GrantsBanner__Description {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.GrantsBanner__Items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  width: 100%;
}

.GrantsBannerItem_Text {
  display: flex;
  flex-direction: column;
}
