.GrantsBannerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.GrantsBannerItem--noUrl {
  cursor: default;
  pointer-events: none;
}

.GrantsBannerItem__Title {
  font-style: normal;
  font-weight: var(--weight-boldemort);
  font-size: 16px;
  line-height: 19px;
  color: var(--white-900);
  margin-bottom: 3px;
}

.GrantsBannerItem__Description {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 14px;
  line-height: 17px;
  color: var(--white-900);
}

.GrantsBanner__ItemsDivider {
  opacity: 0.3;
  width: auto;
  border: 1px solid var(--white-900);
}
