.CurrentGrantsCategoryFilters__Carousel {
  width: 100%;
  padding-bottom: 8px;
}
.CurrentGrantsCategoryFilters__CarouselCell {
  margin-right: 8px;
}
.CurrentGrantsCategoryFilters__CarouselCell:last-child {
  margin-right: 0;
}

.CurrentGrantsCategoryFilters {
  display: flex;
  gap: 10px;
}
