.FilterButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 12px;
  background: var(--white-900);
  border: 1px solid #cccccd;
  border-radius: 24px;
  color: #cccccd;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 18px;
}

.FilterButton--selected {
  color: var(--black-600);
  background: var(--black-100);
  border: 1px solid #cccccd;
  border-radius: 24px;
}

.FilterButton__Count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  padding: 0 4px;
  margin-left: 4px;
  color: var(--white-900);
  border-radius: 10px;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  line-height: 16px;
  background: #cccccd;
}

.FilterButton__Count--selected {
  background: var(--black-600);
}
