.GrantBeneficiaryItem {
  width: 100% !important;
  position: relative;
  border: 1px solid var(--black-100) !important;
}

.GrantBeneficiaryItem .ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.cards > .ui.card.link:hover,
.ui.card.link:hover {
  border: 1px solid var(--black-100) !important;
}

.GrantBeneficiaryItem .content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.GrantBeneficiaryItem > .content::after {
  content: none !important;
}

.GrantBeneficiaryItem:not(:last-child) {
  margin-bottom: 13px;
}

.GrantBeneficiaryItem__Section {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.GrantBeneficiaryItem:visited .GrantBeneficiaryItem__Title {
  color: var(--black-600);
}

.GrantBeneficiaryItem__Avatar {
  display: none;
}

.GrantBeneficiaryItem:last-child {
  border-bottom: none;
}

.GrantBeneficiaryItem__Title {
  margin: 0;
  padding-right: 20px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 280px;
}

.GrantBeneficiaryItem__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.GrantBeneficiaryItem__GrantInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.GrantBeneficiaryItem__Details .dg.Paragraph {
  display: flex;
  flex-direction: row;
  color: var(--black-600);
  align-items: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.GrantBeneficiaryItem__Details .dg.Paragraph > .dg.Bold {
  padding-left: 4px;
  color: var(--black-700);
}

.GrantBeneficiaryItem__PillContainer {
  min-width: 80px;
}

.GrantBeneficiaryItem__VestingSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.GrantBeneficiaryItem__VestingProgressContainer * {
  margin: 0 !important;
}

.GrantBeneficiaryItem__VestingProgressContainer {
  min-width: 93px;
}

.GrantBeneficiaryItem .dcl.back {
  transform: rotate(180deg);
}

@media (max-width: 390px) {
  .GrantBeneficiaryItem__Details .dg.Paragraph {
    flex-direction: column !important;
    align-items: flex-start !important;
    line-height: 15px !important;
  }

  .GrantBeneficiaryItem__Details .dg.Paragraph > .dg.Bold {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .GrantBeneficiaryItem {
    padding: 16px;
  }

  .GrantBeneficiaryItem__Title {
    max-width: 380px;
  }

  .GrantBeneficiaryItem__Details .dg.Paragraph > .dg.Bold {
    color: var(--black-600);
  }

  .GrantBeneficiaryItem__GrantInfo {
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .GrantBeneficiaryItem__Avatar {
    display: block;
    margin-right: 13px;
  }

  .GrantBeneficiaryItem__Section {
    width: unset;
    justify-content: unset;
  }

  .GrantBeneficiaryItem__VestingProgressContainer {
    min-width: 93px;
  }
}

@media (min-width: 1200px) {
  .GrantBeneficiaryItem__Title {
    max-width: 600px;
  }
}

.GrantBeneficiaryItem__CategorySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

@media (min-width: 992px) {
  .GrantBeneficiaryItem__CategorySection {
    width: 267px;
  }
}
