.GrantCardHeadline {
  display: inline-flex;
  align-items: center;
  margin-bottom: 9px;
  justify-content: space-between;
  width: 100%;
}

.GrantCardHeadline__Slim {
  max-height: 61px;
}

.ui.header.GrantCardHeadline__Title {
  min-height: 52px;
  margin-top: 5px;
  line-height: 28px;
  letter-spacing: 0.3px;
  font-size: 20px;
}

.ui.header.GrantCardHeadline__SlimTitle {
  margin-bottom: 0;
}

.GrantCardHeadline__TwoLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
