.GrantCard {
  flex: 40%;
  align-items: center;
  padding: 22px;
  gap: 50px;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.GrantCard__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.GrantCard__TierSize {
  display: inline-flex;
  text-transform: uppercase;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  align-items: center;
}

.GrantCard__Tier {
  color: #736e7d;
  padding-right: 3px;
  margin-bottom: 0;
  font-weight: 400;
}

.GrantCard__Size {
  font-weight: 600;
}

.GrantsBanner__Items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.GrantsBanner__ItemsDivider {
  opacity: 0.3;
  width: 293px;
  border: 1px solid #ffffff;
}

.ui.header.GrantCard__Title {
  height: 52px;
  margin-top: 5px;
  line-height: 28px;
  letter-spacing: 0.3px;
  font-size: 20px;
}
