.PastGrantsTable__Header {
  border: none !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-transform: uppercase !important;
}

.PastGrantsTable__HeaderClickable {
  cursor: pointer !important;
}

.PastGrantsTable__HeaderCategory {
  opacity: 0.5;
}

.PastGrantsTable__HeaderCategory span {
  display: flex;
  align-items: center;
}

.PastGrantsTable__HeaderCategory span svg {
  margin-left: 5px;
  border-radius: 1px;
}
