.PastGrantCard {
  padding: 22px;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.PastGrantCard__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.PastGrantCard__TierSize {
  display: inline-flex;
  text-transform: uppercase;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  align-items: center;
}

.PastGrantCard__Tier {
  color: var(--black-600);
  padding-right: 3px;
  margin-bottom: 0;
  font-weight: 400;
}

.PastGrantCard__Size {
  font-weight: 600;
}

.ui.header.PastGrantCard__Title {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: var(--text);
  font-weight: normal;
  font-stretch: normal;
  margin-top: 4px;
}

.PastGrantCard .ProposalUpdate:last-child {
  margin-bottom: 0;
}

.PastGrantCard__Dates {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--black-800);
  font-size: 13px;
  line-height: 18px;
}

.PastGrantCard__Dates span {
  padding-right: 3px;
  font-weight: 400;
}

.PastGrantCard__StartedDate {
  font-weight: 600 !important;
}
