.PercentageLabel {
  padding: 0 5px;
  height: 14px;
  display: inline-flex;
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
  line-height: 18px;
  align-content: center;
  position: relative;
  margin-left: 8px;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
}

.PercentageLabel.PercentageLabel--Green {
  background-color: var(--green);
  border-color: var(--green);
}

.PercentageLabel.PercentageLabel--Yellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.PercentageLabel.PercentageLabel--Fuchsia {
  background-color: var(--fuchsia);
  border-color: var(--fuchsia);
}

.PercentageLabel.PercentageLabel--Red {
  background-color: var(--red);
  border-color: var(--red);
}
