.RequestBanner {
  background: linear-gradient(89.29deg, #f6f5f8 0%, rgba(246, 245, 248, 0) 100%);
  border: 1px solid #e8e8e8;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.08));
  border-radius: 6px;
  padding: 14px;
}

.RequestBanner__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 5px;
}

.RequestBanner__Description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--black-600);
  margin-bottom: 16px;
}

.ui.fluid.button.RequestBanner__Button {
  background: #ffffff;
  border: 1px solid var(--black-400);
  border-radius: 6px;
  padding: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dcl-primary);
}
