.VestingProgress {
  width: 100%;
  margin-bottom: 16px;
}

.VestingProgress__Labels {
  display: flex;
  justify-content: space-between;
  color: #161419;
  padding-bottom: 4px;
}

.VestingProgress__VestedInfo {
  display: inline-flex;
  font-size: 15px;
  line-height: 24px;
  padding-right: 2px;
  align-items: center;
}

.VestingProgress__ReleasedInfo {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  opacity: 0.8;
}

.VestingProgress__ReleasedInfoLabel {
  width: 8px;
  height: 8px;
  background: #ff2d55;
  border-radius: 4px;
  margin-right: 6px;
  min-width: 8px;
  margin-left: 3px;
}

.VestingProgress__Bold {
  font-weight: 600;
  padding-right: 2px;
}

.VestingProgress__VestedPercentage {
  background-color: var(--background-happy-green);
  font-size: 11px;
  line-height: 18px;
  border: 2px solid rgba(115, 110, 125, 0.32) !important;
  border-radius: 24px;
  width: 32px;
  height: 18px;
}

.VestingProgressBar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 2px;
  margin-bottom: 8px;
  background: rgba(115, 110, 125, 0.15);
}

.VestingProgressBar__Item {
  position: absolute;
  min-width: 6px;
  border-radius: 2px;
  height: 100%;
}

.VestingProgressBar__Released {
  z-index: 3;
  background: var(--red);
}

.VestingProgressBar__Vested {
  z-index: 2;
  background: var(--yellow);
}

.VestingProgressBar__Transferred {
  z-index: 2;
  background: var(--fuchsia);
  width: 100%;
}

.VestingProgress__VestedAt {
  display: flex;
  justify-content: flex-start;
  color: #161419;
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 18px;
}

.VestingProgress__VestedAt span {
  padding-right: 3px;
  font-weight: 400;
}

.VestingProgress__VestedDate {
  font-weight: 600 !important;
}

.VestingProgress__Ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
