.Badge {
  z-index: 1;
}

.Badge__Icon {
  border-radius: 50%;
  background-size: 192px 192px;
  background-repeat: no-repeat;
}

.Badge__Primary {
  width: 192px;
  height: 192px;
  background-size: contain;
  background-position: 0 0;
}

.Badge__FilledMono {
  width: 32px;
  height: 32px;
  background-position: left bottom;
}

.Badge__FilledMono__Small {
  width: 24px;
  height: 24px;
  background-position: -4px -164px;
}

.Badge__FilledDuo {
  width: 32px;
  height: 32px;
  background-position: right top;
}

.Badge__Outline1px {
  width: 32px;
  height: 32px;
  background-position: left top;
}

.Badge__Outline2px {
  width: 32px;
  height: 32px;
  background-position: right bottom;
}

.Badge__Revoked {
  filter: brightness(1) contrast(2) grayscale(1);
}
