.Badges__Container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.Badge__ShowMore {
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Badge__Counter {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(var(--dcl-primary-raw));
  position: relative;
  margin-left: 4px;
}

.Badge__MiniIcon {
  width: 32px;
  height: 32px;
}

.Badge__MiniIcon > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.Badge__MiniIcon__Overlapping {
  position: relative;
}

/*TODO: mobile not mobile*/
@media (min-width: 768px) {
}
