.BadgesSidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--white-900);
  padding-top: 26px;
  padding-left: 27px;
  padding-right: 24px;
  cursor: default;
}

.ui.push.right.very.wide.visible.sidebar.BadgesSidebar {
  width: 645px;
}

.BadgesSidebar__Content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.BadgesSidebar__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin-bottom: 14px;
}

.BadgesSidebar__Sarlanga {
  display: flex;
  align-items: center;
  gap: 18px;
}

.BadgesSidebar__TitleContainer > .dcl.close {
  width: 20px;
}

.BadgesSidebar__Title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: var(--black-800);
}

.BadgesSidebar__Subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 16px;
}

.BadgesSidebar__BadgesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 14px;
  flex-flow: row wrap;
  margin-bottom: 24px;
}

.BadgeCard {
  max-width: 190px;
  height: 206px;
  background: var(--white-900);
  border: 1px solid var(--alpha-black-300);
  box-shadow: 0 1px 8px var(--alpha-black-200);
  border-radius: 8px;
  flex: 1 0 calc(33.333% - 20px);
  padding: 20px 22px 10px 22px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.BadgeCard:hover {
  box-shadow: 0 0 8px #736e7d;
}

.BadgeCard__Icon {
  width: 120px;
  height: 120px;
  padding-bottom: 10px;
}

.BadgeCard__Icon > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.BadgeCard__Info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.BadgeCard__Title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--black-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -4px;
}

.BadgeCard__MintDate {
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--black-600);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BadgeDetail__TitleContainer {
  margin-bottom: 161px !important;
}

.BadgeDetail__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BadgeDetail__Icon {
  width: 200px;
  height: 200px;
  margin-bottom: 31px;
}

.BadgeDetail__Icon > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.BadgeDetail__Info {
  display: flex;
  text-align: center;
  margin-bottom: 21px;
  flex-direction: column;
}

.BadgeDetail__Title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--black-700);
}

.BadgeDetail__MintDate {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--black-600);
}

.BadgeDetail__Description > p.dg.Paragraph {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
}
