.BadgeWithTitle {
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -12px;
}

.BadgeWithTitle__BadgeContainer {
  z-index: 1;
  border-radius: 25px;
  border: 1px solid var(--alpha-black-300);
}

.BadgeWithTitle:first-child {
  margin-left: 0;
}

.BadgeWithTitle__Title {
  background: var(--black-200);
  display: flex;
  height: 24px;
  border-radius: 4px;
  padding: 3px 6px 3px 24px;
  position: relative;
  right: 20px;
  gap: 4px;
  transition: box-shadow 0.1s ease;
}

.BadgeWithTitle:hover > .BadgeWithTitle__Title {
  box-shadow: 0 0 8px var(--black-400);
}

.BadgeWithTitle__Title > span {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-800);
}
