.BadgeCard {
  height: 206px;
  background: var(--white-900);
  border: 1px solid var(--alpha-black-300);
  box-shadow: 0 1px 8px var(--alpha-black-200);
  border-radius: 8px;
  flex: 1 0 calc(33.333% - 20px);
  padding: 20px 22px 10px 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: var(--card-transition);
}

@media (min-width: 768px) {
  .BadgeCard {
    max-width: 185px;
  }
}

.BadgeCard:hover {
  box-shadow: var(--shadow-2);
  transform: translateY(-4px);
}

.BadgeCard__Icon {
  margin-bottom: 10px;
}

.BadgeCard__Info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.BadgeCard__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--black-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -4px;
}

@media (min-width: 768px) {
  .BadgeCard__Title {
    max-width: 160px;
  }
}

.BadgeCard__MintDate {
  font-weight: var(--weight-normal);
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--black-600);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
