.BadgesSidebar__Content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.BadgesSidebar__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin-bottom: 14px;
}

.BadgesSidebar__Back {
  display: flex;
  align-items: center;
  gap: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

.BadgesSidebar__Back > .BadgesSidebar__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 24px;
  color: var(--black-800);
}

.BadgesSidebar__TitleContainer > .dcl.close {
  width: 20px;
}

.BadgesSidebar__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 24px;
  color: var(--black-800);
}

.BadgesSidebar__Subtitle {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .BadgesSidebar__Subtitle {
    text-align: left !important;
  }

  .BadgesSidebar__BadgesContainer {
    justify-content: flex-start !important;
  }
}

.BadgesSidebar__BadgesContainer {
  display: flex;
  width: 100%;
  gap: 14px;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 24px;
}
