.Badge {
  z-index: 1;
  /*width: 32px;*/
  /*height: 32px;*/
}

.Badge__Icon {
  border-radius: 50%;
  background-size: 192px 192px;
  background-repeat: no-repeat;
}

.Badge__Primary {
  width: 192px;
  height: 192px;
  background-position: 0 0;
}

.Badge__FilledMono {
  width: 32px;
  height: 32px;
  background-position: 0 -160px;
}

.Badge__FilledDuo {
  width: 32px;
  height: 32px;
  background-position: -160px 0;
}

.Badge__Outline1px {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}

.Badge__Outline2px {
  width: 32px;
  height: 32px;
  background-position: -160px -160px;
}
