.BadgeDetail__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .BadgeDetail__Container {
    margin-top: 120px;
  }
}

.BadgeDetail__Icon {
  width: 200px;
  height: 200px;
  margin-bottom: 31px;
}

.BadgeDetail__Info {
  display: flex;
  text-align: center;
  margin-bottom: 21px;
  flex-direction: column;
}

.BadgeDetail__Title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--black-700);
}

.BadgeDetail__MintDate {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--black-600);
}

.BadgeDetail__Description > p.dg.Paragraph {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
}
