.BadgesSidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--white-900);
  padding-top: 26px;
  padding-left: 27px;
  padding-right: 24px;
  cursor: default;
}

.ui.push.right.very.wide.visible.sidebar.BadgesSidebar {
  width: 645px;
}

.BadgesSidebar__Content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.BadgesSidebar__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
  margin-bottom: 14px;
}

.BadgesSidebar__Back {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}

.BadgesSidebar__TitleContainer > .dcl.close {
  width: 20px;
}

.BadgesSidebar__Title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: var(--black-800);
}

.BadgesSidebar__Subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 16px;
}

.BadgesSidebar__BadgesContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 14px;
  flex-flow: row wrap;
  margin-bottom: 24px;
}
