.ImageGallery__Carousel.is-fullscreen {
  z-index: 30;
}

.ImageGallery__Carousel.is-fullscreen .ImageGallery__CarouselCell--Container {
  width: auto;
  height: 100%;
  margin-top: 3%;
}

.ImageGallery__Carousel .flickity-button:focus {
  box-shadow: none;
}

.ImageGallery__CarouselCell--Container {
  width: 250px;
  height: 150px;
  margin: 0 5px;
}

.ImageGallery__CarouselCell--Container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
