.AuthorDetails__UserContainer,
.AuthorDetails__UserInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AuthorDetails__UserContainer {
  gap: 8px;
  margin-bottom: 21px;
}

.AuthorDetails__Avatar {
  margin-right: 14px;
}

.AuthorDetails__Username {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.AuthorDetails__Address {
  color: var(--black-800);
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.AuthorDetails__ValidatedIcon {
  display: flex;
  width: 12px;
  height: 16px;
}

.AuthorDetails__ActiveSince {
  color: var(--black-600);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.AuthorDetails__StatsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--alpha-black-300);
  background: var(--white-900);
  position: relative;
}

.AuthorDetails__Chevron {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 14px;
}

@media (min-width: 768px) {
  .AuthorDetails__StatsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.AuthorDetails__StatsContainer--clickable {
  cursor: pointer;
  transition: var(--card-transition);
}

.AuthorDetails__StatsContainer--clickable:hover {
  cursor: pointer;
  box-shadow: var(--shadow-2);
  transform: translateY(-4px);
}

.AuthorDetails__SidebarList {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 8px;
}

.AuthorDetails__SidebarSubtitle {
  color: var(--black-800);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
