.CalendarAlertButton__Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2px;
}

.CalendarAlertButton.SectionButton__Container {
  justify-content: space-between;
}
