.CompetingButton {
  display: flex;
  width: 100%;
  height: 47px;
  padding: 11px 16px 12px 18px;
  justify-content: space-between;
  align-items: center;
  background: var(--white-900);
  border: 1px solid var(--black-300);
  box-shadow: 0 0 10px var(--black-100);
  border-radius: 6px;
  cursor: pointer;
}

.CompetingButton__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}
