.DetailsSection {
  width: 100%;
  border: 1px solid var(--black-300);
  border-radius: 8px;
  display: block;
  margin-bottom: 16px;
  position: relative;
}

.DetailsSection--no-border {
  border: none;
}

.DetailsSection__StickyTop {
  top: 83px !important;
  position: sticky !important;
}

.DetailsSection--with-shadow {
  box-shadow: 0 0 10px rgba(115, 110, 125, 0.15);
}

.DetailsSection--shiny {
  border-color: var(--green-800);
  box-shadow: 0px 1px 14px 1px #e5f4dd;
}

.DetailsSection--loading > *,
.DetailsSection--disabled > * {
  opacity: 0.5;
  pointer-events: none;
}

.DetailsSection__Content {
  padding: 15px;
  position: relative;
  min-height: 24px;
}

.DetailsSection__Content + .DetailsSection__Content {
  border-top: 1px solid var(--black-300);
}

.DetailsSection__Flex {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.DetailsSection__Flex > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.DetailsSection__Flex .DetailsSection__Value {
  text-align: right;
  font-weight: var(--weight-normal);
  color: var(--black-600);
}

.DetailsSection__Flex .Username {
  justify-content: flex-end;
}

.DetailsSection .ChoiceProgress {
  margin-top: 16px;
}

.DetailsSection .ui.button {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .DetailsSection__Flex {
    flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .DetailsSection__Flex {
    flex-direction: row;
  }
}
