.DetailItem {
  display: flex;
  margin-top: 0.25em;
  justify-content: space-between;
  align-items: baseline;
}

.DetailItem .DetailItem__Value {
  text-align: right;
  font-weight: var(--weight-semi-bold);
  display: inline-flex;
  align-items: center;
}

.DetailItem .DetailItem__Value .DetailItemHelper {
  display: flex;
  margin-left: 2px;
}

.DetailItemHelper--Popup {
  box-sizing: content-box;
}
