.DetailsSection {
  width: 100%;
  border: 1px solid var(--black-300);
  border-radius: 8px;
  display: block;
  margin-bottom: 16px;
  position: relative;
}

.DetailsSection--shiny {
  border-color: var(--green-800);
  box-shadow: 0px 1px 14px 1px #e5f4dd;
}

.DetailsSection--loading > *,
.DetailsSection--disabled > * {
  opacity: 0.5;
  pointer-events: none;
}

.DetailsSection__Content {
  padding: 15px;
  position: relative;
  min-height: 24px;
}

.DetailsSection__Content + .DetailsSection__Content {
  border-top: 1px solid var(--black-300);
}

.DetailsSection__Flex {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.DetailsSection__Flex--Coauthors span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1080px) {
  .DetailsSection__Flex--Coauthors span {
    justify-content: flex-end;
  }
}

.DetailsSection__Flex--Coauthors span > svg {
  margin-left: 4px;
}

.DetailsSection__Flex--Coauthors span:not(:last-child) {
  margin-bottom: 8px;
}

.DetailsSection__Flex > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.DetailsSection__Flex > div:first-child {
  flex: 0 0 32%;
}

.DetailsSection__Flex .DetailsSection__Value {
  text-align: right;
  font-weight: 500;
}

.DetailsSection__Flex .Username {
  justify-content: flex-end;
}

.DetailsSection__Secondary {
  background: var(--secondary);
  border-radius: 6px;
  margin-top: 24px;
  padding: 8px 11px;
}

.DetailsSection__Secondary .DetailsSection__Secondary__Subtitle {
  font-size: 13px;
  color: var(--text);
  opacity: 0.8;
}

.DetailsSection__Secondary .DetailsSection__Secondary__Title {
  color: var(--text);
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
}

.DetailsSection .ChoiceProgress {
  margin-top: 16px;
}

.DetailsSection .ui.button {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .DetailsSection__Flex {
    flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .DetailsSection__Flex {
    flex-direction: row;
  }

  .DetailsSection__Flex--Coauthors span svg {
    min-width: 10px;
  }
}
