.ProposalGovernanceSection__Container {
  padding: 15px 15px 0 15px;
}

.ProposalGovernanceSection__Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ProposalGovernanceSection__ResultsButton {
  color: var(--dcl-primary);
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.ProposalGovernanceSection__Results {
  padding-bottom: 15px;
}

.ProposalGovernanceSection__Results--current {
  border-bottom: 1px solid var(--black-300);
}
