.ProposalCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  background: var(--white-900);
  border: 1px solid var(--alpha-black-300);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  padding: 10px 20px 10px 16px;
  transition: border 0.15s ease-in-out;
}

.ProposalCard__Container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.ProposalCard--highlight {
  border: 1px solid rgb(165, 36, 179); /* TODO: Move color to theme */
}

.ProposalCard--overbudget {
  border: 1px solid var(--red-800) !important;
}

.ProposalCard__Title {
  display: block;
  width: 100%;
  padding-right: 20px;
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-800);
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.ProposalCard__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  gap: 4px;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-600);
}

.ProposalCard__ByUser {
  font-weight: var(--weight-semi-bold);
  text-align: left;
  margin-left: 2px;
}

.ProposalCard__Username {
  font-weight: var(--weight-semi-bold);
  color: var(--black-800);
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
}

.ProposalCard__ProposalsContainer {
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  margin-bottom: 16px;
}

.ProposalCard__Loader,
.ProposalCard__Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 378px;
}

.ProposalCard__ViewAllButton {
  margin-bottom: 40px;
}
