.ProposalThresholdsSummary {
  margin-bottom: 28px;
}

.ProposalThresholdsSummary__Carousel {
  width: 100%;
  padding-bottom: 8px;
}

.ProposalThresholdsSummary__CarouselCell {
  width: 100%;
  cursor: pointer;
  background: var(--secondary);
  border-radius: 6px;
  padding: 8px 11px;
}

.ProposalThresholdsSummary__CarouselCell:first-child {
  margin-right: 8px;
}

.ProposalThresholdsSummary__Carousel .flickity-page-dots {
  bottom: -16px;
  margin: 8px 0;
}

.ProposalThresholdsSummary__Carousel .flickity-page-dots .dot {
  width: 4px;
  height: 4px;
  margin: 0 4px;
}

.ProposalThresholdsSummary__Container {
  background: var(--secondary);
  border-radius: 6px;
  padding: 8px 11px;
}

.ProposalThresholdsSummary__Title {
  color: var(--text);
  line-height: 24px;
  font-size: 15px;
  font-weight: var(--weight-semi-bold);
}

.ProposalThresholdsSummary__Subtitle {
  font-size: 13px;
  color: var(--text);
  opacity: 0.8;
}
