.ProposalMarkdown__Description__Title {
  font-size: 13px !important;
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold) !important;
  color: var(--black-600) !important;
}

.ProposalMarkdown__Description__SubTitle {
  font-size: 21px !important;
  font-weight: var(--weight-medium) !important;
}

.ProposalMarkdown__Description__Text {
  white-space: pre-line;
}

.ProposalMarkdown__Description__Text,
.ProposalMarkdown__Description__ListItem {
  font-size: 15px !important;
  font-weight: var(--weight-normal) !important;
  letter-spacing: 0 !important;
}

.ProposalMarkdown__BreakAnywhere {
  line-break: anywhere;
}
