.CoAuthorStatus.DetailsSection.Pending {
  border: 1px solid var(--yellow-800);
  box-shadow: 0 2px 4px var(--yellow-100);
}

.CoAuthorStatus.DetailsSection .DetailsSection__Actions .column:first-child {
  padding: 0 8px 0 16px;
}

.CoAuthorStatus.DetailsSection .DetailsSection__Actions .column:last-child {
  padding: 0 16px 0 8px;
}

.CoAuthorStatus.DetailsSection .DetailsSection__Actions .button {
  min-width: 0;
}

.CoAuthorStatus.DetailsSection .DetailsSection__Actions .button.primary {
  background-color: var(--green-800);
}

.CoAuthorStatus.DetailsSection .Title {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.CoAuthorStatus.DetailsSection .Title.Pending {
  justify-content: space-between;
}

.CoAuthorStatus.DetailsSection .Title .header {
  margin: 0;
  margin-right: 4px;
}

.CoAuthorStatus.DetailsSection .DetailsSection__Content p {
  font-size: 15px;
  line-height: 24px;
  padding-right: 5px;
}

.CoAuthorStatus__RevertButton {
  color: var(--dcl-primary);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
}
