.ProposalCard--highlight {
  border: 1px solid rgb(165, 36, 179); /* TODO: Move color to theme */
}

.ProposalCard--overbudget {
  border: 1px solid var(--red-800) !important;
}

.ProposalCard__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.ProposalCard__ByUser {
  font-weight: var(--weight-semi-bold);
  text-align: left;
  margin-left: 2px;
}

.ProposalCard__Username {
  font-weight: var(--weight-semi-bold);
  color: var(--black-800);
  font-size: 11px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
}

.ProposalCard__ProposalsContainer {
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
  margin-bottom: 16px;
}

.ProposalCard__Loader,
.ProposalCard__Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 378px;
}

.ProposalCard__ViewAllButton {
  margin-bottom: 40px;
}

.ProposalCard--disabled {
  position: relative;
  text-decoration: none;
  pointer-events: none;
}
