.ProposalProcess__TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 38px;
  margin-bottom: 18px;
}

.ProposalProcess__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin: 0;
}

.ProposalProcess__ItemContainer {
  position: relative;
}

.ProposalProcess__Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 20px;
  gap: 20px;
  z-index: 1;
}

.ProposalProcess__Item--selected {
  padding: 20px 16px 20px 16px;
  gap: 16px;
  z-index: 2;
}

.ProposalProcess__ItemGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 14px rgba(213, 27, 60, 0.4); /* TODO: add color to theme */
  border-radius: 8px;
  z-index: 1;
}

.ProposalProcess__ItemGradient--bidding-and-tendering {
  background: linear-gradient(270deg, var(--fuchsia-500) 14.1%, #ff2d55 100%); /* TODO: add color to theme */
}

.ProposalProcess__ItemGradient--governance {
  background: linear-gradient(270deg, #ff2d55 14.1%, #ff7439 100%); /* TODO: add color to theme */
}

.ProposalProcess__ItemNumberContainer {
  display: flex;
  justify-content: center;
}

.ProposalProcess__ItemNumber {
  width: 16px;
  height: 16px;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 10px;
  line-height: 24px;
  color: var(--black-400);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 2px solid var(--black-400);
  background-color: var(--white-900);
  position: relative;
}

.ProposalProcess__ItemNumber--active {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 13px;
  line-height: 24px;
  color: var(--dcl-primary);
}

.ProposalProcess__ItemNumber--pending {
  color: var(--white-900);
  border: 2px solid var(--yellow-800);
  background-color: var(--yellow-800);
}

.ProposalProcess__ItemNumber--passed {
  color: var(--white-900);
  border: 2px solid var(--green-800);
  background-color: var(--green-800);
}

.ProposalProcess__ItemNumber--rejected {
  color: var(--white-900);
  border: 2px solid var(--red-800);
  background-color: var(--red-800);
}

.ProposalProcess__VerticalLine {
  position: absolute;
  top: 0;
  background: var(--black-600);
  width: 2px;
  height: 100%;
  opacity: 0.2;
}

.ProposalProcess__VerticalLine--selected {
  top: 0;
  height: 100%;
}

.ProposalProcess__VerticalLine--top {
  background-color: var(--black-600);
  height: 50%;
  top: unset;
  bottom: 0;
}

.ProposalProcess__VerticalLine--selected-top {
  background-color: var(--white-900);
  opacity: 0.4;
  bottom: -2px;
}

.ProposalProcess__VerticalLine--selected-middle {
  background-color: var(--white-900);
  opacity: 0.4;
  top: -2px;
  height: 105%;
}

.ProposalProcess__VerticalLine--bottom {
  background-color: var(--black-600);
  height: 50%;
  top: 0;
}

.ProposalProcess__VerticalLine--selected-bottom {
  background-color: var(--white-900);
  opacity: 0.4;
  top: -2px;
  height: 50%;
}

.ProposalProcess__ItemTitle {
  margin: 0;
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 24px;
  color: var(--black-700);
}

.ProposalProcess__ItemTitle--selected {
  font-size: 17px;
  line-height: 24px;
  color: var(--white-900);
}

.ProposalProcess__ItemDescription {
  margin: 0;
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 24px;
  color: var(--black-700);
}

.ProposalProcess__ItemDescription--selected {
  font-size: 15px;
  line-height: 24px;
  color: var(--white-900);
}

.ProposalProcess___StatusTextContainer {
  display: flex;
}

.ProposalProcess___StatusTextStrong {
  line-height: 12px !important;
  font-weight: var(--weight-semi-bold) !important;
  letter-spacing: 0 !important;
}

.ProposalProcess___StatusText {
  line-height: 12px !important;
  letter-spacing: 0 !important;
  font-weight: var(--weight-normal) !important;
  text-transform: uppercase;
  background: var(--alpha-black-200);
  border-radius: 4px;
  padding: 3px 5px;
}

.ProposalProcess___StatusText--default {
  color: var(--black-600) !important;
}

.ProposalProcess___StatusText--active {
  background: var(--red-200);
  color: var(--red-800) !important;
}

.ProposalProcess___StatusText--passed {
  background: var(--green-200) !important;
  color: var(--green-900) !important;
}

.ProposalProcess___StatusText--rejected {
  background: var(--red-200);
  color: var(--red-800) !important;
}

.ProposalProcess___StatusText--pending {
  background: var(--yellow-100);
  color: var(--yellow-800) !important;
}

.ProposalProcess___StatusTextStrong--default {
  color: var(--black-600) !important;
}

.ProposalProcess___StatusTextStrong--active {
  color: var(--red-800) !important;
}

.ProposalProcess___StatusTextStrong--passed {
  color: var(--green-900) !important;
}

.ProposalProcess___StatusTextStrong--rejected {
  color: var(--red-800) !important;
}

.ProposalProcess___StatusTextStrong--pending {
  color: var(--yellow-800) !important;
}
