.SectionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  cursor: pointer;
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 14px;
  line-height: 24px;
  margin: 4px 0;
  padding: 9px 11px;
  background-color: transparent;
}

.SectionButton:hover {
  color: var(--text);
}

.SectionButton.SectionButton--disabled span,
.SectionButton.SectionButton--disabled img,
.SectionButton.SectionButton--disabled svg,
.SectionButton.SectionButton--loading span,
.SectionButton.SectionButton--loading svg,
.SectionButton.SectionButton--loading img {
  opacity: 0.5;
}

.SectionButton.SectionButton--disabled {
  pointer-events: none;
}

.SectionButton span {
  margin: 0 11px;
}

.SectionButton__Container {
  display: flex;
  align-items: center;
  width: 100%;
}
