.Section__Container {
  margin: 38px 0;
}

.Section__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Section__TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
}

.Section__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 18px;
  color: #16141a; /* TODO: replace with figma color */
  margin: 0;
}

.Section__Action {
  display: flex;
  align-self: flex-end;
}

.Section__LoadingContainer {
  position: relative;
  height: 150px;
}
