.VestingContract__Description {
  margin: 9px 0;
}

.VestingContract__Description__StrongText {
  font-weight: var(--weight-medium) !important;
  letter-spacing: -0.1px !important;
}

.ui.menu.VestingContract__Menu::after,
.ui.simple.VestingContract__Dropdown::before {
  display: none;
}

.ui.menu.VestingContract__Menu,
.ui.simple.VestingContract__Dropdown,
.ui.simple.VestingContract__Dropdown:hover,
.ui.menu.VestingContract__Menu .menu.transition {
  border-radius: 6px !important;
}

.ui.simple.VestingContract__Dropdown,
.ui.simple.VestingContract__Dropdown:hover {
  width: 100%;
  justify-content: space-between;
  background-color: var(--primary) !important;
}

.ui.simple.VestingContract__Dropdown > .dropdown.icon,
.ui.simple.VestingContract__Dropdown > .text {
  color: var(--white-900);
}

.ui.simple.VestingContract__Dropdown > .text {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 600;
  text-align: center;
}

.ui.menu.VestingContract__Menu .menu.transition {
  background-color: var(--black-700) !important;
}

.ui.menu.VestingContract__Menu .menu.transition .text {
  color: var(--white-900);
}
