.VestingContract .dg.Paragraph {
  font-size: 15px;
  line-height: 24px;
  margin: 9px 0;
}

.VestingContract .dg.Paragraph .dg.Bold {
  font-weight: var(--weight-boldemort);
  letter-spacing: -0.1px;
}
