.ui.button.ChoiceButton {
  background: var(--background);
  border: 1px solid rgba(115,110,125,.32);
  position: relative;
}

.ChoiceButton__Text {
  position: relative;
  z-index: 2;
}

.ui.button.ChoiceButton.ChoiceButton--voted {
  pointer-events: none;
}

.ui.button.ChoiceButton.ChoiceButton--approve:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--approve {
  color: var(--background-happy-green);
}

.ui.button.ChoiceButton.ChoiceButton--reject:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--reject {
  color: #FF4545;
}

.ui.button.ChoiceButton.ChoiceButton--status-0:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-0 {
  color: #4e79a7;
}

.ui.button.ChoiceButton.ChoiceButton--status-1:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-1 {
  color: #f28e2c;
}

.ui.button.ChoiceButton.ChoiceButton--status-2:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-2 {
  color: #e15759;
}

.ui.button.ChoiceButton.ChoiceButton--status-3:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-3 {
  color: #76b7b2;
}

.ui.button.ChoiceButton.ChoiceButton--status-3:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-3 {
  color: #59a14f;
}

.ui.button.ChoiceButton.ChoiceButton--status-5:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-5 {
  color: #edc949;
}

.ui.button.ChoiceButton.ChoiceButton--status-6:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-6 {
  color: #af7aa1;
}

.ui.button.ChoiceButton.ChoiceButton--status-7:hover,
.ui.button.ChoiceButton.ChoiceButton--voted.ChoiceButton--status-7 {
  color: #ff9da7;
}

.ChoiceButton__VoteCount {
  position: absolute;
  right: 15px;
  opacity: 0.4;
  z-index: 2;
}

.ChoiceButton__Background {
  position:absolute;
  background: var(--secondary);
  height: 100%;
  top:0; bottom:0;
  left:0;
  z-index: 1;
  border-radius: 6px;
}
