.ProposalResults {
  margin-top: 36px;
}

.ProposalResults__Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 36px;
  margin-bottom: 24px;
}

.ProposalResults__Header .ui.header {
  font-size: 17px;
}

.ProposalResults__Content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .ProposalResults__Content {
    flex-direction: row;
  }

  .ProposalResults__Header .ui.header {
    font-size: 20px;
  }
}

.ProposalResults__ChoicesProgress {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ProposalResults__CallToAction > p.dg.Paragraph,
.ProposalResults__CallToAction > p.dg.Paragraph > span {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}

.ProposalResults__CallToAction > p.dg.Paragraph > span {
  font-weight: 500;
}
