.ProposalVestingStatus__UpdateDescription .dg.Bold {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.ProposalVestingStatus__UpdateDescription .dg.Paragraph {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 24px;
}

.ProposalVestingStatus__UpdateButton {
  height: 36px;
  padding: 0 !important;
}

.ProposalVestingStatus__NextUpdateDueDate .dg.Paragraph {
  font-size: 13px;
  line-height: 18px;
}

.ProposalVestingStatus__CurrentUpdateDueDate .dg.Paragraph {
  margin-top: 10px;
  font-size: 13px;
  line-height: 18px;
}
