@media (max-width: 767px) {
  .DetailsSection__Content.OnlyDesktop {
    display: none;
  }
}

.ProposalPromotionSection {
  border-top: 1px solid rgba(34,36,38,.1);
  padding-top: 16px;
  margin-top: 16px;
}

.ProposalPromotionSection .Paragraph {
  padding-top: 8px;
  margin-bottom: 0;
}

.ProposalPromotionSection .smallMarkdown p.dg.Paragraph {
  font-size: 13px;
}

.ProposalPromotionSection .tinyMarkdown p.dg.Paragraph {
  font-size: 11px;
}
