.ProposalResultsSection__Header > svg {
  margin-left: 9px;
}

.ProposalResultsSection__CallToAction > p.dg.Paragraph,
.ProposalResultsSection__CallToAction > p.dg.Paragraph > span {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}

.ProposalResultsSection__CallToAction > p.dg.Paragraph > span {
  font-weight: 500;
}
