.TestCases {
	display: flex;
	width: 100%;
	padding-bottom: 16px;
	align-items: center;
	flex-direction: column;
}

.TestCases .button.ui.basic.button {
	border: 1px solid rgba(115,110,125,.32);
	background: #00800017 !important;
	border-radius: 25px;
}

.TestCases__Buttons{
	display: inline-flex;
	width: 100%;
}
