.VestingContract {
  border-color: var(--green);
  box-shadow: 0px 1px 14px 1px #e5f4dd;
}

.VestingContract .dg.Paragraph {
  font-size: 15px;
  line-height: 24px;
  margin: 9px 0;
}

.VestingContract .dg.Paragraph .dg.Bold {
  font-weight: 500;
  letter-spacing: -0.1px;
}
