.VotingSectionTester {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.VotingSectionTester .button.ui.basic.button {
	border: 1px solid rgba(115, 110, 125, .32);
	background: var(--background-popup) !important;
	border-radius: 25px;
	margin-right: 2px;
	margin-left: 2px;
	color: var(--background) !important;
}

.VotingSectionTester__Buttons {
	display: inline-flex;
	width: 100%;
}
