.VotingStatusSummary__Carousel {
  width: 100%;
  padding-bottom: 8px;
}
.VotingStatusSummary__CarouselCell {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.VotingStatusSummary__CarouselCell:first-child {
  margin-right: 8px;
}

.VotingStatusSummary__Carousel .flickity-page-dots {
  bottom: -16px;
  margin: 8px 0;
}
.VotingStatusSummary__Carousel .flickity-page-dots .dot {
  width: 4px;
  height: 4px;
  margin: 0 4px;
}

.VotingStatusSummary__Container {
  background: var(--secondary);
  border-radius: 6px;
  padding: 8px 11px;
}

.VotingStatusSummary__Title {
  color: var(--text);
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
}

.VotingStatusSummary__Subtitle {
  font-size: 13px;
  color: var(--text);
  opacity: 0.8;
}
