.ProjectRequestSection__Container {
  margin-bottom: 50px;
}

.ProjectRequestSection__Head {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ProjectRequestSection__Header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 26px;
  margin-bottom: 16px;
}

.ProjectRequestSection__HeaderTitle {
  font-size: 20px;
  font-weight: var(--weight-semi-bold);
  line-height: 42px;
  letter-spacing: 0.4px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ProjectRequestSection__HorizontalLine {
  flex-grow: 100;
  border: 1px solid var(--black-300);
}

.ProjectRequestSection__FixedSizeIcon {
  min-width: 34px;
  max-width: 34px;
}

.ProjectRequestSection__Content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .ProjectRequestSection__Content {
    margin-left: 61px;
  }
}

.ProjectRequestSection__Row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .ProjectRequestSection__Row {
    flex-direction: row;
  }
}

.ProjectRequestSection__InputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ProjectRequestSection__Field {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.ProjectRequestSection__Field:last-child {
  margin-bottom: 0;
}

.ProjectRequestSection__FieldRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  justify-content: space-between;
  gap: 21px;
}

.ProjectRequestSection__TitleSubLabel {
  margin-bottom: 20px !important;
}

.ProjectRequestSection__EmailNote {
  font-size: 10px;
  font-weight: var(--weight-light);
  margin-bottom: 8px;
  margin-top: 8px;
}
