.ui.push.right.very.wide.visible.sidebar.GovernanceSidebar {
  width: 100%;
}

@media (min-width: 768px) {
  .ui.push.right.very.wide.visible.sidebar.GovernanceSidebar {
    width: 650px;
  }
}

.GovernanceSidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--white-900);
  padding-top: 26px;
  padding-left: 27px;
  padding-right: 24px;
  cursor: default;
}
