.CliffProgress {
  width: 100%;
}

.CliffProgress__Labels {
  display: flex;
  justify-content: space-between;
  color: var(--black-800);
  padding-bottom: 4px;
}

.CliffProgress__CliffDuration {
  display: inline-flex;
  font-size: 13px;
  line-height: 24px;
  padding-right: 2px;
  align-items: center;
}

.CliffProgress__CliffRemaining {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  line-height: 18px;
  font-style: normal;
  opacity: 0.8;
  color: var(--black-600);
}

.CliffProgress__Bold {
  font-weight: var(--weight-semi-bold);
  padding-right: 2px;
}

.CliffProgressBar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  background: var(--black-100);
}

.CliffProgressBar__Item {
  position: absolute;
  min-width: 6px;
  border-radius: 4px;
  height: 100%;
}

.CliffProgressBar__Elapsed {
  z-index: 2;
  background: var(--black-600);
}

.CliffProgress__Dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black-600);
  padding-bottom: 4px;
  font-size: 11px;
  line-height: 18px;
}

.CliffProgress__EnactedAt span {
  padding-right: 3px;
  font-weight: var(--weight-normal);
}

.CliffProgress__EnactedDate {
  font-weight: var(--weight-semi-bold) !important;
}

@media (min-width: 425px) {
  .CliffProgress {
    margin-bottom: 16px;
  }

  .CliffProgress__CliffDuration {
    font-size: 15px !important;
  }

  .CliffProgress__CliffRemaining {
    font-size: 13px !important;
  }

  .CliffProgress__Dates {
    font-size: 13px !important;
  }
}
