.GrantCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 6px;
}

.GrantCardHeader__ConfigurationInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.GrantCardHeader__SizeContainer {
  display: inline-flex;
  text-transform: uppercase;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  align-items: center;
}

.GrantCardHeader__Username {
  display: none;
}

@media (min-width: 425px) {
  .GrantCardHeader__ConfigurationInfo {
    display: flex;
    justify-content: flex-start;
    gap: 9px;
    width: auto;
  }

  .GrantCardHeader__Username {
    display: flex !important;
    color: var(--black-600);
    text-transform: uppercase;
    gap: 3px;
    align-items: center;
    font-weight: var(--weight-boldemort);
    font-size: 11px;
    line-height: 18px;
  }

  .GrantCardHeader__Username .dcl.address {
    color: var(--black-600);
  }
}

.GrantCardHeader__SizeContainerSlim {
  font-weight: 500 !important;
  font-size: 11px !important;
  color: var(--black-600);
}

.GrantCardHeader__Size {
  color: var(--black-600);
  padding-right: 3px;
  margin-bottom: 0;
  font-weight: var(--weight-normal);
}

.GrantCardHeader__SizeNumber {
  font-weight: var(--weight-boldemort);
}
