.GrantCardHeadline {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.GrantCardHeadline__Slim {
  max-height: 61px;
}

.ui.header.GrantCardHeadline__Title {
  min-height: 54px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.3px;
  font-style: normal;
  font-weight: var(--weight-boldemort);
}

.GrantCardHeadline__Avatar {
  display: none;
}

@media (min-width: 425px) {
  .GrantCardHeadline {
    margin-bottom: 9px !important;
  }

  .GrantCardHeadline__Avatar {
    display: flex !important;
  }

  span.Username.GrantCardHeadline__Avatar > canvas.dcl.blockie {
    margin-right: 0 !important;
  }

  .GrantCardHeadline__Avatar .dg.dcl-avatar,
  .dg.dcl-avatar.dcl-avatar--medium {
    width: 44px;
    margin-right: 0;
  }

  .ui.header.GrantCardHeadline__Title {
    margin-top: 5px !important;
    min-height: 56px !important;
    font-size: 20px;
    line-height: 28px;
  }
}

.GrantCardHeadline__TwoLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
