.GrantCard {
  padding: 12px 10px;
  color: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0px 1px 8px var(--black-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: var(--white-900);
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.CurrentGrants__Container .GrantCard i.icon.chevron.right:before {
  top: -5px;
  position: relative;
}

.CurrentGrants__Container .GrantCard:hover {
  box-shadow: var(--shadow-2);
  transform: translateY(-4px);
  cursor: pointer;
}

.GrantCard__Expanded {
  transition: all 0.2s ease 0s;
  z-index: 100;
}

.GrantCard__Expanded:hover {
  transform: scale(1.1);
  height: 249px;
  box-shadow: 0 5px 30px 0 #0000003d;
}

.GrantCard__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.ui.header.GrantCard__Title {
  min-height: 52px;
  margin-top: 5px;
  line-height: 28px;
  letter-spacing: 0.3px;
  font-size: 20px;
}

.GrantCard .ProposalUpdate {
  border: none;
  border-top: 1px solid var(--black-100);
  border-radius: 0px;
}
.GrantCard .ProposalUpdate:last-child {
  margin-bottom: 0;
}

@media (min-width: 425px) {
  .GrantCard {
    padding: 0 !important;
  }

  .GrantCard > div:first-child {
    padding: 16px 16px 0 16px;
  }

  .GrantCard__Expanded {
    height: 188px;
  }
}

.GrantCard__UpdateContainer {
  display: none;
}

@media (min-width: 425px) {
  .GrantCard__UpdateContainer {
    display: block !important;
  }
}
