.PercentageLabel {
  padding: 0 5px;
  height: 14px;
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
  align-content: center;
  position: relative;
  margin-left: 8px;
  text-transform: uppercase;
  display: block;
  font-weight: var(--weight-semi-bold);
  line-height: 14px;
  font-style: normal;
}

.PercentageLabel.PercentageLabel--Green {
  background-color: var(--green-800);
  border-color: var(--green-800);
}

.PercentageLabel.PercentageLabel--Yellow {
  background-color: var(--yellow-800);
  border-color: var(--yellow-800);
}

.PercentageLabel.PercentageLabel--Fuchsia {
  background-color: var(--fuchsia-800);
  border-color: var(--fuchsia-800);
}

.PercentageLabel.PercentageLabel--Red {
  background-color: var(--red-800);
  border-color: var(--red-800);
}
