.VestingProgress {
  width: 100%;
}

.VestingProgress__Labels {
  display: flex;
  justify-content: space-between;
  color: var(--black-800);
  padding-bottom: 4px;
}

.VestingProgress__VestedInfo {
  display: inline-flex;
  font-size: 13px;
  line-height: 24px;
  padding-right: 2px;
  align-items: center;
}

.VestingProgress__ReleasedInfo {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  line-height: 18px;
  font-style: normal;
  opacity: 0.8;
}

.VestingProgress__ReleasedInfoLabel {
  width: 8px;
  height: 8px;
  background: var(--dcl-primary);
  border-radius: 4px;
  margin-right: 6px;
  min-width: 8px;
  margin-left: 3px;
}

.VestingProgressBar__LightText {
  color: var(--black-600);
}

.VestingProgress__Bold {
  font-weight: var(--weight-semi-bold);
  padding-right: 2px;
}

.VestingProgress__VestedPercentage {
  background-color: var(--green-800);
  font-size: 11px;
  line-height: 18px;
  border: 2px solid var(--black-100) !important;
  border-radius: 24px;
  width: 32px;
  height: 18px;
}

.VestingProgressBar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  margin-bottom: 4px;
  background: var(--black-100);
}

.VestingProgressBar__Item {
  position: absolute;
  min-width: 6px;
  border-radius: 4px;
  height: 100%;
}

.VestingProgressBar__Released {
  z-index: 3;
  background: var(--red-800);
}

.VestingProgressBar__Vested {
  z-index: 2;
  background: var(--yellow-800);
}

.VestingProgressBar__Transferred {
  z-index: 2;
  background: var(--fuchsia-800);
  width: 100%;
}

.VestingProgress__Dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black-800);
  padding-bottom: 4px;
  font-size: 11px;
  line-height: 18px;
}

.VestingProgress__VestedAt span {
  padding-right: 3px;
  font-weight: var(--weight-normal);
}

.VestingProgress__VestedDate {
  font-weight: var(--weight-semi-bold) !important;
}

.VestingProgress__Ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 425px) {
  .VestingProgress {
    margin-bottom: 16px;
  }

  .VestingProgress__VestedInfo {
    font-size: 15px !important;
  }

  .VestingProgress__ReleasedInfo {
    font-size: 13px !important;
  }

  .VestingProgress__Dates {
    font-size: 13px !important;
  }

  .VestingProgress__Bar {
    margin-bottom: 8px;
  }
}
