.SnapshotRedirect__Icon {
  margin-bottom: 36px;
}

.SnapshotRedirect__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
}

.SnapshotRedirect__Header {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: var(--black-800);
  margin-bottom: 4px;
}

.SnapshotRedirect__Description {
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: var(--black-800);
  margin-bottom: 8px !important;
}

.SnapshotRedirect__Suggestion {
  font-weight: var(--weight-normal) !important;
  letter-spacing: 0 !important;
  text-align: center;
  margin-bottom: 24px !important;
}

.SnapshotRedirect__Actions {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
}

.SnapshotRedirect__FeedbackLink {
  font-size: 15px;
  font-weight: var(--weight-normal);
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}
