.VotingModal .content {
  margin-bottom: 32px !important;
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.VotingModal__VoteVp {
  font-weight: var(--weight-semi-bold);
}

.VotingModal__Content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 45px;
}

.VotingModal__Actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VotingModal__ErrorNotice {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 15px;
  line-height: 24px;
  color: var(--black-600);
  margin-left: 22px;
}

.VotingModal__ErrorNotice--hidden {
  opacity: 0;
}

.VotingModal__SkipAndCast {
  text-transform: none !important;
  font-weight: var(--weight-semi-bold) !important;
  margin-left: 22px !important;
  padding-left: 0 !important;
  text-align: left !important;
}
