.ui.modal.UnwrapModal {
  display: flex!important;
  flex-direction: column;
  justify-content: space-between;
  max-width: 520px;
  min-height: 350px;
  position: relative;
}

.ui.modal.UnwrapModal > .icon {
  display: block;
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin:0;
  z-index: 1000;
  color: var(--text)
}

.ui.modal.UnwrapModal > .icon.left {
  left: 0
}

.ui.modal.UnwrapModal > .icon.close {
  right: 0
}

.ui.modal.UnwrapModal > .content {
  height: 100%;
  margin: 0px;
  padding: 2.5rem 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ui.modal.UnwrapModal > .content > .header,
.ui.modal.UnwrapModal > .content > .actions,
.ui.modal.UnwrapModal > .content > .description {
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ui.modal.UnwrapModal .dcl.field {
  min-width: auto;
}

.ui.modal.UnwrapModal .ui.button {
  width: 250px;
}