.ChoiceProgress {
  padding: 0 15px;
}

.ChoiceProgress--clickable {
  cursor: pointer;
}

.ChoiceProgress__Description {
  display: flex;
  justify-content: space-between;
  color: var(--text);
  flex-wrap: wrap;
}

.ChoiceProgress__Choice {
  font-weight: var(--weight-semi-bold);
  font-size: 15px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: block;
}

.ChoiceProgress .ChoiceProgress__Choice::first-letter {
  text-transform: uppercase;
}

.ChoiceProgress__Stats {
  flex: 1 0 auto;
  font-size: 15px;
  text-align: right;
  padding-left: 1em;
}

.ChoiceProgress__Votes {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 8px;
  font-weight: normal;
}

.ChoiceProgress__Votes strong {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  color: var(--black-700);
}

.ChoiceProgress__VotesCount {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 18px;
  color: var(--black-600);
}

.ChoiceProgress__VotesCountIcon {
  width: 4px;
  height: 7px;
  margin-left: 2px;
}
