.ChoiceProgress .ChoiceProgress__Description {
  display: flex;
  justify-content: space-between;
  color: var(--text);
  flex-wrap: wrap;
}

.ChoiceProgress .ChoiceProgress__Choice {
  font-weight: 500;
  font-size: 15px;
}

.ChoiceProgress .ChoiceProgress__Stats {
  flex: 1 0 auto;
  font-size: 15px;
  text-align: right;
  padding-left: 1em;
}

.ChoiceProgress .Progress {
  margin-top: 4px;
}

.ChoiceProgress .ChoiceProgress__Votes {
  font-size: 13px;
  margin-top: 8px;
  font-weight: normal;
}

.ChoiceProgress .ChoiceProgress__Votes strong {
  font-weight: 500
}