.FinishLabel {
  padding: 0;
  height: 24px;
  display: inline-flex;
  color: var(--black-800);
  font-weight: var(--weight-boldemort);
  font-size: 12px;
  line-height: 26px;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
