.LeadingOption {
  display: flex;
  align-items: center;
  padding: 0 0 0;
}

.LeadingOption__Text {
  display: flex;
  gap: 5px;
  font-weight: var(--weight-semi-bold);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
}

.LeadingOption__Text strong {
  color: var(--black-800);
  font-weight: var(--weight-bold);
}

.LeadingOption span {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
