.StatusLabel,
.StatusLabel.StatusLabel--active {
  text-transform: uppercase;
  padding: 0 11px;
  height: 24px;
  display: inline-flex;
  border: 1px solid #736e7d;
  color: #736e7d;
  border-radius: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-right: 0.5rem;
  vertical-align: middle;
  align-content: center;
}

.StatusLabel.StatusLabel--pending {
  opacity: 0.5;
}

.StatusLabel.StatusLabel--passed {
  color: var(--background-happy-green);
  border-color: var(--background-happy-green);
}

.StatusLabel.StatusLabel--enacted,
.StatusLabel.StatusLabel--prioritized {
  color: #fff;
  border-color: var(--background-happy-green);
  background-color: var(--background-happy-green);
}

.StatusLabel.StatusLabel--rejected {
  color: #ff0000;
  border-color: #ff0000;
}

.StatusLabel img {
  display: block;
  padding: 1px 0.3rem 1px 0;
}

.StatusLabel span {
  display: block;
  line-height: 20px;
  padding: 1px 0;
}
