.FilterMenu__Button {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  gap: 4px;
}

.FilterMenu__ButtonText {
  margin-bottom: 0;
  font-size: 12px !important;
  font-weight: var(--weight-semi-bold) !important;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .FilterMenu__ButtonText {
    font-size: 14px !important;
  }
}

.FilterMenu__Sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  height: 100%;
  width: 293px;
  overflow-y: scroll;
  overscroll-behavior: none;
  visibility: hidden;
  transform: translateX(293px);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 35px 0px var(--alpha-black-400);
}

.FilterMenu__Sidebar::-webkit-scrollbar {
  display: none;
}

.FilterMenu__Sidebar--open {
  transform: translateX(0px);
  visibility: visible;
}

.FilterMenu__SidebarContent {
  position: absolute;
  top: 0;
  right: 0;
  width: 293px;
  min-height: 100%;
  background-color: var(--white-900);
  z-index: 11;
  padding: 15px 32px;
}

.FilterMenu__CloseButton {
  position: absolute;
  top: 23px;
  right: 23px;
}
