.SearchTitle__Container {
  display: flex;
  align-items: center;
}

.SearchTitle__TextContainer {
  display: contents;
}

.SearchTitle__BackContainer {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.SearchTitle__Back {
  margin-left: 0 !important;
}

.ui.header.SearchTitle__Text {
  display: block;
  margin: 0;
  font-size: 17px;
}

.ui.header.SearchTitle__Text.SearchTitle__ClosingDoubleQuote {
  padding-left: 0;
}

.ui.header.SearchTitle__Ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SearchTitle__Separator {
  width: 100%;
  border-color: #e1e0e3;
  opacity: 0.2;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .SearchTitle__Container {
    padding-bottom: 1rem;
    padding-top: 0;
  }

  .ui.header.SearchTitle__Text {
    font-size: 34px;
    line-height: 42px;
  }
}
