.SearchInput {
  border: 0;
  padding: 8px 16px;
  width: 8px;
  border-radius: 24px;
  background: #f2f3f5 no-repeat 8px center;
  background-image: url('../../images/icons/magnify.svg');
  float:right;
  outline-width: 0;
  transition: all 0.15s ease-in-out;
}

.SearchInput--open {
  width: 100%;
  border: 0;
  padding: 8px 32px;
  box-shadow: var(--shadow-2);
}

.SearchContainer {
  position: relative;
}

.SearchContainer > .dcl.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background-color: #f1f6fe;
  z-index: 10;
}
