.SortingMenu {
  margin-right: 1em;
  font-size: 12px !important;
  height: 36px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.SortingMenu .divider.text {
  font-weight: var(--weight-semi-bold) !important;
  color: var(--black-600);
  line-height: 24px !important;
}

@media (min-width: 768px) {
  .SortingMenu {
    font-size: 14px !important;
  }
}

.ui.dropdown.SortingMenu .dropdown.icon {
  margin-left: 7px;
}

.ui.dropdown.SortingMenu.Upwards > .dropdown.icon:before {
  content: '\F0D8';
}

.ui.dropdown.SortingMenu.Downwards > .dropdown.icon:before {
  content: '\F0D7';
}
