.GrantList__Total {
  margin-bottom: 8px;
}

.GrantList__Title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding-bottom: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.GrantList__Content {
  border-top: 0 !important;
}

.GrantList__Link {
  color: var(--blue-800);
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  display: flex;
  margin-top: 0.25em;
  align-items: center;
}
