.ui.header.MembersHeader {
  display: flex !important;
  justify-content: flex-start;
  align-items: baseline;
}

.MembersPopup__Icon {
  width: 14px !important;
  height: 14px !important;
  margin-left: 4px;
  position: relative;
  top: 1px;
  z-index: 10;
}

.ui.popup.transition.visible.MembersPopup {
  padding: 0 0;
}

.MembersPopup__Content {
  padding: 1em;
  color: var(--white-900) !important;
}

.MembersContainer {
  display: flex;
  flex-wrap: wrap;
}
