.MonthlyTotal {
  width: 100%;
  display: flex;
}

.MonthlyTotal--Full {
  max-height: 1500px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.MonthlyTotal--Overview {
  max-height: 398px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.content.MonthlyTotal_Headers {
  flex-grow: 0 !important;
}

.ui.header.huge.MonthlyTotal__Header {
  margin-bottom: 8px;
}

.ui.header.MonthlyTotal__Header,
.ui.header.huge.MonthlyTotal__Header {
  margin: 0;
  display: flex;
  align-items: baseline;
  font-weight: 400;
}

.ui.sub.header.MonthlyTotal__Sub {
  margin-top: 0;
}

.content.MonthlyTotal__Detail {
  margin-top: 0;
  padding-top: 0 !important;
}

.content.MonthlyTotal__Detail.MonthlyTotal--Overview {
  max-height: 196px;
}

.MonthlyTotal .DetailsSection__Flex {
  display: flex;
  justify-content: space-between;
}

.MonthlyTotal .DetailsSection__Flex .DetailsSection__Value {
  text-align: right;
  font-weight: 500;
}

strong.Number.Number--Green {
  color: var(--background-happy-green);
}

strong.Number.Number--Red {
  color: #ff4545;
}

.MonthlyTotal .ui.card .ui.basic.button {
  padding-top: 0;
}

@media only screen and (min-width: 426px) {
  .MonthlyTotal.MonthlyTotal--Overview {
    max-height: 404px;
  }

  .content.MonthlyTotal__Detail.MonthlyTotal--Overview {
    max-height: 240px;
  }
}

@media only screen and (min-width: 992px) {
  .MonthlyTotal:last-of-type {
    margin-left: 2em;
  }
}
