.MonthlyTotal {
  width: 100%;
  display: flex;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
}

.MonthlyTotal__Card.ui.card {
  width: 100%;
  box-shadow: none !important;
}

.MonthlyTotal--Full {
  max-height: 1500px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.MonthlyTotal--Overview {
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.content.MonthlyTotal_Headers {
  flex-grow: 0 !important;
}

.ui.header.huge.MonthlyTotal__Header {
  margin-bottom: 8px;
}

.ui.header.MonthlyTotal__Header,
.ui.header.huge.MonthlyTotal__Header {
  margin: 0;
  display: flex;
  align-items: baseline;
  font-weight: var(--weight-normal);
}

.ui.sub.header.MonthlyTotal__Sub {
  margin-top: 0;
}

.content.MonthlyTotal__Detail {
  margin-top: 0;
  padding-top: 0 !important;
}

.content.MonthlyTotal__Detail .DetailItem .DetailItem__Name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 65%;
}

.content.MonthlyTotal__Detail.MonthlyTotal--Overview {
  max-height: 196px;
}

.MonthlyTotal .DetailsSection__Flex {
  display: flex;
  justify-content: space-between;
}

.MonthlyTotal .DetailsSection__Flex .DetailsSection__Value {
  text-align: right;
  font-weight: var(--weight-semi-bold);
}

strong.Number.Number--Green {
  color: var(--green-800);
}

strong.Number.Number--Red {
  color: var(--dcl-primary);
}

@media screen and (min-width: 1080px) {
  .content.MonthlyTotal__Detail .DetailItem .DetailItem__Name {
    width: 90%;
  }
}
