.Comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 24px;
  margin-bottom: 24px;
}

.Comment__ProfileImage {
  margin-right: 16px;
}

.Comment__Author {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.Comment__Author a {
  font-weight: var(--weight-semi-bold);
}

.Comment__Cooked {
  width: auto;
  height: auto;
  max-width: 100%;
  word-break: break-word;
}

.Comment__Cooked img {
  max-width: 100%;
  height: auto;
}

.Comment__CookedImg {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  margin-right: 1rem;
}

.Comment span {
  flex: 1 1;
  line-height: 20px;
  margin: 0 7px;
}

.Comment div.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Comments img.emoji {
  vertical-align: middle;
}

.Comments img.avatar {
  margin-right: 10px;
}

.Comments aside.quote {
  display: flex;
  flex-direction: column;
  border-left: 5px solid var(--black-600);
  padding: 12px 12px 12px 12px;
  background-color: var(--black-200);
  margin-top: 1em;
  margin-bottom: 1em;
}

.Comment .Comment__Content {
  width: 100%;
}

.Comment__AuthorText {
  margin: 0 !important;
}

.Comment__ExtraInfo {
  margin: 0 !important;
  flex: none !important;
  color: var(--secondary-text) !important;
}
.Comment__ExtraInfo.Comment__ExtraInfo--choice {
  margin: 0 7px !important;
}
