.Comments {
  margin-top: 36px;
}

.Comment__Author svg {
  margin-left: 4px;
}

.Comments.Comments--loading > * {
  opacity: 0.5;
  pointer-events: none;
}

.ui.active.loader.Comments__Loader {
  top: 25%;
}

.Comments .Comments__Content + .Comments__Content {
  border-top: 1px solid var(--black-400);
}

.Comments .ui.button {
  font-size: 15px;
}

.Comments .ui.button.Comments__ReadMore {
  background-color: var(--background);
  border: 1px solid var(--black-400);
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .Comments .ui.button {
    font-size: 14px;
  }
  .Comments .ui.header {
    font-size: 17px;
  }
}

.Comment__ExtraInfoText {
  margin-left: 7px !important;
  color: var(--secondary-text) !important;
  margin-bottom: 0 !important;
}

.Comment__ExtraInfoStrong {
  margin: 0 !important;
  color: var(--secondary-text) !important;
}
