.ActionBox__Container {
  background: var(--white-900);
  border: 1px solid var(--black-100);
  box-shadow: 0 1px 8px var(--black-100);
  border-radius: 8px;
}

.ActionBox__Padded {
  padding: 16px;
}

.ActionBox__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 13px;
}

.ActionBox__HeaderTitle > span {
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-right: 4px;
}

.ActionBox__HeaderTitle {
  display: inline-flex;
  text-transform: uppercase;
}

.ActionBox__Divider {
  margin-top: 0 !important;
}

.ActionBox__Container .ActionBox__HeaderAction .ui.button {
  padding: 0;
}
