@keyframes Avatar--loading-animation {
  to {
    background-position-x: -200%;
  }
}

.Avatar {
  min-width: var(--avatar-size) !important;
  max-width: var(--avatar-size) !important;
  min-height: var(--avatar-size) !important;
  max-height: var(--avatar-size) !important;
  border-radius: 100%;
  background-color: var(--black-600);
  vertical-align: middle;
  margin: 0;
}

.Avatar.Avatar--loading {
  opacity: 0.6;
  background-size: 200% 100%;
  animation: 1.5s Avatar--loading-animation linear infinite;
  background-image: linear-gradient(110deg, #7a7a7a 18%, #949494 28%, #7a7a7a 43%);
}

.Avatar.Avatar--0,
.Avatar.Avatar--1,
.dcl.Avatar.Avatar--0,
.dcl.Avatar.Avatar--1 {
  background-color: var(--avatar-color-01);
}

.Avatar.Avatar--0.Avatar--loading,
.Avatar.Avatar--1.Avatar--loading,
.dcl.Avatar.Avatar--0.Avatar--loading,
.dcl.Avatar.Avatar--1.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-01) 18%, #6e93bb 28%, var(--avatar-color-01) 43%);
}

.Avatar.Avatar--2,
.Avatar.Avatar--3,
.dcl.Avatar.Avatar--2,
.dcl.Avatar.Avatar--3 {
  background-color: var(--avatar-color-23);
}

.Avatar.Avatar--2.Avatar--loading,
.Avatar.Avatar--3.Avatar--loading,
.dcl.Avatar.Avatar--2.Avatar--loading,
.dcl.Avatar.Avatar--3.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-23) 18%, #f4a456 28%, var(--avatar-color-23) 43%);
}

.Avatar.Avatar--4,
.Avatar.Avatar--5,
.dcl.Avatar.Avatar--4,
.dcl.Avatar.Avatar--5 {
  background-color: var(--avatar-color-45);
}

.Avatar.Avatar--4.Avatar--loading,
.Avatar.Avatar--5.Avatar--loading,
.dcl.Avatar.Avatar--4.Avatar--loading,
.dcl.Avatar.Avatar--5.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-45) 18%, #e6787a 28%, var(--avatar-color-45) 43%);
}

.Avatar.Avatar--6,
.Avatar.Avatar--7,
.dcl.Avatar.Avatar--6,
.dcl.Avatar.Avatar--7 {
  background-color: var(--avatar-color-67);
}

.Avatar.Avatar--6.Avatar--loading,
.Avatar.Avatar--7.Avatar--loading,
.dcl.Avatar.Avatar--6.Avatar--loading,
.dcl.Avatar.Avatar--7.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-67) 18%, #91c5c1 28%, var(--avatar-color-67) 43%);
}

.Avatar.Avatar--8,
.Avatar.Avatar--9,
.dcl.Avatar.Avatar--8,
.dcl.Avatar.Avatar--9 {
  background-color: var(--avatar-color-89);
}

.Avatar.Avatar--8.Avatar--loading,
.Avatar.Avatar--9.Avatar--loading,
.dcl.Avatar.Avatar--8.Avatar--loading,
.dcl.Avatar.Avatar--9.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-89) 18%, #77b76e 28%, var(--avatar-color-89) 43%);
}

.Avatar.Avatar--a,
.Avatar.Avatar--b,
.dcl.Avatar.Avatar--a,
.dcl.Avatar.Avatar--b {
  background-color: var(--avatar-color-ab);
}

.Avatar.Avatar--a.Avatar--loading,
.Avatar.Avatar--b.Avatar--loading,
.dcl.Avatar.Avatar--a.Avatar--loading,
.dcl.Avatar.Avatar--b.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-ab) 18%, #f0d36d 28%, var(--avatar-color-ab) 43%);
}

.Avatar.Avatar--c,
.Avatar.Avatar--d,
.dcl.Avatar.Avatar--c,
.dcl.Avatar.Avatar--d {
  background-color: var(--avatar-color-cd);
}

.Avatar.Avatar--c.Avatar--loading,
.Avatar.Avatar--d.Avatar--loading,
.dcl.Avatar.Avatar--c.Avatar--loading,
.dcl.Avatar.Avatar--d.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-cd) 18%, #bf94b3 28%, var(--avatar-color-cd) 43%);
}

.Avatar.Avatar--e,
.Avatar.Avatar--f,
.dcl.Avatar.Avatar--e,
.dcl.Avatar.Avatar--f {
  background-color: var(--avatar-color-ef);
}

.Avatar.Avatar--e.Avatar--loading,
.Avatar.Avatar--f.Avatar--loading,
.dcl.Avatar.Avatar--e.Avatar--loading,
.dcl.Avatar.Avatar--f.Avatar--loading {
  background-image: linear-gradient(110deg, var(--avatar-color-ef) 18%, #feb0b8 28%, var(--avatar-color-ef) 43%);
}

.Avatar.Avatar--xxs {
  --avatar-size: 20px;
}

.Avatar.Avatar--xs {
  --avatar-size: 24px;
}

.Avatar.Avatar--sm {
  --avatar-size: 32px;
}

.Avatar.Avatar--md {
  --avatar-size: 44px;
}

.Avatar.Avatar--lg {
  --avatar-size: 52px;
}

.Avatar.Avatar--xl {
  --avatar-size: 66px;
}

.Avatar.Avatar--xxl {
  --avatar-size: 90px;
}

.Avatar.Avatar--full {
  --avatar-size: 100%;
}
