@keyframes Avatar--loading-animation {
  to {
    background-position-x: -200%;
  }
}

.Avatar {
  min-width: var(--avatar-size) !important;
  max-width: var(--avatar-size) !important;
  min-height: var(--avatar-size) !important;
  max-height: var(--avatar-size) !important;
  border-radius: 100%;
  background-color: var(--black-600);
  vertical-align: middle;
  margin: 0;
}

.Avatar.Avatar--loading {
  opacity: 0.6;
  background-size: 200% 100%;
  animation: 1.5s Avatar--loading-animation linear infinite;
  background-image: linear-gradient(110deg, #7a7a7a 18%, #949494 28%, #7a7a7a 43%);
}

.Avatar.Avatar--0,
.Avatar.Avatar--1,
.dcl.Avatar.Avatar--0,
.dcl.Avatar.Avatar--1 {
  background-color: #4e79a7;
}

.Avatar.Avatar--0.Avatar--loading,
.Avatar.Avatar--1.Avatar--loading,
.dcl.Avatar.Avatar--0.Avatar--loading,
.dcl.Avatar.Avatar--1.Avatar--loading {
  background-image: linear-gradient(110deg, #4e79a7 18%, #6e93bb 28%, #4e79a7 43%);
}

.Avatar.Avatar--2,
.Avatar.Avatar--3,
.dcl.Avatar.Avatar--2,
.dcl.Avatar.Avatar--3 {
  background-color: #f28e2c;
}

.Avatar.Avatar--2.Avatar--loading,
.Avatar.Avatar--3.Avatar--loading,
.dcl.Avatar.Avatar--2.Avatar--loading,
.dcl.Avatar.Avatar--3.Avatar--loading {
  background-image: linear-gradient(110deg, #f28e2c 18%, #f4a456 28%, #f28e2c 43%);
}

.Avatar.Avatar--4,
.Avatar.Avatar--5,
.dcl.Avatar.Avatar--4,
.dcl.Avatar.Avatar--5 {
  background-color: #e15759;
}

.Avatar.Avatar--4.Avatar--loading,
.Avatar.Avatar--5.Avatar--loading,
.dcl.Avatar.Avatar--4.Avatar--loading,
.dcl.Avatar.Avatar--5.Avatar--loading {
  background-image: linear-gradient(110deg, #e15759 18%, #e6787a 28%, #e15759 43%);
}

.Avatar.Avatar--6,
.Avatar.Avatar--7,
.dcl.Avatar.Avatar--6,
.dcl.Avatar.Avatar--7 {
  background-color: #76b7b2;
}

.Avatar.Avatar--6.Avatar--loading,
.Avatar.Avatar--7.Avatar--loading,
.dcl.Avatar.Avatar--6.Avatar--loading,
.dcl.Avatar.Avatar--7.Avatar--loading {
  background-image: linear-gradient(110deg, #76b7b2 18%, #91c5c1 28%, #76b7b2 43%);
}

.Avatar.Avatar--8,
.Avatar.Avatar--9,
.dcl.Avatar.Avatar--8,
.dcl.Avatar.Avatar--9 {
  background-color: #59a14f;
}

.Avatar.Avatar--8.Avatar--loading,
.Avatar.Avatar--9.Avatar--loading,
.dcl.Avatar.Avatar--8.Avatar--loading,
.dcl.Avatar.Avatar--9.Avatar--loading {
  background-image: linear-gradient(110deg, #59a14f 18%, #77b76e 28%, #59a14f 43%);
}

.Avatar.Avatar--a,
.Avatar.Avatar--b,
.dcl.Avatar.Avatar--a,
.dcl.Avatar.Avatar--b {
  background-color: #edc949;
}

.Avatar.Avatar--a.Avatar--loading,
.Avatar.Avatar--b.Avatar--loading,
.dcl.Avatar.Avatar--a.Avatar--loading,
.dcl.Avatar.Avatar--b.Avatar--loading {
  background-image: linear-gradient(110deg, #edc949 18%, #f0d36d 28%, #edc949 43%);
}

.Avatar.Avatar--c,
.Avatar.Avatar--d,
.dcl.Avatar.Avatar--c,
.dcl.Avatar.Avatar--d {
  background-color: #af7aa1;
}

.Avatar.Avatar--c.Avatar--loading,
.Avatar.Avatar--d.Avatar--loading,
.dcl.Avatar.Avatar--c.Avatar--loading,
.dcl.Avatar.Avatar--d.Avatar--loading {
  background-image: linear-gradient(110deg, #af7aa1 18%, #bf94b3 28%, #af7aa1 43%);
}

.Avatar.Avatar--e,
.Avatar.Avatar--f,
.dcl.Avatar.Avatar--e,
.dcl.Avatar.Avatar--f {
  background-color: #ff9da7;
}

.Avatar.Avatar--e.Avatar--loading,
.Avatar.Avatar--f.Avatar--loading,
.dcl.Avatar.Avatar--e.Avatar--loading,
.dcl.Avatar.Avatar--f.Avatar--loading {
  background-image: linear-gradient(110deg, #ff9da7 18%, #feb0b8 28%, #ff9da7 43%);
}

.Avatar.Avatar--xxs {
  --avatar-size: 20px;
}

.Avatar.Avatar--xs {
  --avatar-size: 24px;
}

.Avatar.Avatar--s {
  --avatar-size: 32px;
}

.Avatar.Avatar--m {
  --avatar-size: 44px;
}

.Avatar.Avatar--l {
  --avatar-size: 52px;
}

.Avatar.Avatar--xl {
  --avatar-size: 66px;
}

.Avatar.Avatar--xxl {
  --avatar-size: 90px;
}

.Avatar.Avatar--full {
  --avatar-size: 100%;
}
