.BoxTabs .dcl.tabs .ui.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.BoxTabs .dcl.tabs {
  display: flex !important;
  padding: 0 18px;
  margin: 0;
  height: unset;
}

.BoxTabs .dcl.tabs .tabs-left {
  display: flex;
}

.BoxTabs .dcl.tabs .dcl.tab.active {
  border-left: none;
  border-bottom: 2px solid var(--primary);
  color: var(--black-800) !important;
  font-weight: var(--weight-medium) !important;
}

.BoxTabs .tab {
  display: flex;
  align-items: center;
  padding: 7px 0;
  font-size: 11px !important;
  font-weight: var(--weight-medium) !important;
  line-height: 18px;
  text-transform: uppercase !important;
  color: var(--black-600) !important;
  margin-bottom: 0;
  height: 100%;
}

@media (min-width: 768px) {
  .BoxTabs .tab {
    text-transform: none;
    padding: 15px 0;
    font-size: 13px !important;
    line-height: 18px;
  }

  .BoxTabs .dcl.tabs .dcl.tab.active {
    border-bottom: unset;
  }
}
