.Counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.Counter--primary {
  background: var(--primary);
  color: var(--white-900);
}

.Counter--gray {
  background: var(--black-400);
  color: var(--white-900);
}
