.Counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  width: var(--counter-size);
  height: var(--counter-size);
  min-width: var(--counter-size);
  min-height: var(--counter-size);
  font-size: var(--counter-font-size);
}

.Counter--normal {
  --counter-size: 16px;
  --counter-font-size: 9px;
}

.Counter--small {
  --counter-size: 12px;
  --counter-font-size: 8px;
}

.Counter--primary {
  background: var(--primary);
  color: var(--white-900);
}

.Counter--gray {
  background: var(--black-400);
  color: var(--white-900);
}

@media (min-width: 425px) {
  .Counter--normal {
    --counter-size: 20px;
    --counter-font-size: 12px;
  }

  .Counter--small {
    --counter-size: 14px;
    --counter-font-size: 10px;
  }
}
