.CSVDragAndDrop__Zone {
  align-items: center;
  border: 2px dashed var(--alpha-black-400);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
}

.CSVDragAndDrop__File {
  background: var(--white-900);
  border-radius: 4px;
  border: 1px solid var(--alpha-black-300);
  box-shadow: 0px 1px 4px 0px var(--alpha-black-300);
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
}

.CSVDragAndDrop__InfoContainer {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.CSVDragAndDrop__Info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Text.CSVDragAndDrop__Size {
  color: var(--black-400);
  margin: 0;
}

.Text.CSVDragAndDrop__Name {
  color: var(--black-600);
  margin: 0;
}

.CSVDragAndDrop__ProgressBarContainer {
  width: 100%;
  padding: 0 10px;
}

.CSVDragAndDrop__ProgressBar {
  background-color: var(--dcl-primary) !important;
  height: 4px !important;
  border-radius: 4px !important;
}

.CSVDragAndDrop__Remove {
  position: absolute;
  right: 4px;
  top: 4px;
}

.CSVDragAndDrop__Remove > svg > circle:hover {
  fill: var(--alpha-black-200);
}

.CSVDragAndDrop__TextContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.CSVDragAndDrop__TextContainer .Text {
  color: var(--black-600);
}

.CSVDragAndDrop__TextFile {
  color: var(--dcl-primary);
  font-weight: var(--weight-medium);
}
