.Pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 8px;
  border-radius: 42px;
  border: 1px solid;
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
}

.Pill__Content {
  white-space: nowrap;
}

.Pill__Link {
  display: flex;
}

.Pill svg {
  margin-right: 0.25em;
}

.Pill--sm {
  padding: 0 6px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
}

.Pill--md {
  height: 24px;
  font-size: 12px;
  line-height: 18px;
}

.Pill--light-green {
  background-color: var(--green-200);
  border-color: var(--green-200);
  color: var(--green-800);
}

.Pill--medium-green {
  background-color: var(--green-200);
  border-color: var(--green-800);
  color: var(--green-800);
}

.Pill--shiny-green {
  background-color: var(--green-800);
  border-color: var(--green-800);
  color: var(--white-900);
}

.Pill--outline-green {
  background-color: none;
  border-color: var(--green-800);
  color: var(--green-800);
}

.Pill--light-blue {
  background-color: var(--blue-200);
  border-color: var(--blue-200);
  color: var(--blue-800);
}

.Pill--medium-blue {
  background-color: var(--blue-200);
  border-color: var(--blue-800);
  color: var(--blue-800);
}

.Pill--shiny-blue {
  background-color: var(--blue-800);
  border-color: var(--blue-800);
  color: var(--white-900);
}

.Pill--outline-blue {
  background-color: none;
  border-color: var(--blue-800);
  color: var(--blue-800);
}

.Pill--light-red {
  background-color: var(--red-200);
  border-color: var(--red-200);
  color: var(--red-800);
}

.Pill--medium-red {
  background-color: var(--red-200);
  border-color: var(--red-800);
  color: var(--red-800);
}

.Pill--shiny-red {
  background-color: var(--red-800);
  border-color: var(--red-800);
  color: var(--white-900);
}

.Pill--outline-red {
  background-color: none;
  border-color: var(--red-800);
  color: var(--red-800);
}

.Pill--light-fuchsia {
  background-color: var(--fuchsia-200);
  border-color: var(--fuchsia-200);
  color: var(--fuchsia-800);
}

.Pill--medium-fuchsia {
  background-color: var(--fuchsia-200);
  border-color: var(--fuchsia-800);
  color: var(--fuchsia-800);
}

.Pill--shiny-fuchsia {
  background-color: var(--fuchsia-800);
  border-color: var(--fuchsia-800);
  color: var(--white-900);
}

.Pill--outline-fuchsia {
  background-color: none;
  border-color: var(--fuchsia-800);
  color: var(--fuchsia-800);
}

.Pill--light-purple {
  background-color: var(--purple-200);
  border-color: var(--purple-200);
  color: var(--purple-800);
}

.Pill--medium-purple {
  background-color: var(--purple-200);
  border-color: var(--purple-800);
  color: var(--purple-800);
}

.Pill--shiny-purple {
  background-color: var(--purple-800);
  border-color: var(--purple-800);
  color: var(--white-900);
}

.Pill--outline-purple {
  background-color: none;
  border-color: var(--purple-800);
  color: var(--purple-800);
}

.Pill--light-orange {
  background-color: var(--orange-200);
  border-color: var(--orange-200);
  color: var(--orange-800);
}

.Pill--medium-orange {
  background-color: var(--orange-200);
  border-color: var(--orange-800);
  color: var(--orange-800);
}

.Pill--shiny-orange {
  background-color: var(--orange-800);
  border-color: var(--orange-800);
  color: var(--white-900);
}

.Pill--outline-orange {
  background-color: transparent;
  border-color: var(--orange-800);
  color: var(--orange-800);
}

.Pill--light-gray {
  background-color: var(--black-100);
  border-color: var(--black-100);
  color: var(--black-600);
}

.Pill--medium-gray {
  background-color: var(--black-100);
  border-color: var(--black-600);
  color: var(--black-600);
}

.Pill--shiny-gray {
  background-color: var(--black-600);
  border-color: var(--black-600);
  color: var(--white-900);
}

.Pill--outline-gray {
  background-color: transparent;
  border-color: var(--black-600);
  color: var(--black-600);
}

.Pill--light-yellow {
  background-color: var(--yellow-200);
  border-color: var(--yellow-200);
  color: var(--yellow-800);
}

.Pill--medium-yellow {
  background-color: var(--yellow-200);
  border-color: var(--yellow-800);
  color: var(--yellow-800);
}

.Pill--shiny-yellow {
  background-color: var(--yellow-800);
  border-color: var(--yellow-800);
  color: var(--white-900);
}

.Pill--outline-yellow {
  background-color: transparent;
  border-color: var(--yellow-800);
  color: var(--yellow-800);
}

.Pill--light-aqua {
  background-color: var(--aqua-200);
  border-color: var(--aqua-200);
  color: var(--aqua-800);
}

.Pill--medium-aqua {
  background-color: var(--aqua-200);
  border-color: var(--aqua-800);
  color: var(--aqua-800);
}

.Pill--shiny-aqua {
  background-color: var(--aqua-800);
  border-color: var(--aqua-800);
  color: var(--white-900);
}

.Pill--outline-aqua {
  background-color: transparent;
  border-color: var(--aqua-800);
  color: var(--aqua-800);
}

.Pill--light-white,
.Pill--medium-white,
.Pill--shiny-white,
.Pill--outline-white {
  background-color: transparent;
  border-color: var(--white-900);
  color: var(--white-900);
}

.Pill--light-transparent,
.Pill--medium-transparent,
.Pill--shiny-transparent,
.Pill--outline-transparent {
  border-color: transparent;
  color: var(--white-900);
  background: rgba(255, 255, 255, 0.16);
}
