.Username {
  display: inline;
}

.Username .dcl.blockie {
  margin: 0;
  margin-right: 7px;
}

.Username .dcl.blockie-wrapper {
  display: flex;
  align-items: center;
}

a.Username span.address {
  color: inherit;
}

.Username .Avatar {
  margin-right: 0.5rem;
}

.Username .dcl.blockie-wrapper .dcl.blockie-children {
  margin-left: 0.5rem;
}
