.Username--full {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Username--address {
  display: inline;
}

.Username .dcl.blockie {
  margin: 0;
}

.Username .dcl.blockie-wrapper {
  display: flex;
  align-items: center;
}

a.Username span.address {
  color: inherit;
}

.Username .dcl.address,
.Username .Username__Name {
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Username .dcl.blockie-wrapper .dcl.blockie-children {
  margin-left: 0.5rem;
}
