.Catalyst__Loading {
  display: block;
  color: var(--black-600);
}

.Catalyst__Error {
  display: block;
  color: var(--red-800);
}

.Catalyst__Success {
  display: block;
  color: var(--green-900);
}
