.SubmitHiring__DropdownContainer {
  max-width: 385px;
  margin: 8px 0;
}

.SubmitHiring__DropdownContainer .ui.dropdown > .text,
.SubmitHiring__DropdownContainer .ui.dropdown > .menu .item,
.SubmitHiring__DropdownContainer .ui.dropdown > .dropdown.icon {
  color: var(--black-600);
  text-transform: none;
  font-style: normal;
  font-weight: var(--weight-normal);
  letter-spacing: -0.2px;
  mix-blend-mode: normal;
}

.SubmitHiring__DropdownContainer .ui.dropdown.error {
  border-color: var(--primary);
  background: var(--white-900);
}

.SubmitHiring__DropdownContainer .ui.dropdown.error > .text,
.SubmitHiring__DropdownContainer .ui.dropdown.error > .dropdown.icon {
  color: var(--primary);
}

.SubmitHiring__AddDetail {
  font-style: italic;
  font-weight: var(--weight-normal);
  font-size: 13px;
  line-height: 24px;
  color: var(--black-600);
}

.SubmitHiring__AddressSection,
.SubmitHiring__ReasonsSection,
.SubmitHiring__EvidenceSection {
  padding-bottom: 11px !important;
}

.SubmitHiring__AddressSection .field.address {
  padding-top: 8px;
}
