.CandidateMatch .CandidateMatch__StatsValue {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: var(--black-800);
  top: -16px;
  position: relative;
}

.CandidateMatch .CandidateMatch__Info {
  display: flex;
  width: fit-content;
  position: relative;
  left: 42px;
  top: -16px;
}

.ui.right.center.popup.transition.visible.CandidateMatch__Info--Popup {
  z-index: 3000;
}
