.CandidateDetails--hidden {
  display: none;
}

.CandidateDetails__Title.tiny {
  font-size: 12px !important;
}

.CandidateDetails__Content.Paragraph--small {
  font-size: 15px !important;
}

.CandidateDetails__Content {
  margin-bottom: 24px !important;
}

.CandidateDetails__Content--links a {
  display: inline-flex;
  color: var(--blue);
}

.CandidateDetails__Content--links a>svg {
  margin-right: 6px;
  position: relative;
  top: 0.45em;
}

.CandidateDetails__Content--skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CandidateDetails__Content--skills .Chip {
  opacity: 0.67;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0px 5px;
  margin: 2px;
  font-size: 10px;
  font-weight: 600;
}