.CandidateDetails--hidden {
  display: none;
}

.CandidateDetails__Title.tiny.sub.header {
  font-size: 12px !important;
}

.CandidateDetails__Content {
  color: var(--black-600) !important;
  margin-bottom: 24px !important;
}

.CandidateDetails__Content--links a {
  display: block;
  color: var(--blue-800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CandidateDetails__Content--skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 4px;
}

.CandidateDetails__Chip {
  opacity: 0.67;
  border: 1px solid var(--black-600);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0px 5px;
  margin: 2px;
  font-size: 10px;
  font-weight: var(--weight-semi-bold);
}
