.VotedInitiative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.VotedInitiative svg {
  margin-right: 8px;
}

.VotedInitiative__Title {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--black-800);
  margin: 0;
  flex: 1;
}

.VotedInitiative__Vote {
  max-width: 65px;
  margin: 0 5px;
  font-weight: var(--weight-normal);
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--black-800);
  opacity: 0.6;
}

.VotedInitiative__TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.VotedInitiative__Title,
.VotedInitiative__Vote {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.VotedInitiative__Vote--highlight {
  font-weight: var(--weight-semi-bold);
}

.VotedInitiative__PopupVote {
  padding: 10px;
}

.VotedInitiative__ProposalDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.VotedInitiative__ChoiceTitle:first-letter {
  text-transform: uppercase;
}
