.VotedInitiativeList {
  margin-top: 25px;
  margin-bottom: 10px;
}

.VotedInitiativeList__Title {
  display: flex;
  margin-bottom: 10px;
  font-weight: var(--weight-semi-bold);
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-400);
}

.VotedInitiativeList__List {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
