.VotingPowerDelegationDetail__Header {
  display: flex !important;
  justify-content: flex-start;
}

.VotingPowerDelegationDetail__Content .stats .header {
  font-weight: 500;
  font-size: 11px !important;
  margin-bottom: 0 !important;
  line-height: 18px;
  text-transform: uppercase;
  color: #736e7d;
  border-radius: 0;
}

.VotingPowerDelegationDetail__StatsValue {
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #16141a;
}
