.DelegateButton__Container {
  display: inline-flex;
  align-items: baseline;
}

.DelegateButton__VerticalDisplay {
  display: inline-flex !important;
  align-items: center !important;
  flex-direction: column-reverse;
  gap: 6px;
}

.DelegateButton__Container .ui.header {
  margin: 0 16px 0 0 !important;
}

.DelegateButton__Container .DelegateButton__Container--Global {
  color: inherit;
  display: flex;
  align-items: center;
}

.DelegateButton__Container .ui.header {
  text-align: end;
}

.DelegateButton__Container .DelegateButton__Container--Global > svg {
  margin-left: 5px;
}

.GlobalDelegationPopUp {
  box-sizing: content-box !important;
}

.RevokeDelegationButton {
  border: none !important;
}
