@media (max-width: 374px) {
  .DelegationDetails__StatPlaceholderFullWidth {
    display: none;
  }
}

@media (max-width: 424px) {
  .header.VotingPowerDelegationCandidatesList__Header.VotingPowerDelegationDetail__Header {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    gap: 16px;
    align-items: flex-start !important;
  }

  .VotingPowerDelegationDetail__Header .DelegateButton__Container .ui.tiny.sub.header {
    margin: 0 !important;
  }

  .DelegateButton__Container > button.ui.small.primary.button {
    min-width: 250px;
  }

  .VotingPowerDelegationDetail__Header .DelegateButton__Container {
    margin-right: 0 !important;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .DelegationDetails__StatPlaceholderFullWidth {
    grid-column: 1 / span 1 !important;
  }

  .dcl.stats {
    width: 100%;
    margin-bottom: 0 !important;
    display: block !important;
  }
}

@media (max-width: 768px) {
  .header.VotingPowerDelegationCandidatesList__Header.VotingPowerDelegationDetail__Header {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .CandidateDetails__Container {
    display: flex !important;
    flex-direction: column-reverse;
    margin-top: 0 !important;
  }

  .CandidateDetails__Container {
    flex-wrap: wrap;
    margin-bottom: 24px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 62.5% 35%;
    grid-column-gap: 1rem;
  }

  .VotingPowerDelegationDetail__Content .Info {
    max-height: 330px !important;
  }

  .dcl.stats {
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (max-width: 850px) {
  .DelegationDetails__StatPlaceholder .VotingPower--large {
    font-size: 24px;
  }
}

.VotingPowerDelegationDetail__Header {
  margin-left: 25px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.VotingPowerDelegationDetail__Header .Username {
  margin-left: 15px !important;
}

.VotingPowerDelegationDetail__Header .DelegateButton__Container {
  margin-right: 55px;
}

.VotingPowerDelegationDetail__CandidateName {
  display: inline-flex;
  margin-left: -7px;
}

.VotingPowerDelegationDetail__Content .Info {
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  max-height: 250px;
  overflow: hidden;
}

.VotingPowerDelegationDetail__Content .Info--expanded {
  max-height: 3000px !important;
}

.CandidateDetails__Container {
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 62.5% 35%;
  grid-column-gap: 1rem;
}

.VotingPowerDelegationDetail__Stats {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 501px) {
  .VotingPowerDelegationDetail__Stats {
    margin-bottom: 24px;
    display: grid;
    justify-content: space-between;
    row-gap: 2rem;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-items: stretch;
  }
}

.DelegationDetails__StatPlaceholder {
  margin-right: 10px;
}

.DelegationDetails__StatPlaceholderFullWidth {
  width: 100%;
  grid-column: 1 / span 3;
}

.DelegationDetails__VotingPowerDistribution {
  padding: 1rem 0;
}

.VotingPowerDelegationDetail__Content .Info > .Fadeout {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--white-900) 100%);
}

.VotingPowerDelegationDetail__Content .Info > .Fadeout--hidden {
  display: none;
}

.VotingPowerDelegationDetail__Content .ShowMore {
  margin-bottom: 25px;
}

.VotingPowerDelegationDetail__Content .ShowMore .secondary.button {
  position: relative;
  padding: 2px 10px;
  border-radius: 12px;
  min-width: auto;
  background-color: var(--black-600) !important;
  color: white;
  font-weight: var(--weight-normal);
}

.VotingPowerDelegationDetail__Divider {
  position: relative;
  bottom: -0.8em;
}

.VotingPowerDelegationDetail__Content .stats .header {
  font-weight: var(--weight-semi-bold);
  font-size: 11px !important;
  margin-bottom: 0 !important;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-400);
  border-radius: 0;
}

.VotingPowerDelegationDetail__Loading {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.VotingPowerDelegationDetail__LoaderText {
  margin-top: 115px;
}

.VotingPowerDelegationDetail__StatsValue {
  font-weight: var(--weight-semi-bold);
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: var(--black-800);
}

.VotingPowerDelegationDetail__MatchInfo {
  display: flex;
  width: fit-content;
  position: absolute;
  left: 53px;
}
