.VotingPowerDistribution__Mana {
  background: var(--dcl-primary);
}

.VotingPowerDistribution__Name {
  background: var(--yellow-800);
}

.VotingPowerDistribution__Land {
  background: var(--green-800);
}

.VotingPowerDistribution__Delegated {
  background: var(--blue-800);
}

.VotingPowerDistribution__Estate {
  background: var(--green-900);
}

.VotingPowerDistribution__L1Wearables {
  background: var(--orange-800);
}

.VotingPowerDistribution__Rental {
  background: var(--purple-800);
}

.VotingPowerDistributionBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-bottom: 16px;
}

.VotingPowerDistributionBar__Loading {
  height: 8px;
  border: 0;
}

.VotingPowerDistributionBar--Empty {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.VotingPowerDistribution__Labels {
  display: flex;
}

.VotingPowerDistribution__Labels:last-child {
  margin-right: 0;
}
