.VotingPowerDelegationDetail__Header img.dcl-avatar,
.VotingPowerDelegationDetail__Header .dcl.blockie {
  margin-left: 15px !important;
}

.VotingPowerDelegationDetail__Header .dcl.blockie {
  margin-right: 0 !important;
}

.VotingPowerDelegationDetail__Content .Info {
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  max-height: 250px;
  overflow: hidden;
}

.VotingPowerDelegationDetail__Content .Info--expanded {
  max-height: 2000px;
}

.VotingPowerDelegationDetail__Content .Info > .Fadeout {
  position: sticky;
  bottom: 0em;
  width: 100%;
  height: 4em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.VotingPowerDelegationDetail__Content .Info > .Fadeout--hidden {
  display: none;
}

.VotingPowerDelegationDetail__Content .ShowMore {
  margin-bottom: 25px;
}

.VotingPowerDelegationDetail__Content .ShowMore .secondary.button {
  position: relative;
  padding: 2px 10px;
  border-radius: 12px;
  min-width: auto;
  background-color: var(--gray) !important;
  color: white;
  font-weight: 400;
}

.VotingPowerDelegationDetail__Content .ShowMore .Divider {
  position: relative;
  bottom: -0.9em;
  width: 100%;
  opacity: 0.23;
  border: 1px solid var(--gray);
}

.VotingPowerDelegationDetail__Content .stats .header {
  font-weight: 500;
  font-size: 11px !important;
  margin-bottom: 0 !important;
  line-height: 18px;
  text-transform: uppercase;
  color: #736e7d;
  border-radius: 0;
}

.VotingPowerDelegationDetail__StatsValue {
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #16141a;
}

.Initiatives {
  margin-top: 25px;
}

.Initiatives__Title {
  display: flex;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  color: #736e7d;
}

.Initiatives__List {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Initiative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.Initiative__Title {
  max-width: 500px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #16141a;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Initiative__Vote {
  max-width: 65px;
  margin: 0 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Initiative__Vote--highlight {
  font-weight: 600;
}

.Initiative__PopupVote {
  padding: 10px;
}

.Initiative__ProposalDetails {
  display :flex;
  flex-direction: row;
  align-items: center;
}