.ui.popup.Tooltip {
  background: var(--background);
  color: var(--text);
  min-width: 100px;
  height: auto;
}

.ui.popup.Tooltip::before {
  background: var(--background);
  box-shadow: 0;
}

.ui.popup.Tooltip .content {
  color: var(--text);
}

.ui.header.sub > img.tooltip {
  width: 1.2em;
  margin-left: .5em;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: text-bottom;
}