.FloatingBar {
  display: flex;
  position: fixed;
  bottom: 25px;
  width: 100%;
  height: 48px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease 0s;
  opacity: 1;
  z-index: 2;
}

@media (min-width: 768px) {
  .FloatingBar {
    position: sticky;
  }
}

.FloatingBar__Container {
  display: flex;
  margin: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--black-300);
  background: var(--white-900);
  box-shadow: 0 0 25px 0 var(--alpha-black-400);
  padding: 12px 1em;
}

@media (min-width: 768px) {
  .FloatingBar__Container {
    margin: 0;
  }
}

.FloatingBar--hidden {
  opacity: 0;
  z-index: -1;
}

.FloatingBar__ProposalSectionActions {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  width: 100%;
}

.FloatingBar__Action {
  display: flex;
  align-items: center;
  gap: 2px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black-600);
  font-size: 13px;
  font-family: inherit;
  line-height: 24px;
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
}

.FloatingBar__ReactionsImg {
  height: 24px;
  width: 36px;
  margin-left: 3px;
}

.FloatingBar__ActionButtonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.FloatingBar__ActionButton {
  display: inline-flex !important;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 0 !important;
}

.FloatingBar__LoaderLeft {
  left: 32px !important;
}

.FloatingBar__LoaderRight {
  margin-right: 84px !important;
  position: relative !important;
}
