.FloatingBar {
  position: sticky;
  bottom: 30px;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--black-300);
  background: var(--white-900);
  box-shadow: 0 0 25px 0 var(--alpha-black-400);
  z-index: 200;
  padding: 12px 18px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.FloatingBar--visible {
  opacity: 1;
}

.FloatingBar__ProposalSectionActions {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  width: 100%;
}

.FloatingBar__Action {
  color: var(--black-600);
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  gap: 5px;
  display: flex;
  align-items: center;
}

.FloatingBar__ReactionsImg {
  height: 24px;
  width: 36px;
}

.FloatingBar__JoinDiscussion {
  min-width: 138px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center;
  gap: 8px;
}

.FloatingBar__LoaderLeft {
  left: 32px !important;
}

.FloatingBar__LoaderRight {
  margin-right: 84px !important;
  position: relative !important;
}
