.ui.card.ProposalSummary {
  min-width: auto;
  width: 100%;
  cursor: pointer;
}

.ui.card.ProposalSummary > .content > .header {
  font-size: 21px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ui.card.ProposalSummary > .content > .header .ui.header {
  margin: 0;
  margin-bottom: .2em;
}

.ui.card.ProposalSummary .ProposalSummaryActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}