:root {
  --success: #44B600;
  --text-on-success: #ffffff;
  --rejected: #FF2D55;
  --text-on-rejected: #ffffff;
  --neutral: #736E7D;
  --text-on-neutral: #ffffff;
  --neutral-background: rgba(115, 110, 125, 0.32);
}

.ui.header b {
  font-weight: 600;
}

.ui.card>.content>.header.sub,
.ui.cards>.card>.content>.header.sub {
  color: var(--secondary-text);
}

.dcl.header-menu {
  margin-bottom: 0;
}

.dcl.header-menu .ui.sub.header {
  line-height: 32px;
}

.dcl.blockie-wrapper {
  white-space: nowrap;
}

.dcl.address,
.ui.header pre {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.ui.header pre {
  font-weight: inherit;
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.ui.header .dcl.blockie {
  width: 1em;
  border-radius: .1em;
}

.ui.header .dcl.blockie-wrapper .dcl.blockie-children {
  margin-left: .2em;
}

b.primary {
  color: var(--primary)
}