body {
  background: var(--background);
}

.dcl.navbar.LayoutNavbarContainer {
  margin-bottom: 0;
  border-bottom: 0;
}

.dcl.navbar.LayoutNavbarContainer.initial {
  background-color: var(--background);
}

.ui.container > .SignIn {
  position: relative;
}

.ui.button svg {
  vertical-align: text-bottom;
}

.ui.ui.popup,
.ui.ui.popup.inverted {
  height: auto;
}

.ui.ui.popup.inverted {
  height: auto;
  background-color: var(--background);
}

.ui.ui.popup {
  height: auto;
  background-color: var(--background-popup) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ui.ui.bottom.center.popup::before,
.ui.ui.top.center.popup::before {
  background: var(--background-popup) !important;
}

.ui.top.center.popup:before,
.ui.top.left.popup:before,
.ui.top.right.popup:before,
.ui.inverted.top.center.popup:before,
.ui.inverted.top.left.popup:before,
.ui.inverted.top.right.popup:before {
  bottom: -5px !important;
}

.ui.bottom.popup:before,
.ui.left.center.popup:before,
.ui.right.center.popup:before,
.ui.top.popup:before,
.u.ui.popup::before,
.ui.ui.popup.bottom::before,
.ui.ui.popup.top.bottom::before {
  background: var(--background-popup) !important;
  bottom: -5px !important;
}

.ui.ui.popup.inverted .content {
  color: var(--text);
}

.dg.Link i.icon {
  font-size: 1em;
  vertical-align: text-top;
}

.dcl.field.field {
  padding-top: 4px;
}

.dg.Textarea .ui.input textarea,
.dcl.field.field .ui.input input,
.dcl.select-field.select-field .ui.search.selection.dropdown {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 6px;
  padding: 8px 8px 8px;
}

.dcl.select-field.select-field .ui.dropdown.visible .menu {
  border-radius: 0 0 6px 6px;
  margin: 1px 0 0 0;
  padding: 0 0 8px 0;
}
.dcl.select-field.select-field .ui.dropdown.visible.upward .menu {
  border-radius: 6px 6px 0 0;
  margin: 0 0 1px 0;
  padding: 8px 0 0 0;
}

.dcl.select-field.select-field .ui.dropdown .dropdown.icon {
  padding: 11px;
}

.dcl.select-field.select-field .ui.search.dropdown > input.search {
  padding: 8px;
  border-radius: 6px;
}

.dcl.field.field.address .dcl.blockie {
  right: 10px;
  top: 14px;
}

.ui.icon.input > i.icon {
  right: 5px;
  top: 9px;
}

.dg.Textarea.error .ui.input textarea,
.dcl.field.error .ui.input input {
  border-color: var(--error);
  border-bottom-width: 2px;
}

.dcl.field.field .ui.input input:focus,
.dcl.field .ui.input input:active,
.ui.form .dcl.field .ui.input input:focus,
.ui.form .dcl.field .ui.input input:active {
  border-color: var(--text);
}

::placeholder {
  color: #cacaca;
  opacity: 1;
}

.dcl.select-field .divider.default.text {
  color: #cacaca !important;
  opacity: 1 !important;
}

:root {
  --yellow: #ffb03f;
  --light-yellow: #fef7d2;
  --light-fuchsia: #ffe4ff;
  --fuchsia: #ff5afe;
  --light-green: #e1f3d6;
  --green: #44b600;
  --light-red: #f9d6dc;
  --red: #d80027;
  --light-blue: #e2ecfc;
  --blue: #4888ee;
  --gray: #a19ea8;
  --white: #ffffff;
  --light-orange: #ffe9df;
  --orange: #ff7439;
  --black-100: rgba(115, 110, 125, 0.16);
  --black-600: #736e7d;
  --purple: #3c24b3;
  --light-purple: #e0dcf3;
  --dao-footer-height: 156px;
  --dao-header-height: 64px;
  --dao-navigation-height: 89px;
  --background-catalyst: var(--blue);
  --background-poi: var(--green);
  --background-ban-name: var(--fuchsia);
  --background-grant: var(--purple);
  --background-poll: var(--orange);
  --background-remove-poi: #ff247c;
  --background-happy-green: var(--green);
  --background-linked-wearables: var(--yellow);
  --background-popup: #5c5c6e;
}

.ui.inverted.primary.button:active,
.ui.inverted.primary.buttons .button:active,
.ui.inverted.primary.button:focus,
.ui.inverted.primary.buttons .button:focus {
  background-color: var(--primary);
}

@media only screen and (min-width: 992px) {
  .tabletOnly.tabletOnly.tabletOnly {
    visibility: hidden;
  }
  .mobileOnly.mobileOnly.mobileOnly {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .screenOnly.screenOnly.screenOnly {
    visibility: hidden;
  }
  .mobileOnly.mobileOnly.mobileOnly {
    visibility: hidden;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .screenOnly.screenOnly.screenOnly {
    visibility: hidden;
  }
  .tabletOnly.tabletOnly.tabletOnly {
    visibility: hidden;
  }
}

.ui.modal > .dcl.close,
.ui.modal > .dcl.close,
.dcl.close {
  background-color: var(--background) !important;
}
