:root {
  /* Base Colors */
  --aqua-200: rgba(0, 182, 138, 0.08);
  --aqua-800: rgba(0, 182, 138, 1);
  --iris-100: #5d5fef;
  --yellow-100: rgba(178, 96, 0, 0.16);
  --yellow-200: rgba(254, 247, 210, 1);
  --yellow-800: #b36000;
  --yellow-900: #ffb03f;
  --fuchsia-200: rgba(255, 228, 255, 1);
  --fuchsia-500: #a524b3;
  --fuchsia-800: rgba(255, 90, 254, 1);
  --green-200: rgba(225, 243, 214, 1);
  --green-800: rgba(68, 182, 0, 1);
  --green-900: rgba(50, 133, 0, 1);
  --red-100: rgba(216, 0, 39, 0.16);
  --red-200: rgba(249, 214, 220, 1);
  --red-800: rgba(216, 0, 39, 1);
  --blue-200: rgba(226, 236, 252, 1);
  --blue-600: rgba(137, 186, 255, 1);
  --blue-800: rgba(72, 136, 238, 1);
  --blue-900: rgba(88, 101, 242, 1);
  --white-900: rgba(255, 255, 255, 1);
  --orange-200: rgba(255, 233, 223, 1);
  --orange-800: rgba(255, 116, 57, 1);
  --black-100: rgba(22, 20, 26, 0.1);
  --black-200: rgba(243, 242, 245, 1);
  --black-300: rgba(221, 220, 224, 1);
  --black-400: rgba(185, 183, 190, 1);
  --black-600: rgba(115, 110, 125, 1);
  --black-700: rgba(55, 51, 61, 1);
  --black-800: rgba(22, 20, 26, 1);
  --purple-200: rgba(224, 220, 243, 1);
  --purple-800: rgba(60, 36, 179, 1);

  /* Alpha Colors */
  --alpha-black-200: rgba(115, 110, 125, 0.1);
  --alpha-black-300: rgba(115, 110, 125, 0.24);
  --alpha-black-400: rgba(115, 110, 125, 0.32);
  --alpha-blue-200: rgba(226, 236, 252, 0.34);
  --alpha-fuchsia-200: rgba(255, 90, 254, 0.16);
  --alpha-fuchsia-500: rgba(255, 90, 254, 0.5);
  --alpha-green-200: rgba(68, 182, 0, 0.16);
  --alpha-green-400: rgba(68, 182, 0, 0.4);
  --alpha-red-400: rgba(216, 0, 39, 0.4);
  --alpha-orange-200: rgba(255, 116, 57, 0.16);
  --alpha-purple-200: rgba(60, 36, 179, 0.16);

  /* Gradient Colors */
  --gradient-green: linear-gradient(90deg, rgba(1, 127, 10, 1) 0%, rgba(0, 191, 217, 1) 100%);
  --gradient-red-1: linear-gradient(90deg, rgba(255, 0, 46, 1) 0%, rgba(64, 95, 205, 1) 100%);
  --gradient-red-2: linear-gradient(90deg, rgba(216, 0, 39, 1) 0%, rgba(255, 0, 46, 1) 100%);
  --gradient-purple-1: linear-gradient(90deg, rgba(198, 64, 205, 1) 0%, rgba(64, 95, 205, 1) 100%);
  --gradient-purple-2: linear-gradient(90deg, rgba(219, 0, 255, 1) 0%, rgba(132, 17, 144, 1) 100%);
  --gradient-purple-3: linear-gradient(90deg, rgba(165, 36, 179, 1) 0%, rgba(132, 17, 144, 1) 100%);

  /* Brand Colors */
  --dcl-primary: rgba(255, 45, 85, 1);

  /* Background Colors */
  --background-catalyst: rgba(72, 136, 238, 0.08);
  --background-poi: rgba(68, 182, 0, 0.08);
  --background-ban-name: rgba(255, 90, 254, 0.08);
  --background-grant: rgba(60, 36, 179, 0.08);
  --background-poll: rgba(255, 116, 57, 0.08);
  --background-hiring: rgba(0, 182, 138, 0.08);
  --background-add-hiring: rgba(68, 182, 0, 0.08);
  --background-remove-hiring: var(--red-100);
  --background-remove-poi: var(--red-100);
  --background-linked-wearables: rgba(255, 176, 63, 0.2);
  --background-pitch: rgba(216, 0, 39, 0.08);
  --background-popup: rgba(92, 92, 110, 1);
  --background-disabled: rgba(249, 248, 249, 1);
  --background-banner-gradient: linear-gradient(89.29deg, #f6f5f8 0%, rgba(246, 245, 248, 0) 100%);

  /* Borders */
  --border-color-default: rgba(34, 36, 38, 0.15);

  /* Sizes */
  --dao-footer-height: 156px;
  --dao-header-height: 64px;
  --dao-navigation-height: 89px;
  --dao-sidebar-width: 284px;

  /* Font Weights */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* Transitions */
  --card-transition: box-shadow 0.1s ease, transform 0.1s ease;

  /* Avatar Colors */
  --avatar-color-01: #4e79a7;
  --avatar-color-23: #f28e2c;
  --avatar-color-45: #e15759;
  --avatar-color-67: #76b7b2;
  --avatar-color-89: #59a14f;
  --avatar-color-ab: #edc949;
  --avatar-color-cd: #af7aa1;
  --avatar-color-ef: #ff9da7;

  --z-index-loader: 1000;
}

body {
  background: var(--background);
}

::placeholder {
  color: #cacaca;
  opacity: 1;
}

/* TODO: Move this to modal components */
.GovernanceContentModal.ui.modal {
  padding: 24px !important;
}

.GovernanceActionModal.ui.modal {
  padding: 32px !important;
}

@media only screen and (min-width: 768px) {
  .GovernanceActionModal.ui.modal {
    padding: 64px !important;
  }
}

.GovernanceContentModal.ui.modal > .content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.GovernanceActionModal.ui.modal > .content {
  margin: 0 !important;
  padding: 0 !important;
}
