.dcl.navbar.LayoutNavbarContainer {
  margin-bottom: 0;
  border-bottom: 0;
}

.dcl.navbar.LayoutNavbarContainer.initial {
  background-color: var(--background);
}

.ui.container > .SignIn {
  position: relative;
}

.ui.button svg {
  vertical-align: text-bottom;
}

.ui.ui.popup,
.ui.ui.popup.inverted {
  height: auto;
}

.ui.ui.popup.inverted {
  height: auto;
  background-color: var(--background);
}

.ui.ui.popup {
  height: auto;
  background-color: var(--background-popup) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ui.ui.bottom.center.popup::before,
.ui.ui.top.center.popup::before {
  background: var(--background-popup) !important;
}

.ui.top.center.popup:before,
.ui.top.left.popup:before,
.ui.top.right.popup:before,
.ui.inverted.top.center.popup:before,
.ui.inverted.top.left.popup:before,
.ui.inverted.top.right.popup:before {
  bottom: -5px !important;
}

.ui.bottom.popup:before,
.ui.left.center.popup:before,
.ui.right.center.popup:before,
.ui.top.popup:before,
.u.ui.popup::before,
.ui.ui.popup.bottom::before,
.ui.ui.popup.top.bottom::before {
  background: var(--background-popup) !important;
  bottom: -5px !important;
}

.ui.ui.popup.inverted .content {
  color: var(--text);
}

.dg.Link i.icon {
  font-size: 1em;
  vertical-align: text-top;
}

.dcl.field.field {
  padding-top: 4px;
}

.dg.Textarea .ui.input textarea,
.dcl.field.field .ui.input input,
.dcl.select-field.select-field .ui.search.selection.dropdown {
  border: 1px solid var(--border-color-default);
  border-radius: 6px;
  padding: 8px 8px 8px;
}

.dcl.text-area textarea {
  border-width: 1px !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.dcl.text-area .message {
  text-align: right;
}

.dcl.text-area > textarea {
  border-color: var(--border-color-default) !important;
}

.dcl.text-area.error > textarea {
  border-color: var(--red-800) !important;
}

.dcl.text-area .info {
  display: none;
}

.dcl.text-area.info > .message {
  color: var(--black-600) !important;
}

.dcl.select-field.select-field .ui.dropdown.visible .menu {
  border-radius: 0 0 6px 6px;
  margin: 1px 0 0 0;
  padding: 0 0 8px 0;
}

.dcl.select-field.select-field .ui.dropdown.visible.upward .menu {
  border-radius: 6px 6px 0 0;
  margin: 0 0 1px 0;
  padding: 8px 0 0 0;
}

.dcl.select-field.select-field .ui.dropdown .dropdown.icon {
  padding: 11px;
}

.dcl.select-field.select-field .ui.search.dropdown > input.search {
  padding: 8px;
  border-radius: 6px;
}

.ui.icon.input > i.icon {
  right: 5px;
  top: 9px;
}

.dg.Textarea.error .ui.input textarea,
.dcl.field.error .ui.input input {
  border-color: var(--error);
  border-bottom-width: 1px;
}

.dcl.field.field .ui.input input:focus,
.dcl.field .ui.input input:active,
.ui.form .dcl.field .ui.input input:focus,
.ui.form .dcl.field .ui.input input:active {
  border-color: var(--text);
  border-bottom-width: 1px;
}

.ui.modal .field .ui.input input {
  border-bottom-color: var(--border-color-default);
}

.dcl.field.error .ui.input input,
.ui.form .dcl.field.error .ui.input input {
  border-color: var(--error) !important;
  border-bottom: 1px solid var(--error) !important;
}

.dcl.select-field .divider.default.text {
  color: #cacaca !important;
  opacity: 1 !important;
}

.ui.inverted.primary.button:active,
.ui.inverted.primary.buttons .button:active,
.ui.inverted.primary.button:focus,
.ui.inverted.primary.buttons .button:focus {
  background-color: var(--primary);
}

@media only screen and (min-width: 992px) {
  .tabletOnly.tabletOnly.tabletOnly {
    visibility: hidden;
  }

  .mobileOnly.mobileOnly.mobileOnly {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .screenOnly.screenOnly.screenOnly {
    visibility: hidden;
  }

  .mobileOnly.mobileOnly.mobileOnly {
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .screenOnly.screenOnly.screenOnly {
    visibility: hidden;
  }

  .tabletOnly.tabletOnly.tabletOnly {
    visibility: hidden;
  }
}

.ui.modal > .dcl.close,
.ui.modal > .dcl.close,
.dcl.close {
  background-color: var(--background) !important;
}

.dcl.login-modal .dcl.option {
  width: 100% !important;
}

.ui .dcl.back {
  margin: 0 !important;
}
