.Action {
  display: block;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 9px rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 16px;
}

.Action .Action__Icon {
  --size: 32px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Action .Action__Icon svg {
  --iconSize: 20px;
  width: var(--iconSize);
  height: var(--iconSize);
}

.Action .Action__Icon svg path {
  fill: white;
}

.Action .Action__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.Action .Action__Description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.Action .ui.grid .column:last-child {
  padding-left: 0;
}
