.Action {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 9px rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.Action__Information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Action__Icon {
  --size: 32px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: var(--size);
  height: var(--size);
  padding: 8px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Action:first-child .Action__Icon {
  padding: 5px;
}

.Action__Icon svg {
  --iconSize: 20px;
  width: var(--iconSize);
  height: var(--iconSize);
}

.Action__Icon svg path {
  fill: var(--white-900);
}

.Action__Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Action__Title {
  font-weight: var(--weight-semi-bold);
  font-size: 16px;
  line-height: 19px;
  color: var(--white-900);
}

.Action__Description {
  font-weight: var(--weight-normal);
  font-size: 14px;
  line-height: 17px;
  color: var(--white-900);
}
