.BottomBanner {
  background: linear-gradient(180deg, #a524b3 0%, var(--primary) 100%);
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .BottomBanner {
    padding: 28px 25px 28px 44px;
  }
}

.BottomBanner .ui.grid.stackable > .row > .column {
  padding: 14px 0 !important;
}

@media (min-width: 768px) {
  .BottomBanner .ui.grid.stackable > .row > .column {
    padding: 14px !important;
  }
}

.BottomBanner .BottomBanner__Title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  color: var(--white-900);
  max-width: 480px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .BottomBanner .BottomBanner__Title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
  }
}

.BottomBanner .BottomBanner__Stats {
  display: none;
}

@media (min-width: 768px) {
  .BottomBanner .BottomBanner__Stats {
    display: inline-flex;
  }
}

.BottomBanner .BottomBanner__Stats > .Stat {
  margin-right: 96px;
}

.BottomBanner .BottomBanner__Actions .Action:not(:last-child) {
  margin-bottom: 16px;
}
