.BottomBanner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(180deg, var(--fuchsia-500) 0%, var(--primary) 100%);
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px 15px;
  width: 100%;
}

.BottomBanner__Info {
  padding-bottom: 24px;
}

.BottomBanner .BottomBanner__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  color: var(--white-900);
  margin-bottom: 0;
}

.BottomBanner .BottomBanner__Stats {
  display: none;
}

.BottomBanner .BottomBanner__Stats > .Stat {
  margin-right: 74px;
}

.BottomBanner .BottomBanner__Actions .Action:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .BottomBanner {
    padding: 28px 25px 28px 44px;
    flex-direction: row;
  }

  .BottomBanner__Info {
    padding-bottom: 0;
  }

  .BottomBanner .BottomBanner__Title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
    max-width: 480px;
  }

  .BottomBanner .BottomBanner__Stats {
    display: inline-flex;
  }
}

@media (min-width: 992px) {
  .BottomBanner .BottomBanner__Stats > .Stat {
    margin-right: 96px;
  }
}
