.Stat .Stat__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -1px;
  color: var(--white-900);
}

.Stat .Stat__Description {
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--white-900);
}
