.GrantRequest__Head {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  height: 64px;
  background-color: var(--white-900) !important;
  z-index: 2;
}

.GrantRequest__Logo {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.GrantRequest__Logo--visible {
  opacity: 1;
}

.GrantRequest__CancelButton {
  margin: 0 !important;
  padding: 0 !important;
}

.GrantRequest_HeaderTitle {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0.4px;
  color: var(--black-800);
  margin: 0;
}

.GrantRequest__Header {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  font-size: 24px;
  font-weight: var(--weight-semi-bold);
  line-height: 42px;
  letter-spacing: 0.4px;
  text-align: left;
}

.GrantRequest__HeaderDescription {
  margin-left: 61px;
  font-size: 17px !important;
  line-height: 26px !important;
  letter-spacing: -0.2px !important;
  text-align: left;
}

.GrantRequest__Error {
  margin-top: 40px;
}

.GrantRequest__SubmissionVpNotMetText {
  margin-top: 24px !important;
}
