.dcl.field,
.dcl.select-field,
.dcl.select-field .ui.selection.dropdown {
  min-width: auto;
}

.ui.input.input--disabled input {
  pointer-events: none;
  border: 1px solid var(--border-color-default);
  border-radius: 6px;
  padding: 8px 8px 8px;
  opacity: 0.45;
}

.ui.input.input--disabled + .overlay .ui.button {
  opacity: 0.45;
}

.ui.dropdown > .text {
  color: var(--black-800);
}

.dcl.field .ui.sub.header,
.dcl.select-field .ui.sub.header {
  text-transform: none;
  font-size: 15px;
}

.dcl.field .message {
  text-align: right;
}

.ContentLayout .ContentLayout__Section .ui.radio.checkbox label {
  font-size: 17px;
}

.ProposalSubmit__RadioLabelText {
  font-size: 15px !important;
  line-height: 18px !important;
  color: var(--black-400) !important;
}

.ContentLayout .ContentLayout__Section .ui.radio.checkbox input.hidden ~ label:before {
  border-color: var(--black-400);
}

.ContentLayout .ContentLayout__Section .ui.radio.checkbox input.hidden ~ label:hover:before {
  border: 2px solid var(--secondary-text);
}

.ContentLayout__Section.GrantSize .dcl.field {
  width: 100%;
  max-width: 300px;
}

.ContentLayout__Section.GrantSize .dcl.field .ui.input input {
  padding-right: 70px;
}

.SectionList {
  width: 80%;
  margin: auto;
  text-align: center;
}

.SectionList .overlay {
  bottom: 32px !important;
  right: 2px !important;
}

.SectionList .ui.button,
.SectionList .ui.button:hover {
  height: 42px !important;
  background: white !important;
}

.ProgrammaticallyGeneratedRadioButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.SubmitPage__Header {
  text-transform: uppercase;
}
