.UpdateSubmit__ProjectHealthContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .UpdateSubmit__ProjectHealthContainer {
    flex-direction: row;
  }
}

.UpdateSubmit__Actions {
  display: flex;
  justify-content: space-between;
}
