.BudgetBannerItem {
  height: 50px;
}

.BudgetBannerItem__Value {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: var(--black-800);
}

.BudgetBannerItem__Label {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: var(--weight-normal);
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--black-600);
}
