.CurrentProjectsList {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}

.CurrentProjectsList__TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.CurrentProjectsList__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-600);
  margin-bottom: 13px;
}

.CurrentProjectsList__Filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .CurrentProjectsList__Filters {
    flex-direction: row;
    align-items: center;
  }
}

.CurrentProjectsList__Container {
  display: grid;
  grid-gap: 14px;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .CurrentProjectsList__Container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: subgrid;
    grid-gap: 22px;
  }
}
