.ProjectsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  color: var(--white-900);
  gap: 50px;
  background: linear-gradient(180deg, var(--fuchsia-500) 0%, var(--dcl-primary) 100%);
  box-shadow: 0 6px 24px rgba(253, 45, 88, 0.3);
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .ProjectsBanner {
    flex-direction: row;
  }

  .ProjectsBanner__Items {
    width: auto;
  }

  .ProjectsBanner__ItemsDivider {
    width: 293px !important;
  }
}

.ProjectsBanner__Title {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -1px;
  color: var(--white-900);
}

.ProjectsBanner__Description {
  font-style: normal;
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: var(--white-900);
}

.ProjectsBanner__Items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  width: 100%;
}

.ProjectsBannerItem_Text {
  display: flex;
  flex-direction: column;
}
