.StatsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

@media (min-width: 768px) {
  .StatsContainer {
    flex-direction: row;
  }
}
