.Banner {
  align-items: center;
  align-content: stretch;
  position: relative;
  padding: 16px 16px 16px 20px;
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 8px;
  outline: 1px solid #0000000a;
}

.Banner--blue {
  background-color: var(--blue-200);
}

.Banner--purple {
  background: var(--alpha-purple-200);
}

.Banner .Banner__Icon {
  flex: 0 0 68px;
  height: 48px;
  display: none;
  justify-content: center;
  align-items: center;
}

.Banner .Banner__Icon img {
  position: relative;
  height: 100%;
  width: auto;
}

.Banner .Banner__Description {
  flex-grow: 1;
  margin-right: 10px;
}

.Banner > .dcl.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background-color: #f1f6fe;
  z-index: 8;
}

.Banner__Button--blue {
  background-color: var(--blue-800) !important;
}

.Banner__Button--purple {
  background-color: var(--iris-100) !important;
}

.Banner__Text {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .Banner .Banner__Content {
    display: contents;
    flex-direction: column;
    width: 100%;
    text-align: initial;
  }

  .Banner .Banner__ButtonContainer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    z-index: 1;
  }

  .Banner .Banner__Button {
    padding-left: 0;
    padding-right: 0;
    min-width: 87px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .Banner {
    display: flex;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .Banner .Banner__Icon {
    display: flex;
    padding-right: 20px;
  }

  .Banner .Banner__Content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .Banner .Banner__ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2em;
  }

  .Banner__Button {
    position: relative;
  }
}
