name: Heroku build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Branch name to build and deploy'
        required: true
        default: 'master'

jobs:
  build-push:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.8.0
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: Set up Git
        run: git config --global url."https://github.com/".insteadOf "ssh://git@github.com/"

      - name: Install dependencies
        run: npm ci

      - name: Set Heroku App Name
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" || "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            HEROKU_APP_NAME=governance-pr-${{ github.event.number }}
          else
            HEROKU_APP_NAME=dcl-governance
          fi
          echo "HEROKU_APP_NAME=$HEROKU_APP_NAME" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t governance:${{ github.sha }} \
                       --build-arg version_number=${{ github.sha }} \
                       --build-arg heroku_app_name=$HEROKU_APP_NAME .

      - name: Log in to Heroku Container Registry
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login

      - name: Tag and Push to Heroku
        run: |
          docker tag governance:${{ github.sha }} registry.heroku.com/$HEROKU_APP_NAME/web
          docker push registry.heroku.com/$HEROKU_APP_NAME/web

      - name: Enable Heroku Dyno Metadata
        if: github.event_name == 'pull_request'
        run: heroku labs:enable runtime-dyno-metadata -a $HEROKU_APP_NAME
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

      - name: Release the Image
        id: release-image
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release web -a $HEROKU_APP_NAME
