name: Pull request build

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18.8.0
          registry-url: https://registry.npmjs.org/
          cache: 'npm'

      - name: set up git
        run: git config --global url."https://github.com/".insteadOf "ssh://git@github.com/"

      - name: installing
        run: npm ci

      # TODO: enabled linters
      # - name: linters
      #   uses: wearerequired/lint-action@v1
      #   with:
      #     prettier: true
      #     prettier_extensions: ts,tsx,js,jsx,json,md
      #     continue_on_error: false

      - name: testing
        run: npm test
        env:
          DISCOURSE_API_KEY: "DISCOURSE_API_KEY"

      - name: building
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
        run: npm run build
